[2018-06-22 11:47] bmaschio commented on #136
include "string_utils.iol"

main{

  requestMatch = request.host;
  requestMatch.regex = "\\";
  find@StringUtils(requestMatch)(responseMarch);
  if (responseMarch >0){
     requestRaplaceAll = request.host;
     requestRaplaceAll.regex =  "\\";
     requestRaplaceAll.replacement = "\\\\"
     ​replaceAll@StringUtils(requestRaplaceAll)(_host)
  }else{
    _host = request.host
  }

}

[2018-06-22 11:48] fmontesi commented on #136
2nd line of your main, you're not closing the string.

"\" -> "\\" or "\""

Cheers,
F

[2018-06-22 11:52] fmontesi commented on #136
that happens also later, inside of the conditional (if, then branch).

[2018-06-22 11:54] bmaschio commented on #136
![image](https://user-images.githubusercontent.com/12083716/41775284-a2d12a2e-7623-11e8-849a-30cebefa8048.png)

it gives the error line 14
also with jolie 1.6.3

[2018-06-22 12:02] bmaschio commented on #136
include "string_utils.iol"

main{

  requestMatch = "10.101.50.74\\web";
  requestMatch.regex = "\\";
  find@StringUtils(requestMatch)(responseMarch);
  if (responseMarch >0){
     requestRaplaceAll = "10.101.50.74\\web";
     requestRaplaceAll.regex =  "\\";
     requestRaplaceAll.replacement = "\\\\";
     ​replaceAll@StringUtils(requestRaplaceAll)(_host)
  }else{
    _host = "10.101.50.74\\web"

[2018-06-22 12:34] fmontesi commented on #136
Still no error here (Jolie 1.6.4-git)

[2018-06-22 13:05] bmaschio commented on #136
Ok then will wait for 1.6.4

[2018-06-22 13:14] #136 closed

[2018-07-27 15:12] fmontesi commented on #124
OK, here's a typical Gordian Knot solution: let's pass a parameter to JsonUtils that tells whether we should write `{}` (the default in case of no parameter specified) or `null` for void values with no children.

@jacopoMauro Does that smell OK for your examples?
@jolie/developers What do you think?

[2018-08-16 12:27] Krohmium opened #144 "Unable to use installer on linux"
I'm on Kubuntu 18.04 and tried it with current OpenJDK and Oracle Java 10.
I tried installing jolie by installer on Linux and it always abort with interupt exceptions:

[code]
When trying to install version 1.5 I get a slightly different error:

[code]

and then it hangs.

In Version 1.5 it seems like the installer is looking in the wrong path.

Install with ant works perfectly fine

[2018-08-20 07:09] fmontesi commented on #144
Thanks for the report. We don't support Java 9 or above yet, due to the new module system that doesn't include some libraries we use that were previously included by default. The recommended solution is to include these libraries in the project, we're working on that. Will repost here when done.

[2018-08-21 10:44] fmontesi commented on #144
Should work now in Jolie 1.7.0. Let us know if the issue appears again! :-)

[2018-08-21 10:44] #144 closed

[2018-09-20 13:50] bmaschio opened #146 "Extra & on HTTP GET query"
@jolie/developers
Hi everyone
Just playing around with HTTP GET operation I have noticed that query string has always an extra & on the end like in the example  **?term1&term2&**
It seems to cause no problems in general when calling a HTTP REST Service but i think could be confusing to the developer when debugging the content of the HTTP message

I have found the place where the issue is created

[2018-09-25 12:06] mwallnoefer commented on #146
I would express it a bit differently:
[code]

[2018-09-25 12:13] bmaschio commented on #146
yep much better like that

[2018-09-29 05:42] fmontesi commented on #146
Thank you both! Can somebody prepare a pull request? :-)

[2018-10-24 16:46] PhillWide opened #154 "Jolie discards base value when sending custom type"
Both services demonstrating lost value and screenshot attached.
Expected value: receive 2 in the root of the sent variable.

![screenshot from 2018-10-24 18-07-12](https://user-images.githubusercontent.com/13239797/47446996-c42e6b00-d7bc-11e8-8d62-618cec5ad490.png)

[Sender](https://github.com/jolie/jolie/files/2511440/A.ol.txt)
[Receiver](https://github.com/jolie/jolie/files/2511441/B.ol.txt)
[In

[2018-10-24 17:57] fmontesi commented on #154
Curious... looks like a problem in
[code]
inside of `SoapProtocol.java`.

@klag I remember you looked at that last. Can you give us a diagnosis? :-)

[2018-10-24 18:08] bmaschio commented on #154
@PhillWide
Welcome and thanks for your question.
Let's start from you B.ol

[code]
In my version I have removed the println because you can use jolie  --trace  b.ol ( it gives you the possibility to see all the messages in your code
I also added

[code]
this helps you to debug the actual message passing through the port
When I run it with my A.ol

[code]

I get

[B.ol]  1.      ^ LOAD  Java Servic

[2018-10-25 05:09] fmontesi commented on #154
Yes. See also #5

[2018-10-25 06:59] klag commented on #154
It was a design choice. SOAP protocol in jolie has been introduced for dealing with web services that always provide a WSDL document for defining the interface. In a WSDL there is the tag <message> which represents how compose a message in a soap body together with some other information within the <binding>. We decided to always map a wsdl <message> with a void root value jolie type, just because

[2018-10-25 07:11] fmontesi commented on #154
@klag There is no WSDL involved here. The root node should appear according to what we discussed in #5

I see that `dropRootValue` is `false` by default, so there might be a bug here. Don't you agree?

[2018-12-14 17:05] pedramha opened #163 "Supported communication mechanism"
Hi,
I would like to know if Jolie supports Polling and pub/sub in addition to request response.
Thanks

[2018-12-15 11:17] bmaschio opened #164 "ValueToXML with xsd restriction"
@jolie/developers

Recently I have been working with a specific XSD to create an electronic invoicing
In the XSD document, there are some definition like the example

[code]
in the current version of Jolie the trasformation of Decimal follow this rule: 10.20 becames 10.2 this creates a bit a problem with this particular application.
How would be a way to incorporate the pattern check in the ValueT

[2018-12-16 09:45] fmontesi commented on #163
Yes. These kinds of patterns are usually implemented by exposing an input port with some OneWay operation on which the receiver wishes to be "polled" or receive messages it subscribed for.

If you have some specific example, people are typically helpful on stackoverflow (remember to use the tag "jolie", or you risk your question going unnoticed).

[2018-12-21 00:49] andersfylling opened #165 "Writing to json file gives an empty struct"
[code]

Error:
[code]

Exception thrown from func: https://github.com/jolie/jolie/blob/f7dd33fc57c11f04656a772cffb3de400f0430ea/lib/jolie-js/src/jolie/js/JsUtils.java#L221

Contents of json file:
[code]

[2018-12-21 17:03] andersfylling commented on #165
Both failed it seemed?

[code]

and for alias
[code]

[2018-12-21 18:00] klag commented on #165
Unfortunaltely, at the present, you cannot use deep copy (<<) or alias (->) operators  within an inline request declaration. Try to assign `.content` before the `writeFile`:
`.content << data;
writeFile@File({.content, .filename="./service.json",.format="json"})()`

[2018-12-21 18:02] klag commented on #165
Unfortunaltely, at the present, you cannot use deep copy (<<) or alias (->) operators within an inline request declaration. Try to assign .content before the writeFile:
`with( req ) {
    .content << data;
    .filename="./service.json";
    .format="json"
};`
writeFile@File( req )()

[2018-12-21 19:49] andersfylling commented on #165
Is there a way to remove the escaping that takes place?

I get
`"exec": "\/usr\/bin\/curl -o \/dev\/null --fail -s http:\/\/localhost:8000\/health",`

While I would want
`"exec": "/usr/bin/curl -o /dev/null --fail -s http://localhost:8000/health",`

[2019-01-23 14:48] mwallnoefer commented on #55
I think that we started to do so, hence we could close this one?

[2019-01-23 14:50] fmontesi commented on #55
Correct. Done :)

[2019-01-23 14:50] #55 closed

[2019-01-23 14:58] mwallnoefer opened #167 "Classloading problem on Windows"
In _test/extensions/private/WS-test/lib/WS-testService.iol_ there is written:
[code]

This works on Linux/Unix since `toAbsolutePath@File()` yields a path of the form `/.../lib/jaxws/...` which is different from the result on Windows which is structured like `C:\...\lib\jaxws\...`. The latter (even with slashes instead of backslashes) is not understood by the Java class-loader in `loadLibrary@Runt

[2019-01-29 19:44] mwallnoefer commented on #167
Fixed by b61aa88fe64beba74eb6c7bcb5eddd373fdcc55b.

[2019-01-29 19:44] #167 closed

[2019-02-10 15:45] klag opened #168 "list@Files returns an empty first element"
list@File always returns a first empty element. Is it ok?

Such a feature is confirmed by the test where we test the content of a folder with three items but the expected result is 4.

if ( #response.result != 4 ) {
		throw( TestFailed, "list@File: wrong number of results. Expected 4, got " + #response.result )
	};

[2019-02-19 13:33] fmontesi commented on #168
Fixed. :-)

[2019-02-19 13:33] #168 closed

[2019-02-21 19:48] #163 closed

[2019-02-21 19:55] fmontesi commented on #81
This thing has come up again lately when developing caching mechanisms. It's not strong enough yet to motivate me to actually open a code editor and add the feature, but I'm putting it here for future reference. ;-)

I have a few remote resources that I want to cache locally (for speed/resilience) and update periodically (to keep them fresh). Without faults, the code looks like this:

[code]

Howe

[2019-04-20 19:55] fmontesi commented on #9
This is now fixed in master.
An SR timeout throws the Timeout fault. The response timeout is configurable from command line (parameter --responseTimeout).

[2019-04-20 19:55] #9 closed

[2019-04-25 14:53] fmontesi commented on #154
@klag Any news here?

[2019-04-25 15:38] klag commented on #154
he problem is the management of mixed contents on the reception side. At the present, the implementation does not read the root value of a  mixed content element. Indeed, if you just send x = 3, the number is correctly sent. It is because there are no other elements inside the request.

Such a behaviour is recursively applied to all the nodes of a message and it has been introduced for dealing als

[2019-04-26 08:37] klag opened #176 "Bug in courier definition"
If you run the following service, just a "null" appears on the console:

`include "console.iol"
include "time.iol"

interface TestInterface {
  RequestResponse:
    test
}

interface TestInterface2 {
  RequestResponse:
    test2
}

outputPort T {
  Interfaces: TestInterface2
}

inputPort MyPort {
  Location:"socket://localhost:9000"
  Protocol: sodep
  Interfaces: TestInterface
  Aggregates: T
}

[2019-04-26 17:03] fmontesi commented on #176
Will work on it.

Could you open for me a new branch in the main Jolie repo with this included as a test file in the test suite?

[2019-04-26 17:43] fmontesi commented on #146
Fixed.

[2019-04-26 17:43] #146 closed

[2019-04-27 08:54] klag commented on #176
done.

branch fixcourier

[2019-04-27 18:35] fmontesi commented on #176
Fixed the null pointer exception! Your test courier was bugged, it pointed to port X which didn't exist. The code checker had a null pointer when detecting this.

[2019-04-27 18:35] #176 closed

[2019-04-27 21:47] klag commented on #176
Good! I put port X because it was the way I found the bug. When the interpreter does not found the port just prints out a null on the screen.

[2019-04-28 05:52] fmontesi commented on #176
👍

[2019-05-14 09:59] eferos93 opened #184 "undef(global) throws a semantic verifier error"
`undef(global) `
returns this:

java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
	at java.util.ArrayList.rangeCheck(ArrayList.java:657)
	at java.util.ArrayList.get(ArrayList.java:433)
	at jolie.lang.parse.SemanticVerifier.encounteredAssignment(SemanticVerifier.java:257)
	at jolie.lang.parse.SemanticVerifier.visit(SemanticVerifier.java:1143)
	at jolie.lang.parse.ast.UndefStatement.accept(Unde

[2019-05-21 12:30] eferos93 opened #185 "Sub-type cardinality syntax error with 1.8 version"
I am getting the following error:
_Sub-type cardinality syntax error. Found token type LCURLY_
on **codeActionKind** line with the following code
[code]

In the next two cases I am **not** getting any error:
[code]

[code]

Is this intended with this last new version, or?

[2019-05-22 16:47] fmontesi commented on #185
Can you give me the full type definition to test this?

[2019-05-22 20:53] eferos93 commented on #185
Sure, here it is:
[code]

[2019-05-23 07:24] fmontesi commented on #185
Thanks. I had to add a few types, some were missing, but I think I fixed it now.

[2019-05-23 07:24] #185 closed

[2019-06-02 12:21] klag opened #189 "found bug in redirection"
see branch https://github.com/jolie/jolie/tree/redirection_bug

[2019-06-03 13:42] #189 closed

[2019-08-23 12:58] klag opened #196 "bug in with primitive"
see test in branch **with_bug**: https://github.com/jolie/jolie/tree/with_bug

[2019-08-24 06:27] fmontesi commented on #196
Not a bug: it is valid to write a variable path on multiple lines. So you've basically written .b = .b.c = "yes", which is a valid statement.

We could change behaviour and forbid people from writing variable paths over multiple lines.. Not sure if this would be better.

[2019-08-24 09:01] klag commented on #196
I think it should be considered as a bug. It generates a lot of confusion. It is sufficient to forget the semicolon in a with for getting a bad interpretation of the code

[2019-08-24 09:47] fmontesi commented on #196
Just a small clarification: it's incorrect to call it a bug simply because the language works as intended, i.e., variable paths can be expressed over multiple lines, just like in Java and all other languages with the dot operator.

What we have here is that the design of the language plays poorly with the optional semicolon and the fact that assignments are also expressions. So we need to change t

[2019-08-24 19:00] klag commented on #196
The problem is related to primitve with because inside its scope, variable paths can start with dot. Thus, it is very common to have more than one expression in different lines which start with dot. But, if we don't put the semicolon, these kind of codes will be always wrong.

[2019-08-25 07:12] fmontesi commented on #196
I agree, see my last comment. It's just that solving it in a consistent way is nontrivial, see the possible solutions.

Another possible solution is to use another symbol than the dot for with-prefixed variable paths (this would break backwards compatibility). Any other ideas?

[2019-08-25 07:15] fmontesi commented on #196
Notice that with is typically problematic, like in javascript where they don't recommend using it: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/with

So we might want to make some radical change here. We should identify in which use cases, exactly, with is better than the new inline tree literals (whenever with can be replaced by an inline tree, I'd recommend doing

[2019-08-25 07:19] fmontesi commented on #196
An example of a non-problematic with syntax:

[code]

:-)

[2019-08-25 08:18] klag commented on #196
This is nice.

[2019-08-25 08:18] klag commented on #196
a is an alias?

[2019-09-05 19:19] kicito opened #199 "Program preemptively exits before execution of internal service"
Hi all,

Jolie learner here. This might be an anti-pattern of writing programs in Jolie. I would like to have an easy way to log my variable in my program so I create an internal service as following

[code]

**Expected:** console output {"a":{"$":"test-a","d":"test-b"}}
**Actual:** nothing

This behavior happens either with `OneWay` or `RequestResponse` without further usage of response returned

[2019-09-06 06:23] thesave commented on #199
Welcome @kicito :)

You are close to the solution.
The "problem" is how you define the behaviour linked to the invocation of the `log` operation into the Logger service:

`[ log( req )( res ){ /* do nothing before response */ } ]{ /* do something after response */ }`

Concretely, you get the request, you do nothing, you send back the response and then you execute the code to print out the value.

[2019-09-06 06:23] #199 closed

[2019-09-06 12:53] kicito commented on #199
I see it now. After move code block in to square blanket it is working as expected. Thank you for the clarification.

[2019-09-09 11:55] fmontesi commented on #196
Yeah, that's the easy implementation solution.

[2019-09-09 12:01] #184 closed

[2019-11-09 16:49] mwallnoefer commented on #8
Should have been fixed I think (1.8.0 or so).

[2019-11-09 16:49] #8 closed

[2019-11-09 16:50] mwallnoefer commented on #20
Also this seems to have been addressed in the meantime.

[2019-11-09 16:50] #20 closed

[2019-11-09 16:51] mwallnoefer commented on #24
Okay, some kind of versioning has been introduced so we may close also this one.

[2019-11-09 16:51] #24 closed

[2019-11-09 16:53] mwallnoefer commented on #101
Let's close this, in case we may always reopen it.

[2019-11-09 16:53] #101 closed

[2019-11-09 16:54] mwallnoefer commented on #75
Okay, in the meantime we have autocompletion support in Visual Studio Code: https://jolie.github.io/news/2019/07/11/vscode-jolie.html

[2019-11-09 16:54] #75 closed

[2019-11-09 16:59] mwallnoefer commented on #113
Now we do have also an apposite runtime service call, is that enough (commit 51b46b67a41) @klag?

[2019-11-09 17:55] klag commented on #113
Ok for me

[2019-11-09 18:14] mwallnoefer opened #211 "Unix domain sockets"
Somehow the UNIX domain sockets do not work any more in my examples.
[code]
Such a declaration gives me an **Unsupported communication medium: localsocket** although still mentioned in the docs: https://jolielang.gitbook.io/docs/language-tools-and-standard-library/basics/communication-ports/ports and https://jolielang.gitbook.io/docs/language-tools-and-standard-library/locations.

[2019-11-09 18:14] #113 closed

[2019-11-09 18:16] mwallnoefer commented on #33
Also this could have been fixed in the meantime, since the path handling was changed. Please double-check!

[2019-11-13 14:01] klag opened #212 "IOException not raised when executed within a handler in the higher scope"
This code should raise a fault but it does not.

interface TestInterface {
  RequestResponse:
    testFlatStructure
}

outputPort Test {
  Location: "socketaaaaa://localhost:9000"
  Protocol: sodep
  Interfaces: TestInterface
}

init {
  install( Err =>
    scope( pippo ) {
        with( request ) {
            .afield = "ciao";
            .bfield = 10;
            .cfield = 10.0;
            .ef

[2020-04-03 06:27] klag opened #216 "Bug in install"
The following code should just raise NewFault, but it is catched by the default thus the output is:
[code]

------
[code]

[2020-04-22 15:17] klag opened #218 "Bug when using internal services"
Added a specific test in https://github.com/jolie/jolie/tree/bugInternalService

Briefly, when using internal services all the outputPorts have also the subnode protocol created even if it is empty. It generates bugs in the Jolie code when it is necessary to pass the outputPort without specifying the location (ex: setMonitor@Runtime )

[2020-04-23 08:09] klag opened #219 "Potential lack of clarity when parsing types"
This type does not generate any error by the parser

[code]

[2020-04-23 16:25] fmontesi commented on #219
You're mixing legacy and new syntax. When you don't specify the native type it's void, and . are optional.

So that might be interpreted as:
[code]

Could you check that's the case?

[2020-04-23 16:28] fmontesi commented on #196
@jolie/developers Removing the bug label, per the discussion above. If anybody wants to take a shot at implementing `with( path as x ) { ... }`, please self-assign this.

[2020-04-23 16:29] fmontesi commented on #212
Agreed.

[2020-04-23 16:33] fmontesi commented on #218
Agreed.
The code copying the output port configurations should first check whether the configuration is defined.

[2020-04-24 05:18] klag commented on #219
If it is the case, I think it is important to introduce \n as a token for differentiating the fields because it is too easy to write bad code in interface which can be discovered only at runtime.

[2020-04-24 05:22] klag commented on #196
Sorry but I think it is a bug not an enhancement.
The ; is mandatory inside the with and optional outside.
It is a very bad feature. For me it is a bug. I would like to label this as a bug

[2020-04-24 06:24] fmontesi commented on #219
Mmh, that would mess up with quite a lot of code, e.g.,

[code]

An alternative would be to simply forbid having a void node with no subnodes. Does it even make sense? For example, why would one ever write something like the following?

[code]

I don't like this alternative though because I see nothing wrong with it (yet) from a theoretical point of view.

I think that the right solution is just t

[2020-04-24 06:31] fmontesi commented on #211
@bmaschio @mwallnoefer it might be that we have a problem with the POM file for localsocket, it talks about JSONRpc, bad copy-paste? :-)

https://github.com/jolie/jolie/blob/master/extensions/localsocket/pom.xml

[2020-04-24 06:56] fmontesi commented on #196
Not a bug, technically, but it's so bad that I'm against tagging it as such. It should also be marked as enhancement, since it does not have a reasonable fix without changing the language.

[2020-04-24 07:26] klag commented on #219
I am a little bit conservative from this point of view.
I think the syntax must clear and not ambiguous.
I do not like the idea to have a warning because a warning means you are programming  in a not proper way, so why are we allowing to program in a no proper way?

I do not like the idea to hide the "void", I think it is better for people to know that in the root there is a place for a value whic

[2020-04-24 08:51] fmontesi commented on #219
Mmh, we need to weight all pros and cons then, and that's a large discussion, let's take it at a meeting.

I'm switching this to a discussion in the meantime.

[2020-04-24 09:09] mwallnoefer commented on #211
Ah, sorry I have forgotten this. Please find my commit which fixes the dependencies: https://github.com/jolie/jolie/commit/e336e554fa2d9fe5bb0b4d51f58d8b5be0f836b7.

But there is still some other issue left, since the problem persists...(maybe the _localsocket_s extension source needs to be adapted somehow?)

[2020-04-24 09:15] mwallnoefer commented on #211
The test suite states:
[code]
Why? _local_ and _localsocket_ are two independent extensions, is the parser confused that it assigns _local_ medium connections to _localsocket_?

[2020-04-24 10:22] fmontesi commented on #196
@jolie/developers, @klag and I had a chat about using .. to disambiguate with.

[code]

This would require a slight change in the part of `OLParser`, which currently looks for a `.` prefix and now instead should look for a `..` prefix. `..` should probably be a new scanner token.

If anybody tackles this, please remember to notify this issue.

[2020-04-24 11:27] fmontesi commented on #219
Resolved. The . prefix for types now requires a new line and is considered legacy.

[2020-04-24 11:27] #219 closed

[2020-04-24 11:30] fmontesi commented on #211
Awesome, thanks! :-))

[2020-04-24 12:05] mwallnoefer commented on #211
Unfortunately not completely, I had not the time to update the ticket. Everything compiles, the program starts but then the client hangs in the response loop (see attachment).

[localSocket.zip](https://github.com/jolie/jolie/files/4528722/localSocket.zip)

[2020-04-24 13:23] mwallnoefer opened #220 "Jolie installer broken on Windows"
Just for interest I have tried to run the Jolie testsuite on Windows to check if nothing had been broken, but unfortunately it fails already on an include:
[code]

Don't know if we still should pay attention to Windows or let it go...
We often had breakages, some of them I have fixed last year.

[2020-04-24 13:46] fmontesi commented on #220
We have Windows users (e.g., here on github @bmaschio and @mmontesi), so it's important.

The problem here is that we lack an automated testing pipeline for Windows. Anybody with experience/willingness to set one up?

[2020-04-24 14:10] mmontesi commented on #220
I confirm issues on Windows.
I can't run the installer itself (same error reported by @mwallnoefer ):
[code]

[2020-04-24 15:19] fmontesi commented on #220
I've set up GitHub Actions:

https://github.com/jolie/jolie/blob/master/.github/workflows/maven.yml

But for now it tests only on Linux, as you can see. Github actions supports matrices now, for testing in parallel on multiple java versions and oses, and this includes windows and macos.

Somebody willing to have a look at this? It shouldn't be super complex, and it's really really important. @bmas

[2020-04-26 11:53] mwallnoefer commented on #220
I have done a git-bisect. The commit which introduced the breakage are 5565c7c174872eb719e7e8ef05b80ac2176a3891 or bc7c8a4082fd0e829c3ce8a0db6e5fd3cc213238.

[2020-04-26 13:29] mwallnoefer commented on #220
First attempt 3126229645534de0d74c034dc268d7b0a575b08c which makes the illegal char error disappear and tries also the other handlers, but it is still not enough.

[2020-04-27 07:19] mwallnoefer commented on #211
@fmontesi I have done an analysis on behalf of _strace_. The sockets are set-up and the connection gets established, but then the detection of the new data available does not seem to work any more (both the client and server get stuck in a futex loop).
So I think that there has been some compatibility breakage in the `localsocket` module against Jolie core. But I have no idea how that could be fix

[2020-04-27 07:26] mwallnoefer commented on #220
@fmontesi  I guess that we need to change the method _guessIncludeFilepath()_ to not create an URI with `new URI(path)` [the Unix way] but with `new File(path).toURI()` which is portable. Most probably this has to be done in line 690 but I am not completely sure and I don't want to introduce another breakage.

Btw. we may discuss this also on Slack.

[2020-04-27 16:53] fmontesi commented on #211
Confirmed (thanks for the mini-test .zip).
I'll have a look as soon as I can, this needs running the debugger.. by the way, I've pushed some .vscode settings with a launch.json that everybody can use to debug Jolie programs (just copy the setting for test.ol).

[2020-04-28 08:42] fmontesi commented on #220
I've pushed a fix.
Please try this installer:
[jolie_installer.zip](https://github.com/jolie/jolie/files/4544391/jolie_installer.zip)
(You have to unzip the file and then run the jar.)

[2020-04-28 10:07] mwallnoefer commented on #220
Okay, the situation became better, but we are still failing some tests, e.g. the JAP one:
[jolie.log](https://github.com/jolie/jolie/files/4544905/jolie.log)

I have attempted to catch some more `Paths` exceptions, but the behaviour does not change: 72e9351dcf115a18e2591139aece09f091289559

[2020-04-28 10:18] fmontesi commented on #220
Thanks for those patches!
Yeah, I haven't had time to debug the failing jap test. It's a new feature of 1.9.0 and it's still undocumented, while the fix to the installer was urgent, so I've pushed it.
I'll open a separate issue for that test. I'm closing this for now, assuming that the installer works for you (right?). :-)

[2020-04-28 10:22] fmontesi opened #221 "Jap test failing"
The test `jap.ol` currently fails on Windows. @mwallnoefer could you help me have a look?
@bmaschio, maybe this interests you as well?

The problem is that at some point in `CommandLineParser` we don't use `UriUtils.normalizeWindowsPath`.
If you use vscode, you can now simply go to the debug configurations and you will find a configuration for debugging the JAP test under Windows.

[2020-04-28 12:29] fmontesi commented on #220
Whoops, apparently there was still a little bug left. Here's the latest version.
[installer.zip](https://github.com/jolie/jolie/files/4545682/installer.zip)

[2020-04-28 13:23] fmontesi commented on #220
@thesave @mwallnoefer @mmontesi

Now it doesn't work, but because of windows_installer.ol in release_tools. :o)

[2020-04-29 15:32] klag opened #222 "Bug in inlinetree evaluation"
https://github.com/jolie/jolie/tree/bug_inlinetree

[2020-04-30 06:38] fmontesi commented on #220
@thesave has pushed a fix, thanks @thesave :-)

Here's the installer, for testing.
[jolie_installer.zip](https://github.com/jolie/jolie/files/4556497/jolie_installer.zip)

[2020-04-30 08:37] mmontesi commented on #220
Last installer seems to solve all Windows issues.
Good job @thesave

[2020-04-30 11:38] unibogdv commented on #220
I'm still getting the following error (I'm running the installer from an elevated command prompt):
[code]

[2020-04-30 11:45] fmontesi commented on #220
Thanks @mmontesi. I'm closing this for now, please reopen it if it happens again.

[2020-04-30 12:48] #222 closed

[2020-05-02 15:01] mwallnoefer commented on #221
Fixed it (9422717d9697174d8210656f3186b9d83a10e50a), but we need to make sure that the 3 `UriUtils` helper methods get always called in the _correct_ order.

[2020-05-02 15:01] #221 closed

[2020-05-02 15:20] mwallnoefer opened #225 "Windows: java.nio.ByteBuffer not working"
When executing Jolie's test suite on Windows the following exception is thrown:
[code]
Is the class not available on Windows? Or at least not on Java 8?
[code]

[2020-05-02 15:45] fmontesi commented on #221
Thanks @mwallnoefer.

I wonder if we should make a convenience method that wraps the calls to these methods in that order?

[2020-05-02 15:47] fmontesi commented on #225
Might be related to this: https://github.com/lmdbjava/lmdbjava/issues/116

[2020-05-02 18:17] mwallnoefer commented on #225
Yes, I share the opinion that this matches exactly our problem. So it manifests itself only when we compile Jolie with Java > 8 and afterwards run on Java 8 (exactly what I did)?

Boh, in that scenario we could also let it go, saying that if you want Java 8 you need to compile it with it.

About the Java 8 support in general: even _java.com_ continues to offer Java 8 on Windows 10, so it is defini

[2020-05-03 12:28] klag commented on #225
I think that, unfortunately, we need to release Jolie for Java 8 and Jolie for Java > 8. We cannot ask to the developers to compile Jolie themselves if they want to use Java 8. When Java 8 will no longer be supported, we could say: if you want to use it, just compile jolie by yourself.

[2020-05-03 16:57] mwallnoefer commented on #225
:neutral_face: People in the thread about lmdb suggest to introduce workaround casts like `((Buffer)buffer).clean()`. First it looks a bit ugly but second we may not guarantee to **not** introduce breakages in future code. So I am sceptical if it's worth to do so...

[2020-05-03 17:00] mwallnoefer commented on #221
A convenience call is not bad, but then we should also enforce its use in a consistent way. Not that we end up in the previous situation were some code places did the conversion correctly, others not.

And what about introducing the Windows normalisation directly into `UriUtils.normalizeJolieUri()`? Wouldn't that be less error-prone?

[2020-05-03 17:24] fmontesi commented on #225
Mmh, I don't think it'll be necessary, as long as releases are compiled using Java 8, then all runtimes of Java >=8 should work fine.

[2020-05-03 17:48] fmontesi commented on #225
@mwallnoefer I don't like the cast either.

Anyway, I'm just gonna compile releases using a docker image with Maven and JDK 8 until we make the switch to Java 11, just to be sure: https://github.com/jolie/release_tools/blob/master/build.sh

That hopefully works. :)

[2020-05-03 17:52] fmontesi commented on #225
Closing this for now, let me know if you find problems with the build.sh and mkrelease scripts in release_tools.

[2020-05-03 17:52] #225 closed

[2020-05-06 12:43] klag opened #226 "raise a warning when using a variable named as a scope"
include "console.iol"

main
{
    scope( myScope ) {
        myScope.test = "this is a test"
        println@Console( myScope.test )(  )

    }
}

In this case the interpreter should raise a warning because it should be deprecated the usage of a variable that has the same name of a scope.

[2020-05-08 04:24] fmontesi commented on #226
Agreed. This is also a good task for newcomers, since it's relatively self-contained.

[2020-05-08 12:03] kicito commented on #226
maybe I could take this task?

[2020-05-08 12:14] kicito commented on #226
please see #227.

[2020-05-08 16:05] dfermi opened #228 "Error on concurrent execution"
Hi all,

I'm a student and I'm working with Jolie just from one week, for a student project in University in Bologna (Italy).

When executing simple server/client code the following exception is thrown:

[code]

The "server" code is:

[code]
This is the "client" code (I report just main section):
[code]

The same error happens if I try to run the example from the Communication Ports section of the

[2020-05-09 07:59] fmontesi commented on #228
Duplicate of #225.
You're probably using the Jolie distribution from the thread in #220.

You can fix the error by upgrading to Java 11.

(The upcoming official release of Jolie 1.9.1, due for the second half of May, will work with Java 8.)

[2020-05-09 07:59] #228 closed

[2020-05-14 10:24] klag opened #230 "jolie2surface fails when there are services in jap aggregated into the input port"
If I run jolie2surface for a service which embeds and aggregates another service that is contained in a jap, it fails

[2020-05-14 16:41] kicito commented on #230
the error is caused by lack of jap scheme handler in GetSurface class loader?
I just check and it is the case.

[2020-05-18 15:53] fmontesi commented on #230
It could be. Maybe we should just move the code that initialises the JAP Url handler in CommandLineParser?
Does anybody see counter-indications to this, @jolie/developers ?

[2020-05-18 16:28] fmontesi commented on #226
Should be fixed by #227. @klag please check when you have a moment.

[2020-05-18 16:28] #226 closed

[2020-05-18 16:30] fmontesi commented on #226
@kicito @klag By the way, I think that it'd be nice if this worked also for *nested* scopes, what do you think?

[2020-05-22 12:07] kicito commented on #226
I think it would be a great idea!, please see #231

[2020-05-25 13:33] szingaro opened #232 "Behaviour of double * int different from int * double"
## Reproduce

Consider the following code (actual output in the comments):

[code]

## Question

Is this **asymmetric behaviour** wanted?
Not sure this should be a bug, I was just wondering why this choice.

## Context

- MacOSX 10.15.5
- Jolie interpreter 1.9.0
- OpenJDK Runtime Environment (build 13+33)

[2020-05-26 19:08] kicito commented on #232
This bug is occur from the basic number operation is only checks type for left value of the operation only perform type check in left hand side.
https://github.com/jolie/jolie/blob/490815e45c4772c6122ccced464732250cc506dd/jolie/src/main/java/jolie/runtime/Value.java#L950-L965
Thus,  in the example above, assignment process to b is translated into b = 1000 * 0 .

I created a pull request for this i

[2020-05-27 16:17] #232 closed

[2020-05-31 15:33] unibogdv commented on #220
@fmontesi the fixed installer for Windows is not yet in the Download section of the Jolie website.
The link "https://www.jolie-lang.org/downloads.html" is still pointing to the bugged installer.

[2020-06-03 13:09] fbolognesi98 opened #235 "Problem while installing Jolie"
When i try to install jolie 1.9 with java SE 14 and JDK 1.8 this error come up:

Illegal char <:> at index 4: file:/C:/Users/User/AppData/Local/Temp/jolie_installer_tmp80815559545284333/dist/jolie/include/types/JavaException.iol

Any suggestion?

[2020-06-03 13:16] thesave commented on #235
Hi @fbolognesi98,

Can you please include a bit more information so we can try to help you?

- what operating system are you using? version?
- from what terminal do you launch the installer?
- from what path?
- with administrator rights?
- what version of java does run the installer? Java 8 or Java 14?

[2020-06-03 13:21] fbolognesi98 commented on #235
Yes:
-Windows 10 x64
-I use the command prompt with administrator privileges
-The path is from my documents C:Users/User/Documents/Jolie
-I think the installer run the Java 8 version (i'm not sure)

[2020-06-03 13:58] fmontesi commented on #235
Hi all,

The current release of Jolie on the website still doesn't work with Windows, we're working on an updated release. In the meantime, you can use the installer in #220 (see bottom of the thread), that fixes a lot of problems already (but the VSCode extension doesn't work properly yet).

Best,
Fabrizio

[2020-06-03 14:08] klag opened #236 "Add automatic InternalServiceFault"
When a fault (or an error) is not catched within a request-response body, an automatic InternalServiceFault should be sent back to the invoker. Such a fault should be silently declared for all the operations defined in an interface, thus no TypeMismtach will be raised when it will be received.

Moreover, when an InternalServiceFault is raised, a log must be printed out on console reporting a forma

[2020-06-03 14:44] fbolognesi98 commented on #235
Thanks @fmontesi !
Unfortunately, the installation still gives an error...
Error: the installer could not find the launchers files. To complete the installation, try to run the installer with administrator privileges.
I've doni it several times but this error keeps coming out (even if i run the cmd prompt with administrator privileges)

[2020-06-03 18:39] fmontesi commented on #236
A more detailed proposal should be fleshed out but it sounds like a good addition to me. (Not sure about the best way to print on screen and the format of that value/type for the InternalServiceError, for example.)

[2020-06-04 08:23] fmontesi commented on #235
Could you try this one?

https://github.com/jolie/jolie/releases/download/v1.9.1/jolie-1.9.1.jar

[2020-06-04 08:48] fmontesi commented on #216
Fixed in Jolie 1.9.1. Please reopen if you still find problems.

[2020-06-04 08:48] #216 closed

[2020-06-04 15:44] fmontesi opened #238 "Automate tests on Windows and macOS"
Anybody willing to help with checking github's documentation on how we can add testing in parallel for multiple java versions and oses to our existing github actions configuration file (link below)?

https://github.com/jolie/jolie/blob/master/.github/workflows/maven.yml

For now it tests only on Linux, and I'd like to get some better early warnings for Windows in the future.

[2020-06-05 06:59] bmaschio commented on #238
@fmontesi
maybe this is what we need to do

https://www.edwardthomson.com/blog/github_actions_17_dependent_jobs.html

[2020-06-05 15:26] fmontesi commented on #238
Something like that, yeah. I don't know if we need the setup and teardown phases, were you suggesting that? I think a matrix that tests on all OSs would be sufficient for now, but I haven't looked a lot into github actions yet.

@bmaschio can you try to edit?

[2020-06-15 12:57] bmaschio commented on #238
@fmontesi shell I open a branch ?

[2020-06-15 13:05] fmontesi commented on #238
@bmaschio sure! :)

[2020-06-15 13:29] #238 closed

[2020-06-15 13:30] fmontesi commented on #238
Fixed by #241

[2020-06-15 13:31] fmontesi commented on #235
Closing for now, please reopen if the issue reappears.

[2020-06-15 13:31] #235 closed

[2020-06-15 14:49] fmontesi opened #243 "Tests fail silently in mvn install"
Apparently in our transition to Maven, tests now fail silently and GitHub still think they've run ok.
See this for example: https://github.com/jolie/jolie/pull/242/checks?check_run_id=772882725#step:4:17049

@bmaschio, maybe we need a different exit status code to make mvn realise that a fault occurred?

[2020-06-15 15:51] bmaschio commented on #243
@fmontesi I will have a look

[2020-06-16 13:07] bmaschio commented on #243
@fmontesi  I have a proposition

1. we add to print and println a parameter that tell to print on the error output ( system.err.println)
2. or we create an operation printlnError

in this this way   exec-maven-plugin should see the error in test jolie
what you think

[2020-06-16 13:52] fmontesi commented on #243
(talked with Balint and opted for an error code return)

Fixed by https://github.com/jolie/jolie/commit/f3871e218fec2f18932956d9d441d56cec4abe23

[2020-06-16 13:52] #243 closed

[2020-06-16 13:55] fmontesi opened #245 "Converter test failing in Windows"
@mwallnoefer there's a converter test failing under your name (literally in the test string :-D)

https://github.com/jolie/jolie/runs/776695491#step:4:16976

Maybe it has to do with utf-8 handling?

I think we're noticing it only now because I've just fixed #243.

[2020-06-18 14:44] klag opened #247 "Deadlock when embedding standard monitor"
This test replicates the issue https://github.com/jolie/jolie/pull/503/commits/69b1edc77465cf6ca359b149ad2bcd45e5913738

[2020-06-22 17:56] fmontesi commented on #245
Ah-ha:
https://stackoverflow.com/questions/56231040/why-is-java-string-length-inconsistent-across-platforms-with-unicode-characters

Maybe we shouldn't test for length, or make sure that the test framework is launched with the appropriate -encoding?

[2020-08-24 09:11] bmaschio opened #263 "Incoherent behaviour HTTP outputPorts"
@jolie/developers

I was developing some unit test for an API exposed using jolier and I have noticed a curious behaviour on the HTTP outports
My running system is

- Jolie 1.10.0-git
- Windows 10

  and the code can be found [ErrorHttp.zip](https://github.com/jolie/jolie/files/5116783/ErrorHttp.zip)

Inside the zip file, you can find a server.ol file and client.ol the server was executed with the

[2020-08-24 12:11] bmaschio opened #264 "JSON HTTP array"
@jolie/developers

I found a possible problem in the HTTP calls jolie let me show my case

let's assume that an operation has a response type as

[code]
now if we call the operation using SODEP the operation returns exactly the structure expected, in the case of HTTP it takes _ and force the node alwaysArray to become a array JSON
This is fantastic if the caller is a tool or tecnology that does no

[2020-08-24 16:09] mwallnoefer commented on #263
Ok, but presumably the problem is not limited to Windows 10? You have just tested that single platform, correct?

[2020-08-24 16:12] mwallnoefer commented on #264
Yeah, I recall this behaviour. **_** was introduced as a placeholder to emulate plain arrays in Jolie types. I have added the _enhancement_ label since we should not break existing behaviour I think.

[2020-08-24 16:19] bmaschio commented on #263
I think so what system have you got?

[2020-08-24 16:51] mwallnoefer commented on #263
So the issue should be reproducible on GNU/Linux or MacOS X as well.

[2020-08-24 17:39] fmontesi commented on #264
Why are we *reading* `_` into arrays? Shouldn't we just write arrays into `_`?

[2020-08-25 07:12] bmaschio commented on #263
@mwallnoefer  the code is in the Zip File

[2020-08-25 07:27] bmaschio commented on #264
@fmontesi  the problem is that _ is used to indicate that the father node must be converted as a json array what even if _ contain one element

[2020-08-27 12:18] fmontesi commented on #263
I've pushed a tentative fix to the git repo, which fixed a much smaller example on my machine. Could you test that your case works as well now?

[2020-08-27 14:07] bmaschio commented on #263
@fmontesi  perfect for me

[2020-08-27 14:08] bmaschio commented on #264
@fmontesi do you want to talk about it ?

[2020-08-27 14:14] fmontesi commented on #263
Awesome, thanks for checking :+1:

[2020-08-27 14:14] #263 closed

[2020-08-28 13:00] bmaschio commented on #264
@jolie/developers

I have figure out how to make it work as well with outputPort I needed to add  .json_encoding = "strict" Now the question raised by @fmontesi  can we not just use the node cardinality to drive the behaviour

[code]
What you think

Balint

[2020-08-28 13:46] fmontesi commented on #264
@klag @mwallnoefer @thesave What do you think about @bmaschio's proposal?

[2020-08-28 15:28] mwallnoefer commented on #264
Good question, a bit like hen and egg: which scenario is more common, _Jolie <-> Jolie_ communication versus _Jolie <-> something else_? If we opt for the first, we could make the option `json_encoding` enabled per default. But this behaviour would not be really transparent to generate plain JSON arrays without the `_` crutch, as many other HTTP clients expect.

In my opinion, _HTTP communication_

[2020-08-31 08:42] fmontesi opened #266 "joliedoc requires JDK 11"
It looks like joliedoc requires JDK 11 to pass its tests now. CI was failing and I had to upgrade https://github.com/jolie/jolie/blob/master/.github/workflows/maven.yml to use JDK 11.

@klag Is this intended? Could you have a look?

I was hoping we could postpone requiring JDK 11 until Jolie 1.11, but if it's too much of a hassle we can consider switching to JDK 11 already.

[2020-08-31 08:53] fmontesi commented on #264
Tough one. :)
I agree we should make Jolie <-> rest of the world a priority with HTTP, but it'd be *really* weird that Jolie<->Jolie interactions require extra parameter settings.

However, my suggestion was to use the cardinality *in the type*. So if the type of the message we're sending has range with max `> 1`, than I'd use an array. What do you think about that?

[2020-08-31 08:59] bmaschio commented on #264
I like the way @mwallnoefer has put things but I disagree on the statement "Jolie is more about integration with 3rd party"
Http communication is de facto a standard for mc communication. I think it will be difficult to convince a wilder community to use Jolie and an unknown protocol
I think Jolie should be able to call its own services exposed with whatever protocol the programmer may use. There

[2020-08-31 14:14] fmontesi commented on #74
Now that both refinement types and modules are in git mainline, we have much better tools to attack this problem. We could create a `datetime` module (like in Python) with the necessary types and regexes. I'm updating the issue title accordingly.

[2020-09-01 08:46] bmaschio opened #267 "Multi User Response Header"
@jolie/committers  @jolie/contributors

When setting multiple cookies from the server-side we may need to  set multiple times the "Set-Cookie"

[Set-Cookie](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie)

at the moment this not possible because in the method

[code]
we always take the first value of the user-defined header

I have already implemented the enhancement that loo

[2020-09-01 08:55] fmontesi commented on #267
Looks good to me, but a diff would be really helpful. :)

[2020-09-01 09:14] #267 closed

[2020-09-01 09:59] bmaschio commented on #266
@fmontesi do you want i try to run the build with java 11?

[2020-09-01 10:34] fmontesi commented on #266
Java 11 works on CI for all OSes.

[2020-09-02 11:38] mwallnoefer commented on #266
Sorry I am a bit puzzled: so we intend to drop the Jolie-_Java 8/9_-compatibility only for this particular tool or in general? In my opinion such a change requires a good justification. What could it be about?

[2020-09-02 11:39] fmontesi commented on #266
No. The plan is to keep Java 8 compatibility for Jolie 1.10, so I would like this fixed.

[2020-09-02 11:40] fmontesi commented on #266
(If possible. :-))

[2020-09-02 12:52] klag commented on #266
It is quite strange because joliedoc is now fully implemented in Jolie.

[2020-09-02 13:15] fmontesi commented on #266
I think it fails because of the tests (which are in Java).

[2020-09-02 13:25] fmontesi commented on #266
Huh, looks like it's working now, closing this.

[2020-09-02 13:25] #266 closed

[2020-09-22 10:21] klag opened #272 "Counter assignment in a for should erase the counter"
Consider the following piece of code:
`

	f.a.b[ 0 ].c = 1
	f.a.b[ 1 ].c[ 0 ] = 1
	f.a.b[ 1 ].c[ 1 ] = 2
	f.a.b[ 1 ].c[ 2 ] = 3
	f.a.b[ 1 ].c[ 3 ] = 4
	f.a.b[ 1 ].c[ 4 ] = 5
    f.a[1].b.c = 0
    f.a[1].b.c[ 1 ] = 0
    f.a[1].b.c[ 2 ] = 0

    //println@Console( #f.a.b[ 0 ].c )(  )
    //println@Console( #f.a.b[ 1 ].c )(  )

    for( y in f.a ) {
        println@Console( ">" + #y.b )(  )
    }

[2020-09-22 10:25] klag opened #273 "deep copy does not erase the assigned values"
Let us consider this code:
`
c.a = 10
c << 11 {}
valueToPrettyString@StringUtils( c )( s )
println@Console( s )()
`
this is the output:
`
Value = 11 : int
        .a[0] = 10 : int
`

The deep copy adds a tree to the current tree. But I think it is misleading. We should have a specific operator for adding a tree to another.

for example:
a << b, it undefs a and deep copy b into a
a <<< b, it acts l

[2020-09-23 10:19] mwallnoefer commented on #272
Remembers me to the PHP array reference unset thing: https://www.php.net/manual/en/language.types.array.php#57312

[2020-09-23 17:16] mwallnoefer commented on #272
[code]
Are we required to keep `y` around after terminating the `for`? Is this not similar to ECMAScript in regard to `var`?
[code]

I would opt for invalidation. Since I don't think that significant code has been built on that assumption I guess that it should be safe to introduce this breaking change.

[2020-09-23 17:23] mwallnoefer commented on #273
I share your opinion @klag about performing a redefinition in the case of the tree assignment operator (`<<`). But the introduction of `<<<` seems a bit overkill to me, we shouldn't be complicating the language to much.
Existing code could simply be fixed by reordering: first perform the tree assignment (`<<`) and then do plain value assignments on behalf of `=`.

[2020-09-23 17:27] mwallnoefer commented on #245
Exactly, on Windows we are forced to specify the `-encoding` parameter with UTF-8, otherwise the OS assumes input to be CP1252-compliant. This needs to be fixed, sorry that I have overseen this.

[2020-09-23 17:35] mwallnoefer commented on #33
Closing it for now.

[2020-09-23 17:35] #33 closed

[2020-09-23 17:40] mwallnoefer commented on #111
Practically the same issue as in the SOAP parser (issue #44).

[2020-09-24 12:03] fmontesi commented on #273
Apparently it works as documented: https://jolielang.gitbook.io/docs/language-tools-and-standard-library/basics/data_structures#less-than-less-than-copying-an-entire-tree-structure

But I'm not sure it works as I originally intended.. :-)
I need to think about what would make more sense.

Copying without erasing seems more primitive than copy after erasing, since one can always `undef(c); c << 11

[2020-09-24 12:08] fmontesi commented on #272
What would an intuitive behaviour of `for( x in e ) { P }` be?
I guess that after the loop, we should set `x` back to what it was before entering the loop?

[2020-09-24 12:12] klag commented on #273
I think we need both the possibilities. At the beginning deep copy was used rarely, but now is widely used because of the new syntax of inline trees.

Intuitively, << has the same meaning of = for scalars and the first expectation is that the variable is cleaned and filled. Thus, I propose to change the semantics of << clearing the assigned variable before the assignment.

Then, we need also the p

[2020-09-24 12:13] klag commented on #272
mmmm, I prefer to undef it.

[2020-10-03 17:32] mwallnoefer commented on #211
Any news on this one?

[2020-10-05 10:49] fmontesi commented on #211
No but I got a bit further. The server gets stuck here:
![Screenshot_20201005_124653](https://user-images.githubusercontent.com/2077129/95070746-d9caa000-0708-11eb-8f83-f865688f6c5d.png)

So it looks like SODEP can read the first long, and then it gets stuck when reading the resource. It might be that the client is not sending correctly, it's pretty weird... If you want to have a look, you can lau

[2020-10-10 09:21] onthebridgetonowhere opened #279 "Homepage link to documentation does not work"
**Describe the bug**
Cannot access the docs from the link linked in the Documentation section on Github's repository page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/jolie/jolie#documentation-notebook_with_decorative_cover'
2. Click on 'See https://docs.jolie-lang.org/.'
3. See error

**Expected behavior**
The link should take you to the Jolie docs. Not sure if

[2020-10-12 17:52] fmontesi commented on #279
Fixed, thank you! 👍

[2020-10-12 17:52] #279 closed

[2020-11-18 10:19] fmontesi opened #284 "Default execution modality not detected correctly when using multiple service definitions"
**Describe the bug**
Say that this code is in the file `program.ol`:

[code]

Running `jolie --check -s Client program.ol` gives the following error:
[code]

This means that the default execution mode (which should be single) is not reset when going from a service node from another, somehow. I think that the `execution: concurrent` instruction in the first service `Server` is spilling on `Client`.

[2020-11-18 12:39] #284 closed

[2021-02-16 12:23] TommasoAzz opened #294 "openapi2jolie does not work with OpenAPI YAML specification"
**Is your feature request related to a problem? Please describe.**
The openapi2jolie tool generates Jolie interfaces from OpenAPI specifications. As stated in the [documentation of the tool](https://docs.jolie-lang.org/v1.10.x/language-tools-and-standard-library/rest/openapi2jolie.html) it should take the specification file in input (since there is no specified extension then I guess it'd be both

[2021-02-16 12:47] TommasoAzz opened #295 "openapi2jolie does not generate request body and response fields in OpenAPI v3 specification files"
**Describe the bug**
If we were to run openapi2jolie on a OpenAPI v3 specification file all API methods would be generated correctly in the interface, with all their request and response types also generated. By the way, no data fields are generated.

**To Reproduce**
Steps to reproduce the behavior:
1. Download a JSON OpenAPI file, like the [PetStore example](https://gist.githubusercontent.com/da

[2021-02-16 12:55] TommasoAzz opened #296 "openapi2jolie does not work with remote urls instead of files"
**Describe the bug**
From the documentation of openapi2jolie, there is the following example:
`openapi2jolie https://petstore.swagger.io/v2/swagger.json SwaggerPetStore . https`. By the way, if we were to run it, the following exceptions would be thrown:
- on Windows: `INFO: [openapi2jolie.ol] java.io.IOException: Connessione in corso interrotta forzatamente dall'host remoto`
- on MacOS: `INFORMAZ

[2021-02-17 10:29] slecholineas opened #297 "Does openapi2jolie work with swagger 2.0 files"
I'm using openapi2jolie to generate client code based on an existing swagger 2.0 file.

When I launch the following command
`jolie openapi2jolie.ol employee-module-v1.0.3.yaml jolie-output EmployeeService https`

I'm getting this stacktrace, so I was wondering if openapi2jolie supports Swagger 2.0 files
`Generating client...
feb. 17, 2021 11:17:08 A.M. openapi2jolie.ol
INFO: [openapi2jolie.ol] jav

[2021-03-20 10:36] Livinglist opened #300 "Add"

[2021-03-20 10:38] Livinglist opened #301 "Add "programming-language" to tags for better exposure"
This programming language looks promising, why don't you add "programming-language" to tags?

[2021-03-20 21:06] #300 closed

[2021-03-20 21:30] klag opened #302 "Warning is soap.ol test"
if you run the test soap.ol, the following warnings appear

INFORMAZIONI: Metro monitoring rootname successfully set to: com.sun.metro:pp=/,type=WSEndpoint,name=CalcService-CalcServicePort
mar 20, 2021 10:28:56 PM com.sun.xml.ws.server.WSEndpointImpl closeManagedObjectManager
INFORMAZIONI: Closing Metro monitoring root: com.sun.metro:pp=/,type=WSEndpoint,name=CalcService-CalcServicePort
passed.

[2021-03-21 06:44] fmontesi commented on #301
Thanks for the suggestion, done!

[2021-03-21 06:44] #301 closed

[2021-03-22 07:58] thesave commented on #302
That's new to me.
It seems related to https://github.com/jolie/jolie/pull/299 — although that seems INFO level and not WARNING.
You get that running `jolie test extensions/soap.ol` right?
Under what OS and JRE version?

[2021-03-22 08:27] klag commented on #297
openapi2jolie does not accept yaml format so far. Try with a json one.

[2021-03-22 08:29] klag commented on #302
Yes. I am using an Ubuntu 20 (but it happens also with Ubuntu 18).
It happens with both Java 8 and 11

[2021-03-22 09:55] thesave commented on #302
Ok, a quick-and-dirty solution could be to try and suppress the WARNINGs (you got those at https://github.com/jolie/jolie/pull/299 under j11 but not under j8, right?) and INFO messages of the metro logger in the `soap.ol` test (the JavaService, more precisely).

The clean solution would be to replace the

[code]
we have [here](https://github.com/jolie/jolie/blob/fa61d55ae95599194361062eeb5134a1fea

[2021-03-22 10:52] klag commented on #302
Since it is just for a test, I think it is sufficient to suppress the warnings

[2021-03-23 11:22] thesave commented on #302
I tried looking for some way to suppress the metro monitor INFOs but [AFAIU](https://javaee.github.io/metro/doc/user-guide/ch20.html) it seems doable only passing the parameter `-Dcom.sun.xml.ws.monitoring.endpoint=false` to the JVM, but I don't know how we can manage to do it.
The other WARNINGs come from Java 9+. We can suppress those via some unsafe reflection, but I prefer not to mess with tha

[2021-03-27 14:17] klag opened #303 "For statement with new syntax does not compute correctly"
Run test primitives/for.ol for reproducing the bug, in the following branch

https://github.com/jolie/jolie/tree/bug_for

[2021-04-28 10:22] klag commented on #296
Fixed. Find it in the repo.

[2021-04-28 10:23] #296 closed

[2021-04-28 10:23] klag commented on #296
Fixed

[2021-04-28 12:05] klag commented on #295
Hi @TommasoAzz, I run openapi2jolie for the petstore and inthe interface I have there is:

`
addPet( addPetRequest )( addPetResponse ) throws Fault500( string )  Fault405( string )
`
then, if I look to the types I see:
`
type Pet: void {
	.photoUrls[0,*]:string
	.name:string
	.id:long
	.category:Category
	.tags[0,*]:Tag
	.status:string
}
type addPetRequest: Pet
`
If you are running the last releas

[2021-04-28 12:28] fmontesi commented on #303
Fixed and test merged, thanks!

[2021-04-28 12:28] #303 closed

[2021-05-03 07:19] #295 closed

[2021-05-04 12:28] #218 closed

[2021-05-09 07:46] fmontesi commented on #100
Should be solved now.

[2021-05-09 07:46] #100 closed

[2021-05-09 07:46] fmontesi commented on #212
Should be solved now.

[2021-05-09 07:46] #212 closed

[2021-05-10 07:59] SuperMauro1966 opened #308 "joliedoc - error throw during the generation of docs, in files using the new syntax for modules."
Trying to generate the documentation for this simple process

``
from File import File
service newSyntax {
    embed File as File

    main {
        nullProcess
    }
}
``

the joliedoc throw the following error:

``

May 10, 2021 9:51:24 AM joliedoc.ol
INFO: [joliedoc.ol] Thrown unhandled fault: NullPointerException
Content (if any)
        .stackTrace[0] = java.lang.NullPointerException

[2021-05-10 09:58] fmontesi commented on #308
The file is incorrect, it should be `from file import File` (notice the lowercase). I still get the error though, just reporting it here for the others.

[2021-05-10 10:43] fmontesi commented on #308
Fixed.

[2021-05-10 10:43] #308 closed

[2021-05-10 15:38] klag opened #309 "ProgramInspector finds type with a name prefixed with <NUM>#"
When executing joliedoc against this service, the resulting outputport contains types with a name prefixed with <NUM>#

[code]

The result is:
![image](https://user-images.githubusercontent.com/4427240/117685491-4681ad80-b1b6-11eb-9d45-9f80a6f3a47d.png)

A test has been added for reproducing the bug here https://github.com/jolie/jolie/tree/bug_inspector

The test just uses metajolie for checking t

[2021-05-14 06:06] fmontesi commented on #309
@kicito Could you have a look at this?

[2021-05-14 06:43] kicito commented on #309
Sure! let me try :)

[2021-05-15 22:27] kicito commented on #309
Hi, it seems like the prefix is only added to fault type in OLParser. To prevent the infinite loop on linking types phase, I believe.

https://github.com/jolie/jolie/blob/8ce438aaf986cde9e6770678e7db80bfac149863/libjolie/src/main/java/jolie/lang/parse/OLParser.java#L1987-L1989

A (perhaps) simple solution is we can modify the return content of type.id() and type.name() which are currently identica

[2021-05-17 09:31] SuperMauro1966 opened #310 "Metajolie - concurrent error in accessing listOfGeneratedTypesInValues"
During the use of JUNG interfaces, trying to get the deployment option of a service (control panel via web page) the system generate the following errors.
The error is not systematic but it appears sometimes.

Error nr 1:
`
May 17, 2021 10:25:51 AM main_cloud_node.ol
INFO: [main_cloud_node.ol] Thrown unhandled fault: ConcurrentModificationException
Content (if any)
        .stackTrace[0] = java.ut

[2021-05-18 07:52] bmaschio opened #311 "Broken courier behavior"
**Describe the bug**
When adding courier to a service the interpreter returns the following error
[code]
**To Reproduce**
Steps to reproduce the behaviour:
unzip [Gateway.zip](https://github.com/jolie/jolie/files/6499346/Gateway.zip)
uncomment the courier section
run
[code]
**Expected behaviour**
Standard courier

**Desktop (please complete the following information):**
 - OS: windows 10
 - Jolie

[2021-05-18 09:03] bmaschio opened #312 "Importing file with only interface definition transformed my pc in a BBQ"
**Describe the bug**
When I am trying to import from an ol file an interface  my pc get 100% CPU
[code]
and after a while I get

![image](https://user-images.githubusercontent.com/12083716/118623423-86552000-b7c8-11eb-915a-c72b35a93c54.png)

**To Reproduce**
Steps to reproduce the behaviour:

1. unzip [RegistationService.zip](https://github.com/jolie/jolie/files/6499846/RegistationService.zip)
2.

[2021-05-18 13:16] fmontesi commented on #309
Having a method that returns the "simple" name of a type sounds sensible to me. Not sure if we should use `id` for that. Can you do a quick check to see where `id` is used? It's not a method that implements an interface, so we could easily rename it to "simpleName", for example.

[2021-05-19 04:31] kicito commented on #309
Sure, just did a check and I think it should be an easy fix.

[2021-05-19 07:28] #310 closed

[2021-05-19 08:34] fmontesi commented on #311
@kicito Can you look into this?

[2021-05-19 08:34] fmontesi commented on #312
Looks like we lack some check that we might have an infinite loop?.. @kicito do you agree?

[2021-05-21 11:59] klag opened #316 "Unexpected behaviour in intializing response variable"
Please find the new test here
https://github.com/jolie/jolie/tree/hotfix/response-not-initialized-to-zero

Name of the test `primitives/response-initialization.ol`

response variable should be initialized to 0, thus the response should be 0. It is correct indeed.

[2021-05-21 12:23] fmontesi commented on #316
Fixed.

[2021-05-21 12:23] #316 closed

[2021-05-22 13:09] kicito commented on #312
I added a check on #318. The issues was the token '/' shouldn't be in the module specifier

[2021-05-22 13:52] kicito commented on #311
I thought the fix gonna be harder :sweat_smile:.

[2021-05-22 14:38] #311 closed

[2021-05-22 14:39] fmontesi commented on #311
A classic! 😜 Thanks @kicito!

[2021-05-22 14:41] fmontesi commented on #312
Thanks! 👍👍

[2021-05-22 14:41] #312 closed

[2021-05-23 11:12] scorsagg opened #320 "jolie2openapi: "Schemes" tag is missing in the generated swagger json"
When I generate the swagger json using jolie2openapi and use it to open on swagger hub, I get default URL of https and not able to modify that.

The "schemes": ["http"], is missing in the generated openapi definition.

Please provide an option to add this.

[2021-06-01 16:36] bmaschio opened #323 "Extend joliedoc to allow markdown format output"
**Is your feature request related to a problem? Please describe.**
Need to document easily the jpm packages npm accept markdown format document as documentation

**Describe the solution you'd like**
The solution is to extend the current joliedoc to have as output choice markdown format

[2021-06-02 06:31] thesave commented on #323
Hi @bmaschio, in case you are looking for inspiration, [back then](https://github.com/thesave/build_jsl) I tackled the problem by using a [liquid template](https://github.com/thesave/build_jsl/blob/master/markdown_joliedoc.liquid) processed by [Liquid](https://www.npmjs.com/package/@jolie/liquid).
The idea here is that, besides Markdown, extending JolieDoc to other formats becomes just a matter of

[2021-06-10 07:41] bmaschio opened #325 "Porting MetaJolie to 1.10.x"
**Is your feature request related to a problem? Please describe.**
MetaJolie is not present in 1.10.x

**Describe the solution you'd like**

Creating the MetaJolie.ol in packages

[2021-06-11 06:43] fmontesi opened #327 "Navigation of global arrays"
**Describe the bug**
Navigating a global array with `for( .. in ..)` does not work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `fix/global-array`
2. Run the test `primitives/global-array.ol`

**Expected behavior**
The test should pass.

**Desktop (please complete the following information):**
 - OS: Linux
 - Jolie version: 1.10.4
 - Java version: 11

[2021-06-11 12:43] SuperMauro1966 opened #329 "constant assignment"
If you try to assign a value to a constant (declared previously), the interpreter doesn't any warnings/error.
The constant retain correctly the original value.

**To Reproduce**
[code]

**Expected behavior**
A warning / error from the interpreter.

**Screenshots**
---

**Desktop (please complete the following information):**
 - OS: any
 - Jolie version 1.10.x
 - Java Version 11 (and previously I t

[2021-06-15 12:11] bmaschio commented on #264
@fmontesi @mwallnoefer  I think I figure out the problem if  I  define an input port as it follows

[code]
the ``` json_encoding = "strict";``` it applyes only to the incoming messages  HttpProtocol.recv_parseMessage

[code]
in HttpProtocol.parseJson

[code]
where in  HttpProtocol.send_encodeContent

[code]
if we going to look the implementation of ```JsUtils.valueToJsonString```

[code]

the ```v

[2021-06-18 10:26] bmaschio commented on #264
@fmontesi example for the discussion

[testHttp.zip](https://github.com/jolie/jolie/files/6676383/testHttp.zip)

[2021-06-18 13:21] bmaschio opened #331 "Recursive call in aggregated service does not work"
**Describe the bug**
A recursive call on an embedded service

**To Reproduce**
Steps to reproduce the behaviour:
1. Start service ``` jolie --trace aggregator.ol```
2. Call aggregator HTTP  port ``` http://localhost:8080/add?number=1```
3. See the error
![image](https://user-images.githubusercontent.com/12083716/122566242-a0905100-d047-11eb-84b0-82dc59ab1d44.png)

**Expected behaviour**
Should rec

[2021-06-20 13:24] klag opened #332 "Silent IndexOutOfBoundException silently block a running session"
**Describe the bug**
When an IndexOutOfBoundException is raised inside a session, there are no faults and the running session remains open and alive without any chance to recover it.

**To Reproduce**
added test primitives/silent-exception.ol
specific branch: https://github.com/jolie/jolie/tree/fix/silent-exception

[2021-06-26 14:22] fmontesi opened #334 "Missing prefix in branch monitormodification"
Branch https://github.com/jolie/jolie/tree/monitormodification should be named feature/monitormodification, per the git workflow guidelines.

[2021-06-26 14:23] fmontesi opened #335 "Missing prefix in branch tracer"
Branch `tracer` should be named `feature/tracer` or `fix/tracer` per the git workflow guidelines.

Also, is the branch still relevant?

[2021-06-26 14:24] fmontesi opened #336 "Missing prefix in branch fixjolie2surface"
The branch `fixjolie2surface` should be named `fix/jolie2surface` per the git workflow guidelines.

[2021-06-26 14:26] fmontesi opened #337 "Branch fix/scheduler-send-request is too big"
The branch `fix/scheduler-send-request` is too big. Please rebase it or remove it.

[2021-06-26 14:28] fmontesi commented on #71
Hi @bmaschio, can we close this? I guess it's fixed by the mongo db connector distributed separately?

[2021-06-26 14:29] #71 closed

[2021-06-29 12:34] SuperMauro1966 opened #338 "Unable to use a global var as a var for an operation receive parameters"
**Describe the bug**
If you try to use as request var a global var, the interpreter doesn't raise any problems, but when you are going to access the variable, you will found it undefined.

**To Reproduce**

`type Point : void {
    x: int
    y: int
}

service PointService () {

    inputPort PointPort {
        location: "local"
        OneWay:
            touch(Point)
    }

    main {
        t

[2021-07-03 12:58] kicito commented on #338
I just looked at this issue a bit and found out that this problem was caused since the `InputOperationProcess` doesn't correctly assign the value to globals. It attempts to assign the receiving value to the process's state (instead of the interpreter's global value). As shown on line 77 below,

https://github.com/jolie/jolie/blob/b6208696acc5599bfc0d78e86e527bd70f7e05af/jolie/src/main/java/jolie/p

[2021-07-04 19:11] mwallnoefer commented on #273
Any news?

[2021-07-04 19:14] mwallnoefer commented on #297
This is a duplicate of issue #294.

[2021-07-04 19:14] #297 closed

[2021-07-06 19:08] mwallnoefer commented on #220
Unfortunately I have seen the Jolie installer on Windows (Oracle JRE 8) to break again between Jolie _1.10 Beta 2_ and _Beta 3_:
[code]
[code]
[code]
Please be careful when touching the path escape code, we had so many breakages in the past.

[2021-07-08 17:33] mwallnoefer commented on #245
PR #340.

[2021-07-08 17:33] #245 closed

[2021-07-08 19:28] mwallnoefer opened #341 "lgtm: The variable 'result' is only assigned values of primitive type and is never 'null', but it is declared with the boxed type 'Long'."
`public Value getTimeDiff( Value request )`
https://github.com/jolie/jolie/blob/dc4dab48a618e09f13d0b0ca76274bff63f9ed3d/javaServices/coreJavaServices/src/main/java/joliex/util/TimeService.java#L375-L376

We should fix this like in `public Value getDateDiff( Value request )`
https://github.com/jolie/jolie/blob/dc4dab48a618e09f13d0b0ca76274bff63f9ed3d/javaServices/coreJavaServices/src/main/java/jol

[2021-07-08 19:33] mwallnoefer opened #342 "lgtm: Variable port may be null here because of this null argument."
`public CommChannel createCommChannel( URI uri, OutputPort port )`
https://github.com/jolie/jolie/blob/c2693e82a4cee58d0d043ae64a4cd4af4f617699/jolie/src/main/java/jolie/net/CommCore.java#L186

The port argument could be passed as `null` as shown in this occurrence:
`jolie/src/main/java/jolie/runtime/embedding/java/URIOutputPort.java:38:		CommChannel commChannel = super.targetInterpreter().commCor

[2021-07-13 13:22] klag commented on #338
I think that a message received in an operation should be stored into a session variable, not in the general state. Thus, I am proposing to raise an error from the SemanticVerifier. @fmontesi @bmaschio @thesave what do you think?

[2021-07-13 13:29] klag commented on #124
But in this case, it will be applied to every node. Maybe, we would like to have it only for some nodes.

[2021-07-16 17:41] bmaschio opened #343 "Unexpected body in DELETE request of outport"
**Describe the bug**
when sending a delete on a resource  like `` /my_index1/doc/id1 ``I expect the call to not have a body

this is my code

[code]
the resulting message sent is the following

![image](https://user-images.githubusercontent.com/12083716/125986555-0c45bd0f-d8ca-4ca6-831c-97136e55f1fa.png)

when performing a  get with the following code

[code]
there is  no http body in the request

[2021-07-19 11:06] klag commented on #343
did you try to set content-type = "application/json"?

[2021-07-19 12:02] bmaschio commented on #343
yes it sends an empty json object

[2021-07-19 12:25] klag commented on #343
but you want an empty body?

[2021-07-19 12:27] bmaschio commented on #343
the body should not be there

[2021-07-19 12:27] bmaschio commented on #343
https://github.com/jolie/jolie/pull/344 @klag

[2021-07-19 12:28] klag commented on #343
The specification of HTTP does not force an empty body, thus the presence of a body is possible

[2021-07-19 12:31] bmaschio commented on #343
I think it should be empty because de facto you are deleting a resource

[2021-07-19 12:39] klag commented on #343
But it is not state into the specification, thus it is possible there is a body

[2021-07-19 12:48] bmaschio commented on #343
A payload within a DELETE request message has no defined semantics;
   sending a payload body on a DELETE request might cause some existing
   implementations to reject the request.  I have two use cases Elastic search and Azure AD

[2021-08-12 14:18] fmontesi commented on #342
Good catch.

The signature of that method
```public CommChannel createCommChannel( URI uri, OutputPort port )```
should probably become
```public CommChannel createCommChannel( URI uri, Optional< OutputPort > port )```
and then that line should safely check whether the optional is populated or not.

[2021-09-10 07:59] mwallnoefer commented on #342
@fmontesi?

[2021-09-10 07:59] mwallnoefer commented on #341
@fmontesi ?

[2021-09-12 08:23] fmontesi commented on #342
Agreed! :) Can you transform it into a PR?

[2021-09-12 08:24] fmontesi commented on #341
Yes, or you can just write `long` instead of `Long`, I guess. (Both are fine by me, with a slight preference for not creating the variable.)

[2021-09-13 19:14] mwallnoefer commented on #342
For sure: https://github.com/jolie/jolie/pull/346

[2021-09-13 19:14] #342 closed

[2021-09-13 19:20] mwallnoefer commented on #341
PR https://github.com/jolie/jolie/pull/347

[2021-09-13 19:20] #341 closed

[2021-09-21 15:47] fmontesi commented on #337
@klag, can this be removed?

[2021-09-22 09:03] klag commented on #337
Try to look at it now, you should see only one file changed.

[2021-09-22 09:10] klag opened #351 "null pointer exception when using --params"
If running the attached script.ol  (rename it from script.txt to script.ol) passing params from command line, a `null` error appears.
the command is:

[code]

(rename params.txt in params.json)

[script.txt](https://github.com/jolie/jolie/files/7209316/script.txt)

[param.txt](https://github.com/jolie/jolie/files/7209322/param.txt)

[2021-09-22 10:49] klag commented on #337
use branch `fix/scheduler-send-request-new` instead

[2021-09-22 11:04] fmontesi commented on #337
excellent, thank you! :)

[2021-09-22 11:04] #337 closed

[2021-09-23 08:39] klag commented on #351
The bug should be related to the protocol. If you cancel protocol as a parameter everything works

[2021-09-23 19:13] mwallnoefer commented on #338
What to do here?

[2021-09-24 07:04] fmontesi commented on #338
Oh, I had written a message but it didn't fire.. thanks @mwallnoefer.

I've thought quite a bit about this and I believe that we should raise an error, too. If we find a use case for receiving on a global variable in the future, we can always relax the condition in a future release, nothing would break.

[2021-09-24 08:47] mwallnoefer commented on #220
Always regarding _Windows_ to not forget: please also pay attention to the the still unfixed test breakage introduced in commit https://github.com/jolie/jolie/commit/9edec818271fd11138ca56e351ad5421f3022f4b.

[2021-09-24 11:38] fmontesi commented on #220
I've pushed a tentative fix, can you test?

[2021-09-26 17:58] mwallnoefer commented on #220
Hi Fabrizio,

nope, the commit https://github.com/jolie/jolie/commit/bc2ab24978380bea5b908e248fbd4e98b17bef99 doesn't solve the issue. Furthermore it raises the compatibility level to Java 11, but haven't we agreed to continue to support Java 8?

The real fix is to change `req = "jolie"` (in the line 8 of both the test cases) into `req = "jolie.bat"` on Windows. But how to do that on the fly?

[2021-09-28 17:01] fmontesi commented on #220
Ah, thanks for the info, that's enlightening!

Is there a way of having "jolie" make sense in Windows? For example, what
if we install a "jolie.cmd" in addition to "jolie.bat" (same content)? I
suspect that a jolie.cmd file can be launched as jolie from the console,
differently from a bat file, but I don't actually know.

If that fails, we can either:
- Add a java service operation that returns th

[2021-09-30 06:52] fmontesi commented on #351
@kicito any ideas?

[2021-09-30 17:05] mwallnoefer commented on #220
Ok, yes. Shouldn't we revert the commit first?

This sounds feasible. Maybe just check for the _windir_ env variable (reference: https://www.dowdandassociates.com/blog/content/howto-set-an-environment-variable-in-windows-command-line-and-registry/)?

[2021-09-30 17:37] fmontesi commented on #220
Ad Java 11: Ah, I forgot to reply about this point. We actually bumped the required version of Java to 11 some time ago (some other modules require it already.) The download page states this correctly: https://www.jolie-lang.org/downloads.html (Jolie 1.10.0 might work with Java 8).

Ad detecting the operating system: I think that we have OSUtils that we can use (we implemented a utility library fo

[2021-09-30 17:44] mwallnoefer commented on #220
My proposal which works: https://github.com/jolie/jolie/tree/patch-windir

[2021-09-30 17:51] fmontesi commented on #220
"It works", the two magical words that I have a soft side for! :-D Can you make a PR with that and same fix for the other 2 tests (they have similar code)? We can improve how to handle this later. Making the tests work definitely takes priority over beauty.

[2021-09-30 17:55] mwallnoefer commented on #220
PR #353

[2021-10-01 10:48] klag opened #354 "Allowing HTTP DELETE for accepting body"
It is better to specify a parameter in the http protocol for stating that the delete method don't send any body.

Please revert this merge
https://github.com/jolie/jolie/pull/344

[2021-10-03 17:43] mwallnoefer commented on #220
After upgrading to Java 11 the installer is working correctly also on Windows. Wow 😆 .

[2021-10-03 17:43] #220 closed

[2021-10-04 09:23] fmontesi commented on #220
Woohoo! :+1:

[2021-10-04 10:02] fmontesi commented on #351
@klag try again. :)

[2021-10-17 19:27] kicito opened #359 "ArrayIndexOutOfBoundsException raises when executing with --trace flag"
**Describe the bug**

With the new pretty printing running Jolie with --trace raises ArrayIndexOutOfBoundsException

**To Reproduce**
Steps to reproduce the behavior:
1. Run any Jolie service with `--trace` flag

**Expected behavior**
The program should be able to execute with trace output

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Linux
 - Jolie versi

[2021-11-22 15:11] SuperMauro1966 opened #366 "openapi2jolie not working"
**Describe the bug**
If you launch the tool it said
Protocol not supported

**To Reproduce**
openapi2jolie <file-openapi> <desired service name> . http

**Expected behavior**
Create two files
The include e the jolie service

**Screenshots**
---

**Desktop (please complete the following information):**
 - OS: Linux]
 - Jolie version 1.10.5
 - Java Version 11.0.11

** Proposed solution
The problem a

[2021-11-23 09:59] SuperMauro1966 opened #367 "openapi2jolie - missing generating an operation signature"
**Describe the bug**
Trying to generate a jolie client from the openapi file included below,
the type SelectedSession belonging to createPDUSession is not generated.

**To Reproduce**
openapi2jolie DanieleRossi-UEDigitalEntityNBI_API-1.0.0-resolved.json UEDIgitalEntityNBI_API . http

**Expected behavior**
A full list of type generated from the corresponding json conterpart,
a correct signature for

[2021-11-23 10:26] SuperMauro1966 opened #368 "openapi2jolie - error check in operations generated"
**Describe the bug**
Generating the code for the different supported operations,
the code for checking the result status, check for a default variable instead of "default"

**To Reproduce**
See issue #367
Verify the start of every operation generated.

**Expected behavior**
default -> "default"

**Screenshots**
---

**Desktop (please complete the following information):**
 - OS: Linux
 - Jolie ver

[2021-12-28 14:57] SuperMauro1966 opened #370 "Parser : error generated because can't import include file from jap file"
**Describe the bug**
The parser (jolie --check <name file>) cannot import from a jap file.
So the inclusion directive
include "../jung.microservices.registry/public/interfaces/JungRegistryInterface.iol"

( jung.microservice.registry is a jap file inside the lib folder)

generate the follow error

error: File not found: ../jung.microservices.registry/public/interfaces/JungRegistryInterface.iol. Fou

[2022-03-12 19:02] mwallnoefer commented on #354
As extensively discussed in PR #344 I see no real value adding it and propose to mark it as an enhancement.

[2022-03-12 19:04] #329 closed

[2022-03-12 19:09] mwallnoefer commented on #164
This is not so easy, since according to the RegEx also a value like -000030.12 (prefix zeros) would be possible. Not sure if this is doable at the level of the `valueToXml()` call.

[2022-03-20 09:14] fmontesi opened #373 "Add license header checking to master and pull requests"
We often receive code that lacks proper license headers, which then must be checked manually for respecting our open source license.

It'd be great to have something like https://github.com/apache/skywalking-eyes as a github action in our `maven.yml` in https://github.com/jolie/jolie/blob/master/.github/workflows/.

[2022-03-24 12:08] fmontesi commented on #373
Small update: I've made a script to check for our files, and we're missing a few license headers.
You can run the script by launching `scripts/license-check` from the root directory.

[2022-03-29 11:42] fmontesi commented on #370
Isn't that supposed to be like include "jap:.." ? Or are you including directly from within the same jap?

[2022-04-13 09:58] bmaschio opened #379 "Moving method from match from UriTemplates to jolie-uri"
@fmontesi

As from our conversation on discord we need to move the method match from

[UriTemplates](https://github.com/jolie/jolie/blob/master/javaServices/coreJavaServices/src/main/java/joliex/util/UriTemplates.java)

to

jolie-uri

But in the usual place, I can not find it

![image](https://user-images.githubusercontent.com/12083716/163153773-bf6d41a0-4325-48a8-a352-1d72d6a96d78.png)

seeking a

[2022-04-20 05:30] fmontesi commented on #379
I guess this is closed judging from your last pr.

[2022-04-20 05:30] #379 closed

[2022-04-29 08:44] patranger opened #384 "Adding a language to the Debian repository"
It would be very convenient if you would add packages to the Debian repository. Then programming in Jolie would be more convenient because all updates could be done in one command.

[2022-05-02 14:27] fmontesi commented on #384
Hi @patranger,
That would certainly be nice to have. I'm not sure we have anybody looking into distribution packaging at the moment. Is that something that might interest you? Would you need some kind of support?

[2022-05-04 14:57] bmaschio opened #388 "Database Service attributes"
From the [DbService](https://github.com/jolie/jolie/blob/master/javaServices/coreJavaServices/src/main/java/joliex/db/DatabaseService.java)
it seems that the attributes are applied only in case of enbedding

[code]
Am I wronge

[2022-05-09 18:55] patranger commented on #384
@fmontesi
The link includes packaging instructions to deb format. I am happy to help with this, but I don't have time for this yet. If I find a moment, I'll take care of it.

https://www.intracto.com/en-be/blog/creating-debianubuntu-deb-packages

[2022-05-16 09:27] kicito opened #395 "Reflection service returns NullPointerException"
**Describe the bug**
When using service syntax, the Reflection library returns NullPointerException on `invoke`

**To Reproduce**
run the following code
[code]

**Expected behavior**
twice operation is invoked

**Desktop (please complete the following information):**
 - OS: Linux Ubuntu 20.4
 - Jolie version Jolie 1.11.0-git
 - Java Version openjdk 11.0.15 2022-04-19

**Additional context**
After

[2022-05-16 10:19] kicito commented on #395
also see https://github.com/kicito/jolie/tree/issue/reflection for additional failed test case specified in test/library/reflection_module.ol.

test content:
[code]

[2022-05-17 09:32] AlbertoGaragnani opened #396 "Jolie Request Response does not respond if run from IDE"
**Describe the bug**
If I run a simple jolie service with a request-response operation from IDE, when I try to send an HTTP message to the service (inputPort) it doesn't respond with the expected response.
It works completely fine if run form terminal.

**To Reproduce**
1. Use the following code or any other request-response code:
[code]
2. Run it from IDE (https://github.com/jolie/jolie/wiki/IDEs

[2022-05-17 10:06] AlbertoGaragnani commented on #396
I am running the code i copied above from IDE with the following configurations:
Main Class: jolie.Jolie
Arguments: -l ./lib/:/lib/jolie/lib:/lib/jolie/javaServices/:/lib/jolie/extensions/* -i /lib/jolie/include -p /lib/jolie/packages service.ol
Working Directory: path/to/service.ol

I followed this link with some adjustment: https://github.com/jolie/jolie/wiki/IDEs-and-Debugging

[2022-05-17 11:17] kicito commented on #396
I don't have any experience with Netbeans, I might not be able to help you much. The argument seems to be correct for me.

I am not sure if it is relatable but is the progress bar at the bottom of the IDE which stuck in 50% relevant in this case? And perhaps try debug the program with `--trace` argument before Jolie file like following

Arguments: -l ./lib/:/lib/jolie/lib:/lib/jolie/javaServices/:

[2022-05-18 11:14] AlbertoGaragnani commented on #396
I realised I was working on an old fork of the official repository and running the code from there. I synced it and now it works fine without changing arguments.
Thanks a lot for your help

[2022-05-18 11:14] #396 closed

[2022-05-20 18:01] #395 closed

[2022-05-31 08:12] kicito commented on #327
Hi, I am trying to fix this bug as it might be relevant to the project I am working on. As far as I tried to debug the test case. For this part of the code.

[code]

The for ... in loop creates an additional instance of `ValueLink` and attached to the variable `item` but the evaluation of comparing `item (ValueLink)` with `i (ValueImpl)` fails. As shown in the image of my debugger.

![image](https

[2022-05-31 18:23] fmontesi commented on #327
Good catch. That's because `ValueLink` doesn't implement `equals`, so it defaults to object equality (which is clearly false in this case).

I don't know if using `equals` in there is a good/robust idea, since an implementation of equality for `ValueLink` will have to visit the linked value, which might be surprising. We should probably have a method called differently, like `isEqualTo( Value v )`

[2022-06-03 09:29] klag opened #400 "error message not understandable"
The following code contains a syntax error because a } is missing
[code]
The error on console is
[code]

The OperationInterface follows:
[code]

[2022-06-03 10:29] kicito commented on #400
@vickimixen Is this issue related to your recent PR? Otherwise, I could have a look :).

[2022-06-03 11:04] vickimixen commented on #400
Yes, this is most probably my code. I will take a look at it :)

[2022-06-07 06:51] #327 closed

[2022-06-07 06:52] fmontesi commented on #400
@vickimixen Could you post a screenshot of what you get? :)

[2022-06-07 07:05] vickimixen commented on #400
@fmontesi Yes :)
![errorissue](https://user-images.githubusercontent.com/33627612/172317103-98b7e5bf-b6aa-4361-8f2d-717f72ff4696.png)

[2022-06-07 10:21] fmontesi commented on #400
Looks good to me. Closing for now, but @klag please reopen in case you still encounter the same error with `master`.

[2022-06-07 10:21] #400 closed

[2022-07-02 17:56] chenrui333 opened #409 "1.10.8 release failure"
Looks like [1.10.8 release was not successful](https://github.com/jolie/jolie/actions/runs/2588051595). Thanks!

[2022-07-04 08:54] kicito opened #410 "HttpTemplate header value is never assigned"
**Describe the bug**
The `outHeader` never get assigned with a static value during HTTP send

**To Reproduce**
Execute following code with `--trace` flag

[code]
result:
[code]
**Expected behavior**
The header is sent with the assigned value i.e. Authorization: test

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Jolie version master@219de8ef28e1fa3707454ea2c0b47bc

[2022-07-07 07:22] fmontesi commented on #409
Thanks!
It was because I forgot to update the version in `pom.xml`. Should be working now... let's see. :)

[2022-07-07 12:31] stonedbovines opened #413 "v1.10.8 jar is incomplete"
The v1.10.8 release jar is missing most files.

Size of v1.10.8 is 11.5KB
Size of v1.10.7 was 13.9MB

[2022-07-07 14:30] fmontesi commented on #409
Fixed, but now the installer isn't working properly.. Moving the discussion to #413.

[2022-07-07 14:30] #409 closed

[2022-07-25 15:31] fmontesi commented on #413
Fixed. Now each version has its own installer. Please refer to this version (and upwards) for a complete installer: https://github.com/jolie/jolie/releases/tag/v1.10.13

[2022-07-25 15:31] #413 closed

[2022-07-25 15:42] fmontesi commented on #273
The more @mperessotti, @xpicox, and I work on the theory of Jolie types and trees, the more I tend to agree that there should exists an operator that creates a clean copy. "Merging" two data trees should instead be a binary operator between two values/expressions, which once we introduce copyless messaging could even be a library in the beginning.

I don't know how much existing code would break b

[2022-07-25 16:29] thesave commented on #273
I recall spending a day with Stefano Pio Zingaro, while working on Tquery, on the various dimensions you can play with to define equality and merging — they are used in the semantics of some operators — for Jolie (IIRC 3D: values, arrays, and trees, where, e.g., you might want to have symmetry or not, etc.) 😄
That was also one of the motivations I wanted to explore macros for Jolie, but, now that

[2022-07-25 17:44] fmontesi commented on #273
There are indeed many dimensions, but the trick with the `Vector` type might allow us to focus on trees. :)
Sure, to encode `x := expr` you could just invoke the identity request-response `id@library( expr )( x )`, or simply write `undef( p ); p << expr`. Similar stuff could be done for deep copy `<<`.

What smells to me here is that in inline trees, we write stuff like this:

[code]

but what we

[2022-07-25 18:00] fmontesi commented on #124
@xpicox I wonder if the latest modification to `isDefined` and `is_defined` might actually fix this... thoughts? Maybe it works already in `master`? :)

[2022-07-25 18:11] fmontesi commented on #124
No, nevermind, unfortunately it doesn't. :-\ We still have the problem that an "empty" but defined subnode can be encoded to either `null` or `{}`.

[2022-07-26 11:36] fmontesi commented on #273
FYI, this has important connections to copyless passing (passing by reference), so we should probably solve them in the same pull request:
- The current `<<` is not so easy to implement efficiently. Instead if it redefined, then `x << &p` could just set `x` to the tree returned by `&p` (this is "instantaneous").
- With copyless passing, it's possible to implement an efficient operation like `merge

[2022-07-27 09:25] fmontesi commented on #273
Dear all,
I've opened the GitHub discussions feature to have open-ended discussions like these. Let's try it out to see if we like it. :)
For this issue, please continue in https://github.com/jolie/jolie/discussions/419

[2022-07-30 10:35] fmontesi commented on #332
Should be fixed by the latest PR. Closing.

[2022-07-30 10:35] #332 closed

[2022-09-20 15:25] klag opened #429 "SMTP javaservice does not work with Java11"
Java 11 removed the libraries necessary to the smtp javaservice to work.

[2022-09-20 18:08] fmontesi commented on #429
Ouch! But how could the java service compile then? Is it a class used at runtime that's missing? Is it some old protocol that has been disabled?

Do you have an error? 🙂

[2022-10-05 08:52] klag opened #430 "Bug in extracting http parameters under osc root"
I added a test in this branch for reproducing the bug

https://github.com/jolie/jolie/tree/fix/http-protoco-parameter-recognition

[2022-10-05 08:54] klag commented on #429
@bmaschio since you found and solved the problem, please, could you provide more infos ?

[2022-10-05 08:56] fmontesi commented on #430
@klag: Could you write here the error that you get from the test?

@bmaschio: Could you look into this? I think it's your latest HTTP patch.

[2022-10-05 08:59] klag opened #431 "string-utils test failes on local machine"
In my local machine string-utils test fails as it follows:

[code]

[2022-10-05 09:06] klag commented on #430
`╰─── stackTrace:string = "jolie.net.http.UnsupportedMethodException:
	at jolie.net.http.Method.fromString(Method.java:56)
	at jolie.net.HttpProtocol.send_getRequestMethod(HttpProtocol.java:857)
	at jolie.net.HttpProtocol.send_internal(HttpProtocol.java:1011)
	at jolie.net.http.HttpUtils.send(HttpUtils.java:145)
	at jolie.net.HttpProtocol.send(HttpProtocol.java:1084)
	at jolie.net.SocketCommChanne

[2022-10-05 12:06] klag commented on #430
I locally trued to replace row 1439 with the following code and it seems to work.

[code]
@bmaschio @fmontesi If you think it is sufficient, I can push this fix in the opened branch so it is possible to merge

[2022-10-08 14:25] klag commented on #430
ping!

[2022-10-10 09:04] fmontesi commented on #430
Good catch. I made a one-liner fix in `master`:

[code]

which is a way of doing that `if` declaratively.

Your test passes in master now, but I'm wondering whether @bmaschio intended to have that whenever a person uses a template, the method must also be specified?.. We'd need to check for that separately and throw an error in that case. @bmaschio, I'm leaving this note for you later. :)

[2022-10-10 09:04] #430 closed

[2022-10-11 09:22] fmontesi commented on #431
Should work now. Would be nice if you could test it, since I have a different locale/lang configuration.

[2022-10-11 09:22] #431 closed

[2022-10-11 12:57] klag commented on #431
it works. Thanks

[2022-10-11 21:05] klag opened #432 "++ and -- do not work with long"
`    a = 1662929984215L
    a++
    println@Console( a )()    `

    the result is `777640662`

if we try
`    a = 1662929984215L
    a = a + 1
    println@Console( a )()  `

the result is `1662929984216`

[2022-10-12 06:11] fmontesi commented on #432
@kicito Could you add a test and look into this?

[2022-10-12 08:28] kicito commented on #432
I am just playing with it a bit. It seems like the error is during typecasting while sending the message

[code]
$ jolie --trace 432.ol
432.ol  1.      ^ LOAD  Java Service Loader                     ConsoleService
/home/nau/sdu/jolie-playground/432.ol:92.       :: ASSIGNMENT   ASSIGN                  null                                            Value::long = 1662929984215

/home/nau/jolie-play

[2022-10-12 10:57] fmontesi commented on #432
@kicito your test indicates the post-increment primitive is doing something wrong, maybe a cast.
Browsing the source of PostIncrementProcess confirms this..

[code]

We should check what the type of val is in that code.

This makes me think that the same problem probably holds for --x, ++x, x--, ...

[2022-11-03 18:18] thesave opened #435 "Possible bug in redirection"
Hi all,

I stumbled upon a possible bug with redirection — I was playing with dynamic redirection, but I could reproduce it statically and I assembled this MWE.

If I run the code below

[code]
with the command `jolie -s main main.ol` (main.ol is the file containing the code) and then run
`curl localhost:8000/\!/s/echo`, the call becomes stuck and the console running the Jolie service outputs the

[2022-11-03 18:46] #432 closed

[2022-11-04 13:15] fmontesi commented on #435
Hi Saverio,
You have to terminate the redirection path with another !/, so you get:
[code]

The "bug" in sodep is probably because the resource is not there or something, would be nice to have a better error message by performing a check.

[2022-11-04 13:15] #435 closed