[2015-03-16 12:09] fmontesi opened #3 "generateDocumentation.ol does not work"
If I try to run it on the website server to re-generate the docs, it prints:

INFO: [generateDocumentation.ol] Output message TypeMismatch (getFiles@Self): Invalid native type for node #Message: expected STRING, found void

Apparently we're doing something wrong with the paths. Saverio, can you look into this?

[2015-03-16 12:17] thesave commented on #3
Looking into it

[2015-03-16 13:11] thesave commented on #3
It appears to be working with the command
`jolie build_jsl.ol ../documentation/jsl $JOLIE_HOME/include/`

However there was a bug in the creation of subpaths.
I fixed it and better documented the service and its output.

I think it makes sense to have that script in documentation rather than the `jolie` repo.
Right now I just copied the script from the `jolie` repo to the `website` repo inside fol

[2015-03-16 14:19] fmontesi commented on #3
OK, works now. :+1:

[2015-03-16 14:19] #3 closed

[2015-03-17 11:50] fmontesi opened #5 "SOAP root values"
Currently, SOAP does not transmit root values of messages.

This is however, only a WSDL 1.1 limitation, and prevents programs using, e.g., SODEP or HTTP to be ported to SOAP.

I think that we should transmit root values and leave this limitation only to when WSDL is used.
Please comment if you think that SOAP has this as an inherent protocol limitation or not.

[2015-03-17 12:16] klag commented on #5
I agree, better if we put a parameter for setting this

[2015-03-17 15:32] mwallnoefer commented on #5
Well, maybe I still not get the real issue. I have tried the WSDL SOAP example on http://docs.jolie-lang.org/#!documentation/web_services/web_services.html with enabling the root value. I did not get any type casting problem, so when exactly it causes harm?

[2015-03-17 18:55] fmontesi commented on #5
All those types have void as root type, so I guess they are not influenced since there is no value to encode anyway?

[2015-03-17 19:03] mwallnoefer commented on #5
Well we have also another instance of xmlNodeToValue(...true) a few lines later, when we create an error message:
                } else {
                    String faultName = "UnknownFault";
                    Value faultValue = Value.create();
                    Detail d = soapFault.getDetail();
                    if (d != null) {
                        Node n = d.getFirstChild();

[2015-03-17 19:07] fmontesi commented on #5
My two cents:
- I think that silently dropping values, roots or not, is not a good practice. The developer will see this as unexpected and will enter debugging nightmare. So, if and when we drop a root, it should be an explicit parameter. Actually, I think we should never drop the root and simply give a TypeMismatch error somewhere but please let me know what you think if you had experience with t

[2015-03-17 19:54] mwallnoefer commented on #5
I fully agree. Probably we even do not need a parameter here.

[2015-03-18 14:13] mwallnoefer commented on #5
@klag could you please comment here? I would prefer to push my patch with changing true -> false since we see no real issue.

[2015-03-20 23:27] fmontesi commented on #5
Here's maybe a better suggestion than my last one:

- in jolie2wsdl, we map all root nodes to a subnode called "root" in the WSDL document;
- by default, SOAP works as normal without doing anything weird to roots;
- when the .wsdl parameter is supplied to SOAP, we apply the same trick and all roots go to a "root" subelement.

@klag Would that work for the scenarios that motivated the behaviour we

[2015-03-22 16:42] fmontesi opened #8 "Deep Copy and Aliases in Inline Trees"
Right now, the syntax for Inline Trees (ITs) supports only assignments, for example:

{ .x = 4, .y = 6 }

We should also support deep copies (allowing for nested ITs) and aliases (->), for example:

{ .x << { .z = 3, .i = 2 }, .y -> a }

[2015-03-22 20:40] fmontesi opened #9 "Timeouts for Solicit-Responses (Request-Response invocations)"
Right now, a solicit-response invocation, for example

getUsers@Srv()( users )

can wait for a long time, and be interrupted by an IOException only when the underlying communication channel goes into a low-level timeout (e.g., a socket connection timeout).

It would be much nicer to be able to specify timeouts at the language level (note that this is not a problem for inputs since we can use input

[2015-03-23 09:31] klag opened #10 "spawn primitive does not work"
This code is getting stuck when executing the spawn

include "console.iol"

main {
	vec[0]="hello0";
	vec[1]="hello1";
	vec[2]="hello2";
	println@Console("begin")();
	spawn( i over #vec ) in result {
			println@Console( vec[ i ] )()
	};
	println@Console("end")()

}

[2015-03-23 10:33] fmontesi commented on #10
Probably due to my latest changes to the threading code. This means that neither the test suite nor the website test spawn, since that's what I use for testing changes.

I'll have a look. Meanwhile, can you create a simple test in the test suite (inside of primitives) so that we catch this in the future?

[2015-03-23 10:48] fmontesi commented on #10
Actually nevermind, I can create one easily already from your example by using Math instead of Console (for testing result).

[2015-03-23 11:29] fmontesi commented on #10
Should work now.

[2015-03-23 11:29] #10 closed

[2015-03-23 16:42] klag opened #11 "Cannot rethrow an unknown fault"
In this simple code I need to rethrow a fault in the default handler. The problem is that I statically don't know the fault, thus I need to pass a variable to the throw primitive but the scanner accepts only IDs

include "console.iol"

main {
	scope( a ) {
		install( default => println@Console( "error " + a.default )();
							throw( a.default )
		);
		throw( MyError )
	}

}

I like the idea to ha

[2015-03-23 19:22] fmontesi commented on #11
I agree it's a problem.

How about a rethrow primitive or some token that distinguishes this from the normal throw?

throw( default ) looks like it would throw a fault called "default"

[2015-03-24 19:53] fmontesi opened #12 "Invoker Detection"
It would be nice to be able to retrieve information about the invoker of an input port. This would be useful, e.g., for logging the IP address of an invoker.

In general, we have many types of communication channels, so there would be different types of information. For example, a socket could give an IP address, a local location would give the memory address of the invoker, and so on.

It looks t

[2015-03-25 07:43] klag commented on #12
I would add a parameter in the protocol where it is possible to specify where to store the information. The same that happens for the user-agent in the http protocol.

Maybe we could define a set of parameters that come from the channel which are in common to all the protocols

[2015-03-25 08:02] klag opened #13 "local location definition"
I think it is very important to specify different local location instead of having one single reference as "local" is.

consider the case of 3 services, where A -> B, B -> C, C-> A.
If I want to deploy this architecture in a distributed way, it is very easy to manage locations outside the service code: we can use config.iol files for specifying the different locations and configure the pointers to

[2015-03-25 08:24] mwallnoefer commented on #13
Very sophisticated idea ;)!

[2015-03-25 11:36] fmontesi commented on #13
I fully agree, and actually I remember doing some work towards this by refactoring local comm channels and listeners. The last missing step is refactoring the code for the interpreter a little bit, as it has a couple of tightly coupled methods for handling the single local input port.

If somebody wants to do this, feel free to ask. This is something that we surely need for the future.

One langua

[2015-03-25 13:42] fmontesi commented on #13
PS: why tuple spaces? Isn't what we have (LocalCommChannel) enough? I would just allow for separate LocalListener instances, the code is there.

[2015-03-26 10:40] klag commented on #5
jolie2wsdl: if you put the root in a subfield called "root" then the SOAP message will have a subfield called root. So the soap protocol, will put all the subfield called "root" as root values of the tree? I really do not like this.

If I remember well I introduced the dropping of a TEXT_NODE in the root because I dealt with a very bad soap client that sent to my jolie web service a soap message w

[2015-03-26 10:56] mwallnoefer commented on #5
Yeah, I agree with you that using "simple" return values is not the best solution.
But for fixing the issue we could fall-back to the parameter solution. My question is: did you have only one single bad experience, so I would set the drop to a default "false".

[2015-03-26 11:25] fmontesi commented on #5
Ok i agree with all of you, as long as the drop is disabled by default so
that we do not surprise developers unaware of this (regardless of how well
documented this will be, it's just weird and breaks our usual "it just
works" methodology for protocols).

I still think jolie2wsdl should throw a warning at least.
On Mar 26, 2015 11:56 AM, "Matthias Dieter Wallnöfer" <
notifications@github.com> wrot

[2015-03-26 11:35] mwallnoefer commented on #5
Okay I push the patch.

[2015-03-26 11:35] #5 closed

[2015-03-27 12:49] fmontesi opened #14 "Concurrent provide-until"
Hi all,

Provide-until is already full of surprises. Here goes a crazy idea for dealing with a problem I encountered while using it.

# Problem

Suppose you have a process that implements a chat room. It works like this: first you open the chat room; then, operations getHistory (for reading the content of the chat room) and postMessage (for posting a new message) are provided until operation close

[2015-03-30 21:33] fmontesi opened #15 "JSON root values"
Hi all,

There's a new bug in JSON. If I simply return a string, it used to be:

{ "$": STRING }

Now instead it's just

STRING

which is not well-formed.

As a consequence my tool here doesn't work anymore:

http://fabriziomontesi.com/dblp/index.html

[2015-03-31 06:20] mwallnoefer commented on #15
Yeah, I know that I have changed this during the JSON refactoring.  But I thought that it would not hurt us.
My question is: does JSON always require a whole object?

[2015-03-31 06:26] fmontesi commented on #15
No, I changed the webpage to take the string literal instead of accessing the $ subnode and it works.

The problem is that if we have unpredictable structures like this. Imagine having a type:

type t:string { .x?:int }

Now where's the root? If x is there, it's in $, otherwise the message is just a string literal. So I need to write awkward code..

We may want your behaviour in some cases for com

[2015-03-31 06:29] mwallnoefer commented on #15
Ah okay, since https://tools.ietf.org/html/rfc7159#section-2 does not contradict our current behavior, it suggests only the use of arrays and objects.

[2015-03-31 09:12] #15 closed

[2015-03-31 18:03] mwallnoefer opened #17 "SchedulerService"
This time I had a look on the source of our Java Services. The SchedulerService (javaServices/coreJavaServices/src/joliex/scheduler/SchedulerService.java) seems weird to me, since it contains plenty of commented code. I wonder if we could get rid of it, since this looks not very professional!

[2015-04-01 07:11] klag commented on #17
I try to involve Francesco in the refactoring of the code...

[2015-04-01 07:37] fmontesi commented on #17
That service has been unmaintained for a while.

@klag: are we using it anywhere? If not, I'd take the occasion to refactor the api.

[2015-04-01 08:05] klag commented on #17
We are using it in a old application. We can refactor the API, no problem.
But I would like to involve Francesco if he is available for doing it.

[2015-04-01 08:15] fmontesi commented on #17
Absolutely, I'd like a lot to have Francesco on board too. :-)
On 1 Apr 2015 10:06, "klag" <notifications@github.com> wrote:

[2015-04-02 16:23] klag opened #18 "type extender does not extend undefined values"
If I try to extend the following interface with the Extender, the interpreter raises a NullPointerException. The problem is related to the undefined native type.
The same happens for type OpType: void { ? }

ex:
type OpType: undefined

interface MyInterface {
RequestResponse:
    op( OpType )( OpType )
}

[2015-04-03 01:42] fmontesi commented on #18
We should exit with an error without a NullPointerException.

This cannot be implemented just by patching type extension right now. Type extension is an operation that takes a type and an extender and returns a type. But there is currently no way of defining the type you want. So first we'd need new syntax/semantics for something like the following:

type t:void { ? .x:int }

Meaning "there is at

[2015-04-05 12:34] mwallnoefer opened #20 "JolieDoc and code comments"
Our generated API documentation (http://docs.jolie-lang.org) loses all (helpful) comments written in the various headers. Not sure if we can fix it, since they pass the Jolie parser which correctly ignores comments before being converted into the doc format. Did I get this right?

[2015-04-05 18:40] fmontesi commented on #20
We could do it like in Doxygen and add something for inline documentation comments:

type t:void {
  /// the number x
 .x : int
}

Actually our syntax right now is a bit ugly: /**! */

I suggest we support also (I say also because I don't want to break backwards compatibility):

/** */ as in javadoc
/// for inline comments

Also, sometimes it is useful to write a comment for something *after* the

[2015-04-06 07:38] mwallnoefer opened #21 "HTTP GWT-RPC"
During writing a unit test for GWT-RPC I got this exception:

Exception in thread "Thread-46" com.google.gwt.user.client.rpc.IncompatibleRemoteServiceException: This application is out of date, please click the refresh button on your browser. ( Malformed or old RPC message received - expecting version between 5 and 7 )
        at com.google.gwt.user.server.rpc.impl.ServerSerializationStreamReader.

[2015-04-06 08:47] mwallnoefer opened #22 "reflection.ol test failing"
[reflection.ol] Request-Response process for test threw an undeclared fault for that operation (InvocationFault), throwing TypeMismatch

I got it on various machines and also after a complete rebuild. For now I disabled it since it prevented the execution of the other unit tests.

[2015-04-06 15:49] fmontesi commented on #22
Fixed and reactivated.

[2015-04-06 15:49] #22 closed

[2015-04-07 09:18] fmontesi commented on #21
It looks like the client and server version are not aligned?

[2015-04-07 10:06] fmontesi opened #23 "Can we get rid of gwt-dev.jar?"
I'm wondering whether there is a smaller library covering the API subset we're using, as this one is quite huge and currently makes up for most of the size of a Jolie installation (!).

Anyone who'd like to look into this?

[2015-04-07 11:09] mwallnoefer commented on #23
37 MB on GWT 2.7 ;). Couldn't we make it optional - I mean just deleting it from our libs and users add their own version? We are doing the same for the JDBC drivers.

[2015-04-07 11:36] klag commented on #14
I am not convinced about the usefullness of concurrent provide-until primitive.
I think that the problem should be approached at the level of architecture instead of at the level of single service.

In this case there should be a chatService that is in charge to store all the data of a given chat and then a workflowService that is in charge to provide the flow.
________________________
chatService

[2015-04-07 11:38] klag commented on #23
I agree it should be optional

[2015-04-07 13:34] fmontesi commented on #14
I agree with the philosophy (what I need to implement is the workflow service, imagine use an external service for the history variable). I did not understand your comment about the cset though: since the data (resource) service needs to give me access in parallel, I need everything on top using concurrent execution or I would end up with a very ugly recursive-parallel solution inside of the data

[2015-04-07 15:07] klag commented on #14
I think that the problem to design an access policy to a given resource is a problem which has to be managed at the level of the resource service. In our example is the chatService. I agree that there are no specific primitive so far for doing what you want, but in this case I prefer to investigate these kind of primitives, for example an extension of the synchronized primitive in order to manage

[2015-04-07 15:28] fmontesi commented on #14
Mmh I don't like waitFor too much. I don't even like synchronized too much. :-)

I would like something based on messages, maybe a generic block construct that guarantees that something gets done (e.g., a solicit-response) before and after a code block *regardless* of faults.

I think we need something like this because it can be extended. We risk to have a primitive for each concurrent policy whi

[2015-04-08 18:41] mwallnoefer commented on #21
Let us continue the discussion in #23.

[2015-04-08 18:41] #21 closed

[2015-04-08 18:48] mwallnoefer opened #24 "API refactoring regarding boolean parameters"
Before releasing a new major release, we should transform all int parameters which are intended as boolean. I know that such a change breaks compatibility, but let us discuss it here. For instance in the Database service we have:

type ConnectionInfo:void {
    .port?:int
    .toUpperCase?:bool
    .username:string
    .host:string
    .checkConnection?:int   < should become bool
    .toLowerCase?

[2015-04-08 18:54] fmontesi commented on #23
Excellent. I'm scheduling this for 1.3. @mwallnoefer I'll open a branch for that.

[2015-04-08 19:31] fmontesi commented on #24
I agree, but this will have huge implications. I could open a dedicated branch for this, but I think that the next major release is too soon.

I'd feel much more at ease if we implemented a static type checker first. That way one could check whether old services need updating. Complete static type checking in Jolie is difficult due to [dynamic look-up](http://docs.jolie-lang.org/#!documentation/ba

[2015-04-08 19:33] fmontesi commented on #23
@mwallnoefer I've created the branch gwt-removal, feel free to do the change there (I'll merge it for Jolie 1.3).

[2015-04-08 19:34] fmontesi commented on #17
@klag any news?

[2015-04-08 19:36] fmontesi commented on #18
@klag can you provide a quick and dirty example to fix the NullPointerException?

[2015-04-09 07:13] fmontesi opened #25 "Optional { nullProcess } for request-response inputs"
Right now all request-response inputs require a body even though it's empty:

op( request )( response ) { nullProcess }

I'd like to be able to write this instead:

op( request )( response )

What do you think? This is in line with the recent modification to input choices.

Anybody up for this? It's a simple modification to OLParser.

[2015-04-09 07:33] klag commented on #17
Hi, sorry for the delay. Francesco told me that he is very busy now. I think we can go on without his contribution now. He will join us in the future.

Do you want to refactor the SchedulerService or do you want to drop it away?

[2015-04-09 07:39] klag commented on #24
I would like to use this issue for starting a discussion about service versioning. We will encounter the same problem in the future and I cannot imagine that every time we will have to update all the installed code. Thus, we have to deal with service versioning in some way. In my opinion, old versions must remain available. Maybe we could exploit JPM for managing service versioning?

[2015-04-09 07:46] klag commented on #25
I like more

op( request )( response ){}

[2015-04-09 07:48] mwallnoefer commented on #25
https://github.com/mwallnoefer/jolie/commit/fc3e07b133ad0a34a198f0309e9542e2a536df3b

[2015-04-09 08:55] fmontesi opened #26 "Parametric procedures"
Writing Jolie code can be error-prone sometimes due to code duplication.

I propose to solve this with parametric procedures:

<pre>
define X(A, B)
{
    A = 3;
    B
}
</pre>

Where A and B can be variable paths and code, for example this is an invocation:

<pre>
p = 3;
X( p, { notify@Logger( "executed X" ) } )
</pre>

p will have value 4 after that code, because these are stateless procedures: I

[2015-04-09 09:06] fmontesi commented on #14
OK, here's a super proposal devised in collaboration with @thesave .

If we have #26 (parametric procedures) and a primitive for running code in parallel without waiting for it to finish, I can implement the scenario in a non-error-prone way like this and also support custom locking policies for our data services!

Let us suppose that we have such a primitive, fork (please suggest a better name if

[2015-04-09 10:07] fmontesi commented on #25
I agree only partially.

It's true that op(x)(y) looks more different than what we have now, but using {} makes us inconsistent with input choices, where the {} brackets are not needed.

[2015-04-09 10:10] fmontesi commented on #24
I would open a separate issue because

[2015-04-09 10:15] fmontesi commented on #24
@klag Can you open a separate issue for discussing it? Versioning a-la' microservices can already be done with redirections and collections, but here we're talking about packages and libraries so we should discuss that in details and probably get some inspiration from the new java specs for package versioning, to see if we can reuse some concepts (in the forthcoming Java 9).

[2015-04-09 10:19] klag commented on #26
I am a little bit confused, if we want recursive definition I think we cannot avoid to introduce local variables, that it is in contrast with the variable management approach of Jolie.

Otherwise, we could introduce a simple macro expansion into the define.

I like the idea to have macro expansion for the define, and then the possibility to define inline service.

Ex:

service Homer( req )( res )

[2015-04-09 10:25] fmontesi commented on #26
You have local "references", but not state variables.

It works by immediate expansion on call, not by creating a variable stack as in other languages.

For example when the interpreter does this:

<pre>
define X(path A)
{
     A = 3
}

main
{
    X(p)
}
</pre>

It will expand X(p) to p = 3, following the definition of X. So they are almost like a macro expansion, but the get expanded at runtime w

[2015-04-09 10:26] fmontesi commented on #26
(ps: our definitions are already recursive, so if we make them simple macro expansion we break backwards-compatibility and we need to be a bit careful)

[2015-04-09 10:32] fmontesi commented on #17
Looks like the current SchedulerService implements a couple of operations for periodic notifications that the embedder receives, in a cron-like fashion.

We should collect some use cases we want to cover (maybe from other frameworks?) and then decide on what functionalities we want it to implement. Until then, I suggest we mark it as I have no idea about the design of its interface.

Maybe we want

[2015-04-09 12:11] klag commented on #14
It is not clear to me why we need such a construct for doing the following:

main
{
        [ read()( history ) { send a reader lock request to RW service ]
        [ post( msg )() { send a write lock request to a RW service ]
        [ closeRoom() ]
}

RW service will be responsible for governing the access policies

[2015-04-09 18:32] fmontesi commented on #26
I'm closing this for now as it seems like I can cover my use case of interest without it.

[2015-04-09 18:32] #26 closed

[2015-04-09 18:34] fmontesi commented on #14
I'm closing this for now as it seems like I can cover my use case of interest without it.

[2015-04-09 18:34] #14 closed

[2015-04-09 18:59] fmontesi opened #27 "Internal services"
Hi all,

I'm reposting this from my original e-mail to the mailing list for Jolie 1.2. I've postponed this feature due to lack of discussion, so I'd like to rekindle that here.

# Motivation

Right now doing procedural programming in Jolie is a pain, as we do not support local variables in defined procedures. This is *intentionally* painful, as using procedures too much can make it hard to switch

[2015-04-09 19:08] fmontesi commented on #25
@mwallnoefer : Instead of null, when not finding a body process please put a new NullProcessStatement( getContext() ); . This way we avoid a null, which is always nice. :-)

@klag : Any arguments for not going with consistency wrt input choices, where {} are not used (they would throw a parser exception)?

[2015-04-09 21:00] mwallnoefer commented on #23
Yeah, now I managed to understand what the problem is: we have this Jolie-GWT library joliex.gwt. * which is linked against gwt-dev.jar. So this is indeed not so easy to address, since we would not like to lose GWT support.
We would need to substitute this JAR with some kind of stub just for compile-time, and users may install their own version afterwards?
Probably we could circumvent this also by

[2015-04-10 07:01] fmontesi commented on #23
I'm doing some cleanup and it looks like removing that dependency does not make javac complain.

Can you send me a small gwt app that works now, so that I can test whether I'm making a mess by hacking some stuff out?

[2015-04-10 07:01] mwallnoefer commented on #25
https://github.com/jolie/jolie/pull/28

[2015-04-10 07:03] fmontesi commented on #25
Patch looks good now, thanks!

I'll merge it as soon as @klag lets us know if he had any particular motivation for his option.

[2015-04-10 07:28] mwallnoefer commented on #23
Just to clear: I have developed no GWT app (maybe someone else?) but you could try to make my test pass: https://github.com/jolie/jolie/blob/master/test/extensions/http_post.ol

[2015-04-10 07:31] klag commented on #25
Ok for me. I do not have any solid motivation, it is just a personal view :-)

[2015-04-10 07:35] klag commented on #23
I'll try to send you a simple GWT app next week

[2015-04-10 07:37] fmontesi commented on #25
Fine. Matthias, please merge. :-)

@klag : I understand the gut feeling. {} gives the impression that something is actually going to happen between request and response. But hey, in the future everybody will know Jolie semantics by heart.. ;-)

[2015-04-10 07:37] #25 closed

[2015-04-10 13:04] klag commented on #27
I like the proposal, I just suggest to make the interface declaration as not mandatory.

As far as the questions, here my answers:
- I would allow the inheritance of the outputPort. I do not see any motivation against this.
- I think it could access just the global variables. In some cases, where there are big trees, could be useful to pass data by reference (through global) instead of values.

I

[2015-04-10 13:06] klag commented on #27
Another possibility is that to have private operations:

[ private myop()() {
}] {}

they can be introduced in the main behavour, and they must be declared in a provate interface:

private interface MyInterface {
RequestResponse:
     myop
}

Clearly, private interfaces are not public.

[2015-04-10 13:14] fmontesi commented on #27
I like having explicit private things but for now I'd say not to go there. That's because they already exist: you just have to declare them in an input port that only you can reach (so it's just a matter of programming a private extension if we want to go the extra mile).

[2015-04-10 13:24] fmontesi commented on #27
I'm in favour of sharing the output ports with the binding (location, protocol) defined statically in the service but not for sharing any dynamic binding done by the invoking process.

This could mean that we should share the state of the init procedure with that of the inner service, because sometimes people initialise protocol configurations in the init procedure.

If you use the keyword "privat

[2015-04-15 09:26] fmontesi opened #31 "HTTPS does not work"
Seems like the latest changes broke HTTPS, the working web server I had in website//jolie/jpsr/web/leonardo/leonardo.ol (launched by jolie/jpsr/main.ol) does not work anymore.

You can access it at https://localhost:8080/createUser.html

After we fix it let's make a test for https in the test suite before Jolie 1.3, looks like we break HTTPS now and then when we touch HTTP. It's pretty sensitive.

[2015-04-16 06:26] mwallnoefer commented on #31
Weird, since I made the changes in full accordance to HTTP.
This week I am on holidays, but next week I can look into it.

[2015-04-16 08:58] klag opened #32 "Embedded services should be able to automatically load all their libraries in lib folder"
When a service is embedded in a parent service, it is not able to load the libraries contained in its lib folder.

It is possible to override this problem by loading libraries inside the embedded code with a loadLibrary@Runtime invocation but it is a very bad solution. The developer indeed is forced to change his programming style depending on the fact that the service will be embedded or not (and

[2015-04-16 09:04] fmontesi commented on #32
That's partially incorrect I believe, but it requires testing.

I believe that a subservice can load libraries in its lib folder. The only problem is that services share a class cache with the classloader of their parents. Hence if you load a JavaService with a "CanUseJars" annotation and this gets evaluated by the embedder, you don't find the lib there and then, when the embedded service load the

[2015-04-16 09:30] klag opened #33 "When a service is embedded by a parent in another path, File Service does not work"
If you embed a service in a parent which is run in a different path of the embedder, the FileService always performs its operation starting from the path of the parent.

This is a problem because when you program a microservice you want to be responsible of the file system managed by that microservice, that is usually considered as all the folders and files contained in the microservice project fo

[2015-04-16 09:34] klag commented on #32
You can solve the problem with loadLibrary for the direct embedded services, but if you have more nested services, it seems that also loadLibrary does not work.

Ex:

parent (libA,libB,libC)
     child1 (libD,libE,libF)
          child 2 (libG,libH,libI)

libD,libE and libF can be loaded by using loadLibrary@Runtime in child1.
libG, libH and libI cannot be loaded

[2015-04-16 10:29] fmontesi commented on #33
Yes, I've always wondered about this. I have never implemented this because it will break backwards compatibility, so if we do it, it should be a major release with a big warning sign saying that all embedded services may break.

[2015-04-16 10:38] klag commented on #33
I think we should seriously think to a consistent way of service versioning which should work both for jolie services and java services.

[2015-04-16 10:47] fmontesi commented on #33
Yes. For now, the only way to handle this kind of situations is using 3rd-party containers or virtualisers (e.g., Docker), where you deploy services using different versions of Jolie (this methodology is the current standard in microservices afaik). Anyway, let's continue the discussion on versioning on the ML since it is bigger than this particular issue on the file service.

[2015-04-16 11:04] klag commented on #33
I think the current version of coreJavaService should be versioned as the 1.0.0. All the JavaService inside should take this version.

Then, I suggest to create a different Javaservice for each Javaservice contained in coreJavaService. The new Javaservices will be natively verisioned in some way.

interface names and type names should be changed in order to deal with versioning.
include primitive

[2015-04-16 13:04] fmontesi opened #34 "Versioning"
I'm moving the discussion about versioning in this issue, from #33 .

We're starting to see more and more needs for versioning services and libraries (see #33 and #24), as we may have hybrid architectures using microservices with different library versions.

As for the versioning scheme, I suggest something like they use in standard OSGi:

https://osgi.org/download/r6/osgi.core-6.0.0.pdf

(see pp.

[2015-04-17 07:53] fmontesi commented on #32
What the... :-)

OK, please create a brief test to reproduce it. I suggest you create a git repo in your github account that everybody can clone to test it.

[2015-04-17 12:22] fmontesi commented on #23
@klag any news on the GWT app?

[2015-04-19 17:13] mwallnoefer commented on #31
This is the first required change:

diff --git a/lib/jolie-ssl/src/jolie/net/ssl/SSLProtocol.java b/lib/jolie-ssl/src/jolie/net/ssl/SSLProtocol.java
index 4507402..42529c3 100644
--- a/lib/jolie-ssl/src/jolie/net/ssl/SSLProtocol.java
+++ b/lib/jolie-ssl/src/jolie/net/ssl/SSLProtocol.java
@@ -185,7 +185,7 @@ public class SSLProtocol extends SequentialCommProtocol
                throws IOException

[2015-04-19 17:30] mwallnoefer commented on #31
Fixed by ea697477518e55a56aea6e5724ca7584305dac5d.

[2015-04-19 17:30] #31 closed

[2015-04-20 10:18] fmontesi commented on #31
Great, thanks!

[2015-04-22 10:52] fmontesi opened #35 "Database connection pools"
I would like to switch to something standard for handling our database connections in DatabaseService (right now, we handle them manually), as the service needs improvements and I don't see a reason to reinvent the wheel. I had a look around but I wonder if somebody here has experience/knows what they're using in other major Java frameworks? Then we could simply go with that.

[2015-04-23 11:55] bmaschio opened #36 "jolie2java improvements and jolie2C#"
Hi all

I have developed an upgrade for jolie2java and a  new jolie2C# tool, I need someone that would help me to test them

Thank you
Balint

[2015-04-23 11:57] fmontesi commented on #36
Can you fork Jolie in your github user account and put the changes there? That way I think that anybody in the Jolie team could test them.

I do not have a C# installation at hand, anybody else?

@mwallnoefer can you help in testing Balint's mods to jolie2java, as you recently modified it too?

If you send me a small example, I'd be glad to test it, too.

[2015-04-23 12:06] mwallnoefer commented on #36
Yeah, I might help.

@bmaschio would be nice if you could rebase your improvements on my changes, which got recently merged.

[2015-04-23 12:51] fmontesi commented on #23
ping @klag (this is currently the show stopper for Jolie 1.3, I'd like to release it)

[2015-04-23 13:20] bmaschio commented on #36
@mwallnoefer I have added the creation of the directories structure and relative Ant built.xml file

@fmontesi  how do i commit  the changes?

Thanks

Balint

[2015-04-24 07:40] bmaschio opened #37 "Behavior difference Jolie2Wsdl"
Hello everyone

During a Jolie training session i have notice a difference between the Jolie2Wsdl suggested use and the real command parser
This is the suggested use

jolie2wsdl [ -i include_file_path ] filename.ol soap_input_port_name
[ output_file ]

C:\Vincent Examples\TestVersion1.2.1\TestWSDL>jolie2wsdl main_test_wsdl.ol TestInterfaceSoapInputPort test.wsdl
Starting conversion...
null
apr 24,

[2015-04-24 08:50] klag commented on #23
How can we proceed? The perfect solution should be providing the GWT app source code.
Then the GWT source code should be compiled with the current release of GWT and then tested.
Is it feasible?

[2015-04-27 07:26] fmontesi commented on #36
@bmaschio: the best is that you fork Jolie (go [here](https://github.com/jolie/jolie) and click "fork" on the upper right), creating a fork in your own user account of the Jolie repository. Then, you can copy your files and commit your changes to your own Jolie repository in your user account. After that, you can create a pull request, allowing us to use the nice github web interface to review cha

[2015-04-27 07:30] fmontesi commented on #37
@klag @mwallnoefer If I remember correctly, this is because the --help implementation of jolie2wsdl is wrong (and the website docs). Can you help in patching it?

I think that some parameters could be improved. --tns could be --namespace, --addr and --pN are a bit unintuitive, and --oF is usually -o in standard tools AFAIK.

What do you think?

[2015-04-27 07:36] fmontesi commented on #23
Well, I don't see the problem as we're not developing an automated test here yet.

If you can just share the source code of a small GWT app and tell us the command for compiling it, I think we'd be ok for this issue.

[2015-04-27 13:15] bmaschio opened #38 "Jolie Web Services acquired by NetBeans"
Hi all

It is me again , being the usual pain , I was going to write a post on how to integrate Jolie Microservices in Java Program. So I thought to have a go with importing Jolie WebServices Using NetBeans 8.0.1
And this is how i went about it

1) Create a simple Java Program
2) Use the WebService Client to digest the WSDL generated by Jolie2WSDL
![image](https://cloud.githubusercontent.com/asset

[2015-04-27 13:23] fmontesi commented on #38
Hi Balint,

Really interesting. Can you try to replicate the GetCitiesByCountry operation from that web service in Jolie, and tell us the output wsdl that you get out of jolie2wsdl? Also, I can't see your SOAP messages, you have to use the pre tag like this:

    <pre>
    your code here...
    </pre>

[2015-04-27 13:33] bmaschio commented on #38
@fmontesi
Yes i do it straight away i will post all the code and resulting WSDL

[2015-04-27 14:36] bmaschio commented on #38
@fmontesi

Here we are I have replicated the operation exported by the GetWeatherSevice
Please note I have defined the Jolie operation type with the same name of the MessageType in the original WSDL
[code]
then I have tried to regenerate the classes in NetBeans amd i get the following error)

![image](https://cloud.githubusercontent.com/assets/12083716/7349451/6f769152-ecf9-11e4-890e-1a54388ffac6.

[2015-04-28 07:46] fmontesi opened #39 "Importing multiple copies of the same service"
Something I don't like about our current implementation of the standard library is that it is difficult to use multiple copies of the same service.

For example, if one wants to use one instance of Database, we simply need to do:

    include "database.iol"

    main { ... query@Database(x)(y) ... }

This works very nicely for one database (include and go!), but what if I need to connect to two di

[2015-04-28 07:56] fmontesi commented on #27
@klag : any thoughts on interface declarations? If you think they can be made non-mandatory, could you make an example of how that would work?

I'd like to continue the discussion on the syntax and semantics and define a more precise development task for somebody to take.

[2015-04-28 07:59] fmontesi commented on #13
Anybody interested in trying out to deal with this? It's a relatively "simple" task to start delving into the internals of the interpreter, and much of the code is already there (I refactored local for this kind of extensions a few years back).

[2015-04-28 08:32] thesave commented on #39
From the top of my head and thinking with backward compatibility in mind, we could add, along with out-of-the-box (OTB) includes (the ones we already have, e.g., database.iol), their interfaces (e.g., database_interface.iol, which would be used by the OTB includes) and embeddable services (e.g., database_embeddable.iol also using the *_interface.iol).

If we want to have several instances of the s

[2015-04-28 10:10] fmontesi commented on #38
Thanks a lot, Balint!

I see some weird null.wsdl etc. used as namespaces around the WSDL generated by jolie2wsdl. That's weird, probably some parameters missing and jolie2wsdl does not tell the user?

[2015-04-28 10:15] fmontesi commented on #39
Yes, we could surely go somewhere by splitting include files (maybe create a subdirectory for each service where we have the include files). Maybe not exactly like that though, because your solution implies that I must use Jolie services whereas I would like to be able to embed Java services. Also, I would like to abstract from the type of services they are (if it is Jolie or Java or Javascript I

[2015-04-28 10:52] bmaschio commented on #38
@fmontesi
Hi Fabrizio
Definitely not error signal by jolie2Wsdl see  screenshot under

![image](https://cloud.githubusercontent.com/assets/12083716/7367980/0d695368-eda4-11e4-80d3-e396872bc270.png)

probably because i have not defined --tns parameter like in the second run

![image](https://cloud.githubusercontent.com/assets/12083716/7368044/9e24cee6-eda4-11e4-9cc3-b1794de4c6f4.png)

Now the probl

[2015-04-28 11:11] bmaschio commented on #39
@fmontesi @thesave

This very interesting , and I have been thinking about it for long time. In my mind ( that thing that keeps me grounded ) this is not a real language issue but  more a architectural issue. Normally I would go about in this way

1) A single service for each  DB
2) An service that acts as an orchestrator that adds the business logic

So let's say I have to extract data from both

[2015-04-28 13:14] klag commented on #27
I think that interfaces should be provided, if you do not want types you can skip them but you need to declare the operations at least. I think the interface should be defined as all the other interfaces.

[2015-04-28 13:19] klag commented on #38
Yes I think we definitevely need to improve jolie2wsdl and wsdl2jolie tools in order to be more usable by developers

[2015-04-28 15:24] bmaschio commented on #36
@fmontesi
Upps i think i did something stupid i think i committed the changes directly on the master copy not my brantch not sure how...

[2015-04-29 05:43] fmontesi commented on #36
@bmaschio  I think you did it right, I see them in your repository (bmaschio/jolie) not in the main jolie repository (jolie/jolie).

However, the patch is unclear, it looks like the entire file is different.

@mwallnoefer Can you help Balint in checking whether it's rebased correctly after your changes?

[2015-04-29 06:03] fmontesi commented on #38
@klag Git says that you introduced these parameters that are causing the nulls, so you probably had a practical motivation for them (probably you needed to match some namespaces needed by a third-party?). Could you check out #37 and give a very brief explanation of what each parameter does? Then, I think the tool should be patched to quit with an error when they are not specified since they are ap

[2015-04-29 06:33] fmontesi commented on #39
@bmaschio I agree with you, we should have a Jolie service for each database. Note though that this is kinda what also @thesave suggested: in his solution, we would have exactly one service per db.

Perhaps what I am really annoyed by is that bootstrapping a new Jolie program is too long. I would like some kind of macro the get the basics done immediately (a main procedure with an input port and a

[2015-04-29 06:47] fmontesi commented on #27
OK, that's in line with my proposal then. To sum up the current state:

# Syntax

We need to specify:

* a name for the service, which will act as an output port in the embedder to call it;
* an initialisation procedure as for regular services;
* the interfaces of the service, possibly fetching from include files just as regular services.

Example:

<pre>
service Srv { // name of the service (Srv)

[2015-04-29 07:36] bmaschio commented on #39
@fmontesi  @thesave what about creating macro on the false line of maven archetype we could create a small webserver where ppl could download an architype for a Jolie server and run a JolieArchetype tool to generate all  boring part

[2015-04-29 07:44] fmontesi commented on #39
That sounds very cool for projects (importing an entire project structure) but not so cool for editing because it would require me having an internet connection, am I wrong?

[2015-04-29 07:55] bmaschio commented on #39
@fmontesi I suppose what i was saying we will have a Jolie Archetype repository then a tool that download locally a copy of the archetype definition then when ever you want you create a new project using a specific archetype

In my mind would be

jolieArch --pull   name_archetype  (retrieve archetype) Internet Connection needed
jolieArch --push -name_archetype  (push archetype) Internet Connection

[2015-04-29 08:05] fmontesi commented on #39
Right, that would be cool. Maybe we can integrate it as an extra command in JPM?

I think that the best way to handle archetypes is using git. We could create a git repo for Jolie archetypes and then the tool would clone these repos locally. Maybe it's time to create a Jolie service to use git from Jolie a bit more natively... ;-)

[2015-04-29 08:14] thesave commented on #39
Regarding SublimeJolie, it should be fairly easy to have static snippets for frequently-used patterns -- e.g., the `println` snippet came up to quicken my debugging sessions :)

The repository of archetypes would be the perfect place to take snippets from.

[2015-04-29 08:25] bmaschio commented on #39
@fmontesi i suppose we could use the java GitHub API I could start looking into it what you think i would structure it this way

GitService ==> general pourpose  GIT integratione
JolieArchService ==> Uses GitService

The advantage is that we could save ourself the pain of  handle login versioning ecc ecc ecc

[2015-04-29 08:47] bmaschio commented on #39
@fmontesi Now there are several "Java Api " but fundamentally they all go through some  json calls
Now shell we pick up Java API or make our from scratch?

[2015-04-29 08:54] fmontesi commented on #39
Can you post here a link (or links) to these APIs to have a quick look?

[2015-04-29 08:59] bmaschio commented on #39
https://developer.github.com/libraries/

In particular

http://github-api.kohsuke.org/

I have downlodad the last one and doing the a simple example

[2015-04-29 09:05] klag commented on #27
I like it very much!!!!

[2015-04-29 09:06] fmontesi commented on #39
That's the API for github, not git. Does it support cloning repos?

- F

On Wed, Apr 29, 2015 at 10:59 AM, Balint Maschio <notifications@github.com>
wrote:

[2015-04-29 09:10] fmontesi commented on #17
@mwallnoefer meanwhile, if you feel like it, feel free to cut whatever comments you found, and please mark all operations as deprecated. If you want to do it, I'll mark this for Jolie 1.3.

[2015-04-29 09:16] bmaschio commented on #39
@fmontesi
It seems to be able to handle branching not sure cloning

[2015-04-29 09:42] mwallnoefer commented on #37
@fmontesi @klag I do not remember anything about the --help implementation of jolie2wsdl, maybe Claudio?

@bmaschio The rename proposals of Fabrizio sound good to me, feel free to help us there.

[2015-04-29 09:56] bmaschio commented on #37
@fmontesi @mwallnoefer That is good for me i will commit this afternoon on my branch

[2015-04-29 10:24] mwallnoefer commented on #17
Yeah, I have done my changes.

[2015-04-29 12:08] fmontesi commented on #23
Hi all,

I went ahead and tested it with GWT 2.7. It seems that gwt-dev is not needed anymore (gwt-servlet got bigger instead), so it's now removed.

[2015-04-29 12:08] #23 closed

[2015-04-29 13:24] bmaschio commented on #39
@fmontesi
I have tested the Java API

Starting from the login and repository list

[code]
This seems to be able to get able to get all the

[code]
And then i save some data locally
[code]

So I would say that is working fine

I think we should start thinking on an interface for gitHub

Thanks
-B

[2015-04-29 18:41] mwallnoefer commented on #36
Okay, done: https://github.com/jolie/jolie/commit/860e376244ff0282a8f093cc2a263b941756ed45.

@bmaschio @fmontesi maybe I am not expert, but is this a platform independent path?
[code]

[2015-04-30 05:03] fmontesi commented on #36
Thank you both.

No, it should use Constants.fileSeparator (from libjolie), everywhere, I
see \\ in other places, like createPackageDirectory and createBuildFile.

Also, formatExeption seems unused now and should be removed perhaps?

On Wed, Apr 29, 2015 at 8:41 PM, Matthias Dieter Wallnöfer <
notifications@github.com> wrote:

[2015-04-30 05:12] fmontesi commented on #39
OK. I think that the best is probably doing it as in package control: we
download tagged releases.

How about using this?

https://developer.github.com/v3/git/

I think that from each section we can get an interface, and then we will
put all these interfaces in an output port GitHub or something like that.

Let's start slow, with a single interface and one or two operations.

- Fabrizio

On Wed, A

[2015-04-30 08:02] bmaschio commented on #37
@fmontesi @mwallnoefer  Now on my pc it looks like this what do you think

C:\Vincent Examples\TestVersion1.2.1\TestWSDL>jolie2wsdl --namespace testwsdl ---portNameTestInterfaceSoapInputPort --portAddr http://localhost:10000 --outFile
TestWsdl.wsdl main_test_wsdl.ol
Starting conversion...
Success: WSDL document generated!

[2015-04-30 12:48] fmontesi opened #40 "Improve the Sublime plugin and its visibility"
@thesave I use the Jolie plugin for Sublime Linter regularly now and I can't live without it. But, installing it is a bit quirky (has hardcoded directories) and the Jolie websites does it no justice (it's our mainly supported editor but that's not very visible).

@jolie/developers Have you tried it? Your life will change. I helped Saverio refactor it a bit to use libjolie and he was kind enough to

[2015-04-30 13:53] thesave commented on #40
Happy the plugin is useful :)

@fmontesi could you be a little more specific on that? Probably an example would help me understand.

Meanwhile I added a [todo list](https://github.com/thesave/SublimeLinter-jolint#to-do) to the repository, this should make easy compiling a list of wanted features (pull requests).

[2015-04-30 13:56] fmontesi commented on #40
On Thu, Apr 30, 2015 at 3:53 PM, thesave <notifications@github.com> wrote:

Ah, implementing the second item would fix my problem I think. I had a
problem in installing it because I am not using the default installation
directory.

[2015-05-01 17:47] mwallnoefer commented on #36
Cleanup done: 3eee2db83c77408b6bba0d640d8d7078a592d7de

[2015-05-02 05:01] fmontesi commented on #36
Fantastic, thanks @mwallnoefer

@bmaschio are you also coming up with a jolie2Csharp tool?

[2015-05-03 09:12] bmaschio commented on #36
@fmontesi  I have already committed on my branch but it needs some testing, It creates only the classes but not project structure because Microsoft in its infinite wisdom does not provide any information on their project definition file ;) Is Bergar still interested?

[2015-05-04 07:47] bmaschio commented on #39
@fmontesi

I had a look to the API and they are rather powerfull

I have created a  access_token and tried several of the exposed API
[code]
My idea was to define a series of Jolie interfaces and and define a series of output port
I had a go with this idea but not luck i had a series of problem
1) we can not use api.github.com in the location but its ip address socket://192.30.252.139:443/repos/bm

[2015-05-04 10:47] fmontesi commented on #39
On Mon, May 4, 2015 at 9:48 AM, Balint Maschio <notifications@github.com>
wrote:

e.g.,

Location: "socket://api.github.com:443/repos/bmaschio/"

Can you try making an example that does not require authentication first,
so that we can discuss that one? I don't know if you're using it properly,
you're just passing it in the querystring and I don't think that's how it's
supposed to work.

As soon as

[2015-05-04 11:23] bmaschio commented on #39
@fmontesi Nope I can not it seems that all the github API require autentication.

I have tryed with

"socket://api.github.com:443/repos/bmaschio/"
you can use the token in the example for your test

tnks
Balint

[2015-05-04 11:26] fmontesi commented on #39
OK. What kind of request do we have to form, in HTTP? I'm pretty sure we
have the parameters for it already, but we need to know what headers or
data we should send.

- Fabrizio

On Mon, May 4, 2015 at 1:23 PM, Balint Maschio <notifications@github.com>
wrote:

[2015-05-04 11:50] bmaschio commented on #39
@fmontesi

https://api.github.com/repos/bmaschio/jolie/collaborators?access_token=d115b33b3a10eb58d21b991aba0af3046fa8aaae

https://developer.github.com/v3/repos/collaborators/

hope it is usefull

[2015-05-04 11:57] fmontesi commented on #39
Very, thanks!

@mwallnoefer here's the example I'm trying to run then:

<pre>
interface GitHubReposCollaborators {
    RequestResponse:
    collaborators

}
outputPort GitHub{
Location: "socket://api.github.com:443/repos/bmaschio/jolie/"
Protocol: https {
        .debug = true;
        .compression = false;
        .method = "get"
}
Interfaces: GitHubReposCollaborators
}

main
{
   request.access_

[2015-05-05 07:07] mwallnoefer commented on #39
No, for me it quits with the same error.

[2015-05-05 07:34] bmaschio commented on #38
@fmontesi @klag  Yesterday I had a bit of a thought about the process of biding  between java and WSDL structures I found this very usefull link

https://netbeans.org/kb/74/websvc/jaxb.html

now in the binding process we can define a configuration on naming of Java Classes this should in theory solve the problem with the importing wsdl with conflictal name
I had a go with a a file of configuration

[2015-05-05 07:35] bmaschio commented on #39
@mwallnoefer @fmontesi Can I help to debug the issue?

[2015-05-05 07:38] fmontesi opened #41 "SSL support"
We should look into cleaning up SSLProtocol.java, see the bug in #39.

@mwallnoefer I have commented out your HTTPS tests for now, as they seem to block test.ol. Are you up for helping in cleaning SSLProtocol? There's even dead code in there. :-) I'd be glad to help.

@bmaschio Maybe you are also interested in this?

[2015-05-05 07:40] fmontesi commented on #39
I created an open issue: #41

Let's get to the bottom of this, it's unclear whether we had this problem
before or not. We seem to be working fine with Twitter in the Jolie website.

On Tue, May 5, 2015 at 9:35 AM, Balint Maschio <notifications@github.com>
wrote:

[2015-05-05 13:47] klag opened #42 "SOAP message charset bug"
take the following service and transform it in a web service using jolie2wsdl.

If you send a SOAP message with a request message that contains more than two special characters like "à", the service will reply with a truncated message.

Service
_________
include "console.iol"

execution{ concurrent }

type TestType: void {
	.message: string
}

type TestTypeR: void {
	.message: string
}

interface

[2015-05-05 13:48] klag commented on #42
sorry the wsdl has been partially uploaded. You can generate it using jolie2wsdl

[2015-05-05 13:49] fmontesi commented on #42
You can use <pre> tags to make that stuff look correctly. But I think we're covered in any case. :-)

@mwallnoefer  could it be solved by one of your charset patches maybe? I guess it's a charset problem.

[2015-05-05 14:04] klag opened #43 "Invalid encoding name ""UTF-8"""
If we create a jolie interface starting from the wsdl of the service described at #42 and we try to use the following client for invoking that web service, we will get the error:

Invalid encoding name ""UTF-8""

Client
________
include "console.iol"
include "myWsdlInterface.iol"

main {
	request.message = "ciao";
	test@MyPortServicePort( request )( response );
	println@Console( response.message )

[2015-05-05 22:32] bmaschio commented on #38
@fmontesi @klag

Right a little step have been done with the following jxb file

[code]
I have managed to solve the name conflict due to the identical name used in both element definition

![image](https://cloud.githubusercontent.com/assets/12083716/7484230/8820d102-f386-11e4-8681-9189665145f4.png)

Used in the

![image](https://cloud.githubusercontent.com/assets/12083716/7484263/c24d1c8c-f386-11e

[2015-05-06 11:04] mwallnoefer commented on #42
@fmontesi If the special char is written in a string literal in the source file, just specify the correct source file's charset using the --charset parameter.

[2015-05-06 12:08] bmaschio commented on #42
@klag @fmontesi @mwallnoefer
hi guys i think i solved it the problem was given by the absence of the CHARACTER_SET_ENCODING property in the SoapMessage

@mwallnoefer
Is it the same correction you have done ?

I have committed the change on my branch

Here is the test

![image](https://cloud.githubusercontent.com/assets/12083716/7492552/5c860c6a-f3f9-11e4-8241-442597d30bb1.png)

Thanks

[2015-05-06 14:19] mwallnoefer commented on #42
Ok, I have pushed the fix (34339b91c04e84b49bb07d5a9295e5a8e7faa0e6).
Interesting that the character set encoding needs to be specified twice, since it was already contained in the XML header.

[2015-05-06 14:19] #42 closed

[2015-05-06 14:23] mwallnoefer commented on #43
@klag @bmaschio Does the problem persist after applying the CHARACTER_SET_ENCODING change?

[2015-05-06 14:29] mwallnoefer commented on #41
@fmontesi The problem is that I have little knowledge in SSL. Also all these methods and this dead code...I have no idea what they mean etc.

@bmaschio feel free to look into this if you want to :-).

[2015-05-06 14:33] mwallnoefer commented on #37
Ah, I have overseen this. These parameter proposals look good to me.

@fmontesi ?

[2015-05-06 16:45] bmaschio opened #44 "SOAP message return carriage handling"
@jolie/developers
Hi all
While i was working on issue number #38
I have noticed a problem while testing the SOAP call with soupUI with the following parameters

![image](https://cloud.githubusercontent.com/assets/12083716/7498085/9e3a7d38-f41e-11e4-8128-ca0821276f0c.png)

this is the error i get
[code]
that is given by the fact that the good old soapUi sends carriage return characters
Not even the

[2015-05-06 20:45] bmaschio commented on #44
@jolie/developers

Maybe the issue a bit more simple then expected the original code was

[code]
the new code

[code]
in this way it should work in the case of  a client like soapUi that send empty root with carriage return and also will be in line with jolie2wsdl rule that force void type for the root

[code]

now if the client sends a string where it is suppose to be void we still get

![image](

[2015-05-06 21:24] bmaschio commented on #41
@mwallnoefer  Ok I will have a go
@fmontesi  any good reference for ssl in java

[2015-05-07 04:14] fmontesi commented on #37
---portName should be --portName (there's an extra dash?)

All the rest is good. Why --outFile instead of -o as is standard? To be consistent in our own params?

[2015-05-07 04:20] fmontesi commented on #44
Thanks Balint, good catch.

I don't know whether that's a good default behaviour though, it will break protocol transparency (we don't trim strings in other protocols).
It seems that Java has an official way of doing it:

http://docs.oracle.com/javase/7/docs/api/javax/xml/parsers/DocumentBuilderFactory.html#setIgnoringElementContentWhitespace(boolean)

The parser needs to be in "validation" mode f

[2015-05-07 04:22] fmontesi commented on #41
Not much AFAIK

http://docs.oracle.com/javase/7/docs/api/javax/net/ssl/SSLEngine.html

And here's an example:

http://www.cs.lafayette.edu/docs/java/guide/security/jsse/samples/sslengine/SSLEngineSimpleDemo.java

The most important thing is probably to improve our error detection
mechanism. Currently, if something bad happens, we only get a "Connection
closed by remote peer" when trying to send so

[2015-05-07 07:09] mwallnoefer commented on #44
@fmontesi indeed your approach seems to be cleaner. I would also drop the ".dropRootValue" parameter and introduce a ".ignoringElementContentWhitespace" one.

[2015-05-07 10:48] bmaschio commented on #44
@fmontesi @mwallnoefer @klag

Ok i pick up and make the required modification

[2015-05-07 10:57] bmaschio commented on #44
@fmontesi @mwallnoefer @klag

shell we introduce something like

[code]

this should give us flexibility if we want to add other validation parameters  what you think?

[2015-05-07 11:01] bmaschio commented on #41
@fmontesi Silly question should be time to work also with the monitor for protocol errors ?

[2015-05-07 11:24] bmaschio commented on #37
@fmontesi  ok for -o for output

[2015-05-07 12:08] klag commented on #44
I really do not like the idea to have a parameter in soap protocol for stating to ignore line feeds. I think the standard way should be ignoring the TEXT NODES with carriage returns and line feed (http://www.w3.org/TR/REC-xml/#sec-line-ends) because this covers the 99% of real cases. Maybe, we could insert a parameter to enable the parsing of the TEXT NODES in case this is required.

The main idea

[2015-05-07 12:18] bmaschio commented on #37
@fmontesi @mwallnoefer

done commited

[2015-05-07 13:14] bmaschio commented on #44
@klag @fmontesi
Maybe I have been not very clear on my approach. Yesterday @klag has correctly suggested to implement a standard  2.11. My  first idea was to act on  *xmlNodeToValue* method where in case of textNode check if carriage return code was present.
Then I realized that SoapUi was also sending some spaces and I opted for ( brutal trim )
Rightly So @fmontesi  as suggested not to act on the

[2015-05-10 19:18] mwallnoefer commented on #44
@bmaschio so how to proceed here? Have I understood you correctly that you would like to add the parameters mentioned in one of your last comments? For my part they seem sound and we could drop ".dropRootValue".

[2015-05-10 19:42] mwallnoefer commented on #43
My tests showed that it has been fixed.

[2015-05-10 19:42] #43 closed

[2015-05-10 20:01] mwallnoefer commented on #37
Patch tested and committed: 7c8221382afe9af98d4f816caca97ffe7a5cbf2a

[2015-05-11 04:08] fmontesi commented on #37
Fantastic, thank you all. Is the documentation on the website up to date with this?

[2015-05-11 04:10] fmontesi commented on #41
What do you mean? Do you want to generate monitor events for protocol errors? That could be cool, but let's discuss it in a separate thread.

Or, are you talking about better output of errors on screen for SSL? (that's the first thing we need for this issue, if it's possible)

[2015-05-11 04:20] fmontesi commented on #44
I like @bmaschio 's proposal. It covers what we all discussed (for @klag 's comments, we simply need to have .ignoringElementContentWhitespace set to true by default).

I don't think we need to introduce .validationMode, as we already have .schema and .wsdl, both of which give type information.

Let's talk about what should happen when a schema and/or a wsdl are not provided.

Following http://www

[2015-05-11 07:00] mwallnoefer commented on #37
No, not yet: http://docs.jolie-lang.org/#!documentation/web_services/jolie2wsdl.html

@bmaschio would you like to try updating the MD file? It is not so hard...

[2015-05-11 07:02] mwallnoefer commented on #44
As far as I know we do nothing in respect to trimming.

[2015-05-11 07:29] bmaschio commented on #37
@mwallnoefer  MD as manual online?

[2015-05-11 07:54] bmaschio commented on #44
@fmontesi @fmontesi  @fmontesi If all of you agree i will implement the @fmontesi 's suggested implementation

[2015-05-11 08:12] bmaschio commented on #41
@fmontesi   Yes i was proposing that to raise a monitor event for all sort of protocol error

I have looked to some of the documentation of the SSLResult result at it seems to to not have a lot of  info more then the status

[2015-05-12 07:04] mwallnoefer commented on #44
Okay, so please propose a patch for review :).

[2015-05-12 07:11] fmontesi commented on #44
@bmaschio I think you meant @mwallnoefer @klag @fmontesi. :-)

@klag Do you see any problems incoming in existing software? Other comments?

[2015-05-12 07:11] mwallnoefer commented on #37
Ah, sorry I have forgotten to answer. These are the files which need to be adjusted:

https://github.com/jolie/website/blob/master/docs/documentation/web_services/jolie2wsdl.md
https://github.com/jolie/website/blob/master/docs/documentation/web_services/syntax/syntax_jolie2wsdl.ol
https://github.com/jolie/website/blob/master/docs/documentation/web_services/web_services.md (bottom)

GitHub offers t

[2015-05-12 07:12] fmontesi commented on #41
@bmaschio Yeah error reporting in SSLResult seems really sub-optimal... Let's keep it simple for now and do monitoring later, I think we'll have enough problems fixing SSL as it is already.

[2015-05-12 07:13] bmaschio commented on #44
@mwallnoefer @fmontesi @klag the ignoringElementContentWhitespace has not solved the problem of this issue i suppose the problem carriege return is not a whitespace therefore when passed to jolie operation it see it as a string
I propose to implement the following  logic if ignoringElementContentWhitespace == true then  normalize all carriege return with space then i set the DocumentBuilder with i

[2015-05-12 07:14] fmontesi commented on #44
Have you specified a .wsdl or .schema? It's needed for that parameter in document builder to have an effect, judging from the javadoc. It says that validation mode should be on.

[2015-05-12 07:21] bmaschio commented on #37
@mwallnoefer no problem I will do it tonight

[2015-05-12 07:51] bmaschio commented on #44
@fmontesi  yes

[code]

Am I getting lost in something rather small?

[2015-05-12 10:23] fmontesi commented on #44
No, the Jolie code is OK, but it seems from SOAPProtocol.java that we're
not setting the document builder to validation mode. Am I misunderstanding
the API? Could you have a look?

On Tue, May 12, 2015 at 9:51 AM, Balint Maschio <notifications@github.com>
wrote:

[2015-05-12 12:18] mwallnoefer commented on #44
@bmaschio one note to the charset parameter: it is unsupported on webservices (JSON-RPC, XML-RPC, SOAP) - the (outgoing) encoding there will be always UTF-8, although the incoming messages could be encoded differently eg. in UTF-16 which is correctly decoded by our parser.

The parameter exists only in HTTP and SODEP with a default of UTF-8. On HTTP it sometimes makes sense to serve content in lat

[2015-05-13 07:16] bmaschio commented on #44
@mwallnoefer Thanks
@fmontesi Ok I found out the issue the .validate parameter must be a child of schema node but it does not change the validation of the DocumentBuilder
I added now child validate  the on the soap protocol parameters.
Please notice that the error is reported in Italian have you got any idea why?

Avvertenza: la convalida è stata attivata, ma org.xml.sax.ErrorHandler non è sta
to

[2015-05-19 03:51] fmontesi commented on #44
Sorry @bmaschio, I replied a while ago and then closed the window instead of pressing "Comment" apparently.. :-\

It seems that we're not setting the schema in the documentbuilder used in SOAPProtocol. The following code is commented out:

                /*
                 * Schema messageSchema = getRecvMessageValidationSchema(); if (
                 * messageSchema != null ) {

[2015-05-19 03:53] fmontesi commented on #44
Mmmh and it looks that commit 7e188b15b19f54631caa3a8e732ca50372b6ef00 broke indentation... I'll get around to that too.

[2015-05-19 17:18] bmaschio commented on #44
@fmontesi
The internal method getRecvMessageValidationSchema is also missing. I will pick it up next few day been very busy with the new job.

[2015-05-20 07:53] fmontesi commented on #27
Just fixed and merged the implementation by @mawolf, feel free to test (there's an example in test/primitives/internal_services.ol).

[2015-05-21 07:37] fmontesi commented on #27
@thesave Could you add the keywords to the Sublime plugin ?

@jolie/developers We need to update the website for this. Anybody? :-)

[2015-05-21 07:50] thesave commented on #27
Sure, I will take some time in the WE to test it and add it to the sublime text plugin.
Obviously if someone wants to pull-request it, be my guest :)

I will also try to make the first draft of documentation (@fmontesi is that what you mean by "website"?)

[2015-05-21 07:51] fmontesi commented on #27
Yes, that's what I meant, thanks! :-)

On Thu, May 21, 2015 at 9:50 AM, thesave <notifications@github.com> wrote:

[2015-05-23 12:22] thesave commented on #27
I started tinkering with internal services ( cool :) ).

Am I right that an internal service cannot call itself by means of its OutputPort like in the example below?

    service Srv
	{
		Interfaces: MyInterface
		main
		{
			myOperation@Srv( req )( res ){ ... }
		}
	}

I noticed this when I tried to update my example of QuickSort with internal services.

An example of what I mean is this:

	inclu

[2015-05-23 12:25] fmontesi commented on #27
I think it's just that we do not add the implicitly declared output port to the program of the embedded services in the parser. Should be easy to add. @mawolf can you have a quick look?

[2015-05-23 13:50] mawolf commented on #27
@thesave: That is correct. The outputPort is not added to the internal service. I will have a look at it!

[2015-05-24 09:21] thesave commented on #27
Thank you very much @mawolf :)

I am going on stress-testing internal services and I find that Aggregation is a perfect match for them.
E.g.,

    execution{ concurrent }

    type QSType: void{
    	.e*: int
    }

    interface QuicksortInterface {
      RequestResponse: quicksort( QSType )( QSType )
    }

    outputPort ToQuickSort {
    Interfaces: QuicksortInterface
    }

    inputPort Exte

[2015-05-24 09:55] fmontesi commented on #27
We definitely want that feature. To make it work, you need to declare the
input port after the service. We should implement a lazy check for input
ports, and resolve output ports later in the future (we already do similar
things for defined procedures I think).

On Sun, May 24, 2015 at 11:21 AM, thesave <notifications@github.com> wrote:

[2015-05-24 11:09] thesave opened #47 "ParserException with comments (//) at the end of Jolie source files"
I get a parse exception for the code below

    include "console.iol"
    main { println@Console( "hello world" )() }
    // this is a comment

It seems it regards comments at the end of Jolie source files.
I report below the error stack.

       jolie.InterpreterException: jolie.lang.parse.ParserException: /Users/thesave/Desktop/test.ol:3: error: Invalid token encountered. Found token type ERROR

[2015-05-24 11:35] thesave commented on #27
Executing the service below

[code]

[2015-05-24 12:33] fmontesi commented on #27
I believe so. @mawolf this is probably a problem with identifying the
service directory. We need to pass the same as the father service somewhere.

On Sun, May 24, 2015 at 1:35 PM, thesave <notifications@github.com> wrote:

[2015-05-25 11:25] mawolf commented on #13
@fmontesi: What do you think about the approach where I'm implementing a register method in the Interpreter, that will add a local location name with the address of the local comm channel, to a map. This map would then be used to reference the channel and for checking whether a location exists.

[2015-05-25 12:35] fmontesi commented on #13
Sounds good, but I wouldn't put it in Interpreter. I would rather have an external local extension (like localsockets, see its Manifest file, you'll also need to add it to build.xml and buildconfig/config.properties) where the map (is it static? I'd guess so) is held.

[2015-05-25 20:40] bmaschio commented on #40
@jolie/developers

Not sure this the right place but i have implemented some personal snippet, because i am quite  forgetful when it comes to including the standard service such console.iol so I have added some snippet that look like

[code]

what do you think
b

[2015-05-26 07:24] fmontesi commented on #40
For includes, I would like them to be triggered by "include" and then show
a list of all the possible include files that are reachable by the Jolie
program, but I may be dreaming... :-)

In general I think we need to write a microservice that gives all the
necessary API to support writing Jolie IDEs in a language-independent way.
Here we have the problem that Sublime uses Python. While we could us

[2015-05-26 07:26] fmontesi commented on #47
Nope, I don't, neither on Linux nor MacOS.

[2015-05-26 09:57] thesave commented on #47
What version of java are you using?

I tried it on both Mavericks and Yosemite with java 1.7.0_79 and got that error.
FYI, I just tried the program on a Ubuntu machine (trusty, java 1.7.0_80), no error whatsoever.

[2015-05-26 10:16] fmontesi commented on #47
1.8.0-40ea

Let me know if that makes a difference... interesting. Also, have you tried
inserting a newline at the end of the file? It doesn't make a difference
for me but maybe you have a weird character somewhere?

On Tue, May 26, 2015 at 11:57 AM, thesave <notifications@github.com> wrote:

[2015-05-26 10:48] thesave commented on #47
I re-wrote the test to avoid copy-pasting "strange" characters.
The error is still there but if I add a new line after the comment it works fine.

Maybe it is something linked to the encoding and end-of-line characters.

FIY `/* comment */` raises no error.

As soon as I have some time I will look into this.

[2015-05-26 12:53] bmaschio commented on #40
@fmontesi that was my initial idea but I have not found a way to do it so in ne content fields. It seems not able to handle dynamic searches

[2015-05-29 11:21] fmontesi commented on #27
Reopened for handling the include file issues. I'm assigning @mawolf for now.

[2015-05-30 19:09] lunatik-210 opened #49 "When doing a response on client request can't add custom headers"
Initially I tried to enable CORS so that there were a need for me to response with additional headers on client request.

I tried this way as it's said in documentation.

inputPort Server {
    Location: "socket://localhost:5000/"
    Protocol: http {
        .method = "get";
        .addHeader.header[0] <<"X" {.value="Y"};
        .statusCode -> statusCode
    }
    Interfaces: SumInterface
}

So

[2015-05-31 17:48] mawolf commented on #27
The problem is that I don't copy over TypeDefinition, TypeDefinitionLink, and TypeDefinitionUndefined.
As soon as I have the other pull request accepted, or when I learn how to have multiple pull request on the same repo at the same time, I will make a pull request with the fix.

[2015-06-01 07:13] fmontesi commented on #27
The other pull request is now merged. :-)

On Sun, May 31, 2015 at 7:48 PM, Martin Wolf <notifications@github.com>
wrote:

[2015-06-01 07:15] fmontesi commented on #13
@mawolf and I have merged this in.

[2015-06-01 07:15] #13 closed

[2015-06-01 07:21] fmontesi commented on #49
@jolie/developers

I think it's time we streamline the handling of headers, we have too many options and we lack this important one that @lunatik-210 was expecting.

We need to be able to distinguish between request and response headers, and assign them both globally to the port or per single operation. Sometimes headers should be fetched from the Jolie value we're sending. Anybody who would like

[2015-06-01 07:23] bmaschio commented on #49
@fmontesi I would like to do this

[2015-06-01 10:44] fmontesi commented on #27
@thesave: @mawolf just committed a fix, can you check if it works now?

[2015-06-01 10:49] thesave commented on #27
Works like a charm, thank you @mawolf :)
I am going on with testing.

[2015-06-01 10:50] fmontesi commented on #27
Cool, I'm closing this for now then. Let's re-open it if we find other issues.

[2015-06-01 10:50] #27 closed

[2015-06-01 10:59] fmontesi commented on #49
Thanks Balint! I propose that we come up with the syntax for the parameters first.

A first idea could be to have two sub-structures that we use to distinguish when one parameter should be used for requests or responses:

    Protocol: http {
        .request.method -> method;
        .response.headers.("Content-Type") = "application/json"
    }

This would have the beautiful property that they wo

[2015-06-01 12:48] bmaschio commented on #49
@fmontesi @jolie/developers  I quite like it
I have a silly idea that goes like this

[code]

[2015-06-02 03:26] fmontesi commented on #37
Looks fixed by a recent commit by @bmaschio in the website repo.

[2015-06-02 03:26] #37 closed

[2015-06-02 13:59] fmontesi commented on #49
Mmh, I don't think it would work like that, the operation name should be part of the parameter name to be able to distinguish them. For example we could reuse the `osc` data structure:

     .osc.operationName.request.method = "get"

[2015-06-08 04:44] fmontesi commented on #49
OK, I thought a while about it and I'm kinda convinced. To sum it up:

     .request.method -> var

The usual, the HTTPProtocol implementation writes into .request.method and this just happens to be a link to var, so var gets written.

     .osc.operationName.request.method -> var

As above, but only for operationName. This takes *precedence* over .request.method (if we have a configuration for an

[2015-06-08 07:25] mwallnoefer commented on #49
@fmontesi I am okay with your proposal.

[2015-06-08 07:29] fmontesi opened #51 "In-range for loops"
# In-range for loops

## Problem

I'm getting sick of writing:

    for( i = 0, i < #myarray, i++ ) { println@Console( myarray[i] )() }

## Proposal

I propose:

    for( element -> myarray ) { println@Console( element )() }

Where element would be an alias to myarray[index] at each iteration.

## Discussion

Making element an alias to myarray[index] means that modifying the value of element insid

[2015-06-08 07:37] mwallnoefer commented on #51
Why not foreach?

foreach ( nameVar : root ) {
	//code block
}

[2015-06-08 07:40] fmontesi commented on #51
I hit submit too soon, see my updated text.

We could use `foreach` for the syntax, sure. I still have big doubts about the semantics.

[2015-06-08 08:25] bmaschio commented on #49
@fmontesi it is ok for me @klag is it ok for you ? If I remember well you use intensively the HTTP protocol

[2015-06-08 09:07] fmontesi commented on #49
PS: we should retrofit the old parameters to use these new ones, and
possibly print a "Deprecated" message with Interpreter.logWarning()

On Mon, Jun 8, 2015 at 10:25 AM, Balint Maschio <notifications@github.com>
wrote:

[2015-06-10 12:58] klag opened #52 "Bug in http multipart"
It seems to me that there is an error in multiPartFormData message reception.
In this line of method parsePart of class MultiPartFormDataParser we divide part header from content

String[] hc = part.split( HttpUtils.CRLF + HttpUtils.CRLF );

But, if the content of the part contains a couple of HttpUtils.CRLF + HttpUtils.CRLF, the parser will cut the content.

A possible fix should be:

String[] hc

[2015-06-10 13:27] fmontesi commented on #52
Seems to me like you're right, please commit the fix.

[2015-06-10 14:02] fmontesi commented on #52
Fixed.

[2015-06-10 14:02] #52 closed

[2015-06-27 07:33] thesave opened #53 "Invalid constant definition via "-C" parameter under Windows"
Setting constants via the relative option <code>jolie -C c=42 program.ol</code> returns the error:

<code>Invalid constant definition, reason: expected = after constant identifier Server_location, found token type EOF</code>

I think it should not be a difficult fix but unfortunately I do not have the time to fix it. Can someone look into this?

[2015-06-27 11:33] mwallnoefer commented on #53
I cannot reproduce this under GNU/Linux, but have not yet tried with Windows.

[2015-07-07 13:55] bmaschio opened #54 "Use of cookies in HTTP"
@jolie/developers
I am getting a bit stuck in the use of the cookies
Let me try to show you what I am trying to use

[code]
I was expecting to set a cookies named "sid" and with value "aaaaaa"

[2015-07-07 14:25] bmaschio commented on #54
@jolie/developers

I Think I have solved by myself. Yet I think some extra example on jolie sites would be usefull

[code]

[2015-07-13 10:30] fmontesi commented on #54
Hi Balint,

Here's an example:

    .cookies.sidCookie = "sid"

means that there will be a cookie called "sidCookie" in the HTTP messages, and that its content will be mapped to the subnode "sid" inside of Jolie messages, for example

    myOp( x )( y ) { println@Console( x.sid )() }

Thanks for going ahead and trying to improve the docs in the website issue! Let's continue the discussion there.

[2015-07-13 10:30] #54 closed

[2015-07-13 10:33] fmontesi commented on #49
@klag Any comments? Otherwise, @bmaschio please go ahead with a minimal working parameter when you can and let's discuss it.

[2015-07-17 09:00] fmontesi commented on #53
@thesave @mwallnoefer Any news about this?

@thesave : do you still have the error on master? If so, could you send a test to try it out?

[2015-07-23 07:08] klag commented on #11
Yes we could introduce rethrow. It is not a bad idea.

[2015-07-24 13:25] mwallnoefer commented on #41
Also this important issue deserves to be fixed. I remember that I have started the investigation but got stuck at some point.

@bmaschio was it you who volunteered for helping here? I don't recall anymore ...

[2015-07-26 10:05] fmontesi commented on #41
@thesave has a student who's attempting a restructuring. @thesave can you keep us updated here?

[2015-07-27 08:54] thesave commented on #41
Unfortunately, due to the time constraints of the delivery of the thesis, the student will not modify/refactor the class. However, the thesis should support the future restructuring of the class as it analyses (in italian) the general usage of SSLEngine, how it is integrated in SSLProtocol, and what updates are needed to give a better support to SSL in Jolie.

[2015-08-04 12:03] klag commented on #44
@bmaschio could you summarize me if this bug is solved or not? I tried to rebuild from the previous chat but I am a little bit confused. The problem you post at the beginning is still present?

[2015-08-04 12:06] bmaschio commented on #44
@klag No I have not solved it it is still present

[2015-08-04 16:08] bmaschio commented on #49
@fmontesi   @mwallnoefer @lunatik-210
First of all  sorry for the long delay been very busy with other 1000 things anyhow this the beta version of the implementation I have defined the both a operation specific  response header and a global one that should works for both op1 and op2 ( sorry fantasy is not my strongest point )
[code]
where the implementation looks like
[code]
The following picture

[2015-08-04 18:09] fmontesi opened #55 "Use the Files class in FileService"
FileService (file.iol) implements operations that are now provided by the Files class since Java 7.

Whoever wants to take a shot at replacing our custom implementations with the standard ones from Files, feel welcome to give it a try. Please remember to use the java8 branch, since master is still targeted at Java 6.

[2015-08-08 19:33] fmontesi commented on #49
Looks like a good start!

I think that the `request` and `response` parameters will be useful also for other things (e.g., getting the format of the request and set the format of the response separately).

So instead of

    .response.headerData1

I would use a substructure `headers` like this:

    .response.headers.headerData1

How about that?

[2015-08-09 08:56] bmaschio commented on #49
@fmontesi

Ok i will do it  after 24th going to holiday for two weeks

[2015-08-10 10:30] klag commented on #9
I tried to insert a timeout into the monitor.wait() method where
If it is raised a FaultException called "SolicitResponseTimeoutFault" is returned to the SolicitResponse process.

It works fine but the interpreter still waits for the response from the sender before processing the SR.
The final result is that, otherwise the timeout at the level of the monitor is raised, the SR process is blocked un

[2015-08-10 12:12] fmontesi commented on #9
@klag Where can I see your code? Have you forked master (or java8)?

[2015-08-10 12:13] fmontesi commented on #51
@mwallnoefer I just realised, did you mean encoding the array as subnode names?

[2015-08-10 12:43] fmontesi commented on #18
I fixed the NullPointerException in branch java8, the SemanticVerifier now correctly prints an error and quits.

We should discuss the issue of extending undefined types in another issue (since it's not a bug, but an enhancement). Please open it if you're interested.

[2015-08-10 12:43] #18 closed

[2015-08-10 12:46] fmontesi commented on #20
@mwallnoefer Any new thoughts about this issue?

[2015-08-10 12:52] klag commented on #9
I did not create any branch because I was just making some test in my local machine.
The code is very simple, in AbstractCommChannel.java I just replaced the following code at line 83.

                      synchronized( monitor ) {
			      if ( monitor.response == null ) {
					try {
						monitor.wait(  3000 );
					} catch( InterruptedException e ) {
						Interpreter.getInstance().logSevere(

[2015-08-10 12:54] fmontesi commented on #35
I propose we use [c3p0](http://www.mchange.com/projects/c3p0/). The port of DatabaseService should be fairly straightforward. @klag Would you like to investigate? I remember you had problems with DB connections, maybe you have test cases we can use?

[2015-08-10 14:31] fmontesi commented on #9
Confirmed.

It's release() called on the channel from SolicitResponseProcess that does not terminate. I'll investigate this asap.

[2015-08-10 14:48] klag commented on #35
good

I did some preliminary tests and it seems to work fine.
I would like to create a specific JavaService out of the coreJavaservice called DatabaseManagerService.
I think it will help in managing version releases.

What do you think?

[2015-08-10 15:35] fmontesi commented on #35
Sure, if just replacing the implementation of DatabaseService is not an option (why?). How would your proposal work, exactly? I mean, wrt managing "version releases" ?

[2015-08-10 15:40] klag commented on #35
I do not like the idea to affect the releases of the Jolie interpreter with the releases of javaservices. If there will be improvements on DatabaseManagerService or bug fixes, their publication will require a new release of all the interpreter, that could be a limit.

Otherwise, I would like to have a specific project for DatabaseServiceManager and developers who want to use it, just download it a

[2015-08-10 17:08] mwallnoefer commented on #51
As I recall I just proposed to reuse the foreach keyword for case 1 (without copy) or case 2 (with copy).

[2015-08-10 17:38] fmontesi commented on #47
@thesave Any news on this?

[2015-08-10 18:03] fmontesi commented on #35
I fully agree, let's go with that. It will serve as an excellent use case for streamlining the development of such "Jolie Packages".

We should use a Manifest file and release the package as a JAP. How about that?
For the manifest, I would use the format already developed for JPM, see, e.g., https://github.com/jolie/jpm/blob/master/extra_server/www/cowgreet-1.0.jpmspec

I'm saying this mainly so t

[2015-08-10 18:12] fmontesi commented on #35
There:

[https://github.com/jolie/db_connector]

We can change the name to a catchier one later if we decide to do so.. for now, simple does it. ;-)

[2015-08-10 19:36] mwallnoefer commented on #53
I am sorry for not answering so long. The issue is valid indeed and I get the same error on Windows XP, interesting.

[2015-08-11 08:40] thesave commented on #47
I am looking into this right now.

[2015-08-11 10:43] thesave commented on #47
My last push should have fixed the issue.

On a side-note, I run the test suite under Windows and the Converter service returns an "strings invalid length/size" error. Later I will open an issue on that.

[2015-08-11 12:30] thesave commented on #53
It seems Java under Windows strips away the "=" (equal) sign.
If you run any Jolie program under Windows with the command

	jolie -C c=42 program.ol

it returns the error

	Invalid constant definition, reason: expected = after constant identifier c, found token type EOF

because what it is actually passed to the interpreter in the `args' array is

	["-C", "c", "42" , "program.ol" ]

If you issue t

[2015-08-11 15:54] fmontesi commented on #47
Close an issue, open an issue.. :-)

[2015-08-11 15:54] #47 closed

[2015-08-11 16:05] fmontesi commented on #53
Wow, just.. wow.

Can you test if this is a problem that appears with embedding too, please?

embedded {
Jolie: "-C c=42 program.ol"
}

If embedding is not affected, we can just document this behaviour on the website.. would be great to find a resource on the Internet explaining precisely what Windows (probably cmd.exe?) is doing.

[2015-08-11 16:22] thesave commented on #53
Works flawlessly.

I dug a little, AFAIU it is because in Windows "=" [is a parameter separator](http://ss64.com/nt/syntax-esc.html#delimiters) just like commas.

[2015-08-11 16:29] fmontesi commented on #53
OK, phew. Shall we just make a note about this on the website then? Maybe
also on the --help string?

On Tue, Aug 11, 2015 at 6:22 PM, thesave <notifications@github.com> wrote:

[2015-08-11 17:12] thesave commented on #53
Ok, I updated the --help string and the docs.

[2015-08-11 17:12] fmontesi commented on #53
Awesome, thanks! :-)

[2015-08-11 17:12] #53 closed

[2015-08-12 14:24] mwallnoefer commented on #53
Ah, I just wanted to report the same as @thesave did ;).

http://stackoverflow.com/questions/30760965/run-bat-command-line-jvm-argument-not-passed-as-expected/30761153#30761153

[2015-08-12 20:13] mwallnoefer commented on #47
You have to run the testsuite with --charset utf-8, since Windows per default uses latin1.

[2015-08-17 07:30] fmontesi opened #56 "ant test task for Windows"
@thesave @mwallnoefer

I have recently added a test task to ant (so that we can run "ant test" on the command line) that runs the test suite. This was necessary to integrate our build system with [Travis-CI](https://travis-ci.org/) (you can see the build status on our readme file now).

I have added a dummy target -test-windows for implementing the functionality on Windows (I've already put the ch

[2015-08-17 08:28] thesave commented on #56
My last commit should do it, someone with Windows can confirm it works properly?

[2015-08-18 08:16] mwallnoefer commented on #56
ATM I am on holidays, but I will test it after coming back. The patches look correct to me.

[2015-08-24 19:19] mwallnoefer commented on #56
Works perfectly here with Windows XP.

[2015-08-24 19:19] #56 closed

[2015-08-24 19:21] mwallnoefer commented on #32
Any news here, seems to be an interesting issue...

[2015-08-25 06:24] fmontesi commented on #32
Not yet, @klag promised to produce a small test as soon as he finds the time.

[2015-08-26 07:01] fmontesi commented on #40
Closed since @thesave added the dialog to the editor in his repo.

[2015-08-26 07:01] #40 closed

[2015-08-26 07:02] fmontesi commented on #35
Closed, work is going on in https://github.com/jolie/db_connector now.

[2015-08-26 07:02] #35 closed

[2015-08-27 08:29] fmontesi commented on #39
Et voila', fixed! :-)

See here for the client: https://gist.github.com/fmontesi/fff1897f615c13b31fcb

It works now, and github responds correctly!

[2015-08-27 08:32] fmontesi commented on #41
I've patched the branch java8 and now the bug seen in #39 has been fixed.

I have also taken the time to clean up some of the logic, the handling of buffers was unclear. I've found using the final keyword wherever possible useful to understand which parts of the state were mutable or not.

@mwallnoefer Your tests do not work yet but I think now we're near to fixing them. Can you have a look into t

[2015-08-27 20:08] mwallnoefer commented on #41
@fmontesi I had a quick look over your work which is great.

Could we first back-port the patches from 21.-27. August, since there seem to be real bug fixes? Then I would resume my investigation.

[2015-08-28 06:39] fmontesi commented on #41
Thanks!

Yes, we can backport the changes to jolie-ssl. I didn't use anything that requires Java > 6. If you'd like to do it, I think that git cherry-pick should just work here (since I made very local changes).

[2015-08-28 06:41] fmontesi commented on #41
By the way, I did *not* focus on efficiency with the buffer management, but rather on readability (I copy buffers around sometimes even when that could be avoided). Let's stick to simplicity for a while until we reach a point where everything works. :-)

[2015-08-30 17:08] mwallnoefer commented on #41
@fmontesi I attempted the backport but the server.ol test is not passing yet: https://github.com/mwallnoefer/jolie

I guess that you also changed some internal buffering code to fix the SSL bug (PreBufferedInputStream?). I hope you can give me a clue.

[2015-08-31 09:17] fmontesi commented on #41
As I mentioned, your tests do not work yet, even in the java8 branch, where all patches are in. So backporting also PreBufferedInputStream would not fix it I think.

[2015-08-31 10:33] mwallnoefer commented on #41
Ah I thought they worked, since you dropped the comment signs :)

[2015-09-08 14:38] bmaschio commented on #49
@fmontesi
Sorry for the delay but I was super busy back from 2 week of holiday, now it looks like this

[code]

![image](https://cloud.githubusercontent.com/assets/12083716/9737585/a26d5fca-5647-11e5-89f8-26d153158b2c.png)

what do you think??

Balint

[2015-09-08 15:14] bmaschio commented on #32
@fmontesi @mwallnoefer @klag It would be useful to have a repository with all the example for testing and new implementation

[2015-09-10 16:17] fmontesi commented on #32
@klag have you been able to reproduce the bug?

[2015-09-10 16:18] fmontesi commented on #49
Hi Balint, thanks a lot for your work! I'm swamped right now, will have a
look at this asap.

On Tue, Sep 8, 2015 at 4:38 PM, Balint Maschio <notifications@github.com>
wrote:

[2015-09-21 09:27] fmontesi commented on #49
Sorry for the long wait, I think that it looks really good now. :+1:

@bmaschio can you propose a pull request for the java8 branch?

I would start with only .response.headers for now, OK?

@mwallnoefer @klag can you help with the reviewing?

[2015-10-01 07:21] thesave opened #63 "SOAP requests coalesce into one if they share the same types"
I report a bug found by Ivan Lanese.

## Settings

We have the classic Calculator with this interface, types, and input port

	type OpRequest:void {
		.x:int
		.y:int
	}

	type OpResponse: void {
		.result: int
	}

	interface CalculatorInterface {
	RequestResponse:
		sum(OpRequest)(OpResponse),
		prod(OpRequest)(OpResponse)
	}

	inputPort In {
	  Location: "socket://localhost:8000"
	  Protocol: so

[2015-10-02 07:49] fmontesi commented on #63
Cool (ironically).

Any ideas on what might cause this?

[2015-10-02 07:54] thesave commented on #63
Maybe it is just `jolie2wsdl` that creates an "ambiguous" (pardon the expression) wsdl.

Indeed that wsdl is used both by the caller and the receiver (the jolie service).
Unfortunately I do not have any useful knowledge/experience with wsdl to pinpoint the issue.

[2015-10-02 08:34] klag commented on #63
Mmmmm

 <wsdl:message name="OpRequest">
    <wsdl:part name="body" element="xsd1:sum"/>
  </wsdl:message>
  <wsdl:message name="OpResponse">
    <wsdl:part name="body" element="xsd1:sumResponse"/>
  </wsdl:message>

the inner elements of messages are joint only with sum schema types. This is why the message is built with sum and not with prod. I think the tool, does not create the body message sta

[2015-10-02 08:42] fmontesi commented on #63
Ah, but then we could change jolie2wsdl such that it generates separate wsdl:message nodes for each operation, rather than for each type.

[2015-10-02 08:44] fmontesi commented on #63
If you look at this:

[code]

the problem is that both sum and prod have the same input and output message declaration, OpRequest and OpResponse respectively. We should not produce that, we should produce two different message declarations, one for each operation.

[2015-10-02 09:00] klag commented on #63
This is a possible solution but in this case you will loose the mapping between the type names in jolie and in the wsdl.

Maybe, jolie2wsdl could resolve the ambiguities by adding some additional text at the end of those message names that are equal. But in this case the new message won't have the same name of the jolie type.

Example
[code]

There are no types with name OpRequest2 in the jolie in

[2015-10-02 09:03] klag commented on #63
In general it i always a good practice also in jolie to use different type names for each message.

[2015-10-03 04:16] fmontesi commented on #63
It seems that WS-I basic profile disallows reusing the same message for
different operations. It works only if one adds ws addressing on top.

I suggest to keep it simple and add an error to wsdl2jolie when this
situation is detected, requiring the user to specify a type alias (type t1:
othertype) to the other type so to provide a type with same structure but
different name.

About the good practi

[2015-10-22 12:31] mwallnoefer opened #66 "HTTP - implement content negotiation"
According to HTTP RFC 7231 we should accept content negotiation over the **Accept** and the **Accept-Charset** headers ("Accept-Encoding" is already supported by us, "Accept-Language" needs to be handled at user's side).
These seem very useful features to me. At the moment I would prefer to just implement the simple (unweighted syntax).

https://tools.ietf.org/html/rfc7231#section-5.3

[2015-10-24 07:41] fmontesi commented on #66
Sounds good to me! :-)

Please make sure that the java8 branch is also updated with this if you decide to work on master. Otherwise, you can just work on java8 and backport. Although java8 is broken right now since some libs are broken due to the introduction of type choices.

[2015-11-04 21:16] mwallnoefer commented on #41
Finally fixed.

[2015-11-04 21:16] #41 closed

[2015-11-04 21:17] mwallnoefer commented on #63
Should we keep this open? Mark as enhancement? What do you think?

[2015-11-05 07:47] fmontesi commented on #41
Woohoo! :+1:

[2015-11-05 07:51] fmontesi commented on #63
I think it's a bug, in the sense that we should exit with an error for now.

It becomes an enhancement if we open a new issue where we want to adopt ws-addressing.

[2015-11-05 18:36] mwallnoefer opened #68 "Jolie on Windows - ant test"
On Windows during testing SSL I sporadically encountered:

[code]

[2015-11-11 11:03] #17 closed

[2015-11-11 11:04] mwallnoefer commented on #36
Any news here?

[2015-11-11 11:05] #39 closed

[2015-11-11 11:07] mwallnoefer commented on #38
So if this is dependent on #44, we could close this?

[2015-11-11 11:08] mwallnoefer commented on #49
Has this been merged already?

[2015-11-12 12:57] mwallnoefer opened #69 "Missing mutex in jolie.net.CommCore"
Exception in thread "testClient.ol-testClient.ol-SelectorThread" java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.nextNode(HashMap.java:1429)
        at java.util.HashMap$KeyIterator.next(HashMap.java:1453)
        at java.util.Collections$UnmodifiableCollection$1.next(Collections.java:1042)
        at jolie.net.CommCore$SelectorThread.run(CommCore.java:865)

[2015-11-12 15:20] fmontesi commented on #69
Is that on master or java8?

[2015-11-13 13:00] mwallnoefer commented on #69
this is "master"

[2015-11-16 08:21] fmontesi commented on #69
Right, register and unregister may cause a race while the interpreter shuts down. Can you try now?

[2015-11-16 09:01] bmaschio commented on #36
@fmontesi @mwallnoefer Not quite sure hot to commit it where about

[2015-11-16 09:04] bmaschio commented on #49
@mwallnoefer soory for the delay been very busy. Once again not sure how to commit the code. do I need to work always on my personal copy or can i commit on the main copy in the repository

[2015-11-16 13:49] bmaschio commented on #49
@mwallnoefer I have committed it  3bcd169

[2015-11-16 13:52] mwallnoefer commented on #69
Yes, this fixes it but now I get:
<code>
Exception in thread "Thread-137" java.lang.NullPointerException
        at jolie.runtime.TimeoutHandler$Comparator.compare(TimeoutHandler.java:67)
        at jolie.runtime.TimeoutHandler$Comparator.compare(TimeoutHandler.java:62)
        at java.util.PriorityQueue.siftDownUsingComparator(PriorityQueue.java:699)
        at java.util.PriorityQueue.siftDown(Pr

[2015-11-16 14:04] fmontesi commented on #49
Hi all,

Please use pull requests so that we can all look at the code. @mwallnoefer
can you have a look?

- Fabrizio

On Mon, Nov 16, 2015 at 2:49 PM, Balint Maschio <notifications@github.com>
wrote:

[2015-11-16 14:18] bmaschio commented on #49
@fmontesi
Ho can i keep my branch continuously aligned with the main one?

[2015-11-16 18:20] fmontesi commented on #68
Should be fixed now.

[2015-11-17 10:13] mwallnoefer commented on #68
Will test it when I get a moment.

[2015-11-17 10:20] mwallnoefer commented on #49
I do not find this commit id. You need to push it at least to your remote "master" branch (bmaschio/jolie).
Only then I can integrate it.

[2015-11-17 10:23] fmontesi commented on #49
For keeping aligned, I think that you need to pull from jolie/master (I
don't have the means to get the necessary pointers for the exact command
line right now..).

On Tue, Nov 17, 2015 at 11:20 AM, Matthias Dieter Wallnöfer <
notifications@github.com> wrote:

[2015-11-17 16:45] bmaschio commented on #49
I get this.....
![image](https://cloud.githubusercontent.com/assets/12083716/11217906/f118776c-8d52-11e5-983f-99104b9011af.png)

[2015-11-18 08:21] fmontesi commented on #49
Hi Balint,

Very weird, diff says the *whole* file changed, so I can't review it. :-(

@mwallnoefer can you help checking what's going on?

Meanwhile, can you guys revert the commit please?

- Fabrizio

[2015-11-18 09:12] mwallnoefer commented on #49
@bmaschio you need to configure your editor better (line ending)

btw. you can inspect the diff by:

[2015-11-20 08:15] #49 closed

[2015-11-21 13:44] mwallnoefer commented on #68
Unfortunately not yet fixed:

     [exec] WARNUNG: [sodep_server.ol] java.nio.channels.ClosedChannelException
     [exec]     at java.nio.channels.spi.AbstractSelectableChannel.configureBlocking(Unknown Source)
     [exec]     at jolie.net.CommCore$SelectorThread.register(CommCore.java:888)
     [exec]     at jolie.net.CommCore.registerForSelection(CommCore.java:940)
     [exec]     at jolie.net.S

[2015-11-21 14:07] mwallnoefer commented on #20
Yeah, I have noticed that the /**! */ comments get considered by our documentation tool. The plan to support additional syntaxes as the javadoc (/** */) one is not bad.

Maybe we should start to progressively migrate our plain comments to documentation ones in the various header files. This is a huge task and cannot be done in one shot but step-by-step.

[2015-11-21 14:09] mwallnoefer commented on #36
@bmaschio maybe push it in a separate branch in your repo, so I can give you more advices about how to integrate it.

[2015-11-21 14:09] #38 closed

[2015-11-21 20:33] mwallnoefer commented on #68
Yeah, it is only reproducible on "master" and it not failing always. "java8" seems fine to me.

[2015-11-23 08:09] mwallnoefer commented on #69
I tested another example and the mentioned issue remains: `synchronized( this )` seems not to be enough or wrong (maybe `synchronized( selectingMutex )`?).

[2015-12-10 17:30] fmontesi commented on #49
Thanks, @mwallnoefer ! And thanks to @bmaschio for the patch. Wonderful! :-)

[2015-12-15 08:04] bmaschio opened #71 "MongoDB"
@jolie/developers

Hi guys

I was wandering if any of you would be interested into the implementation of  Jolie Service Library  for MongoDB. Would be nice to have someone to exchange idea on how to do this stuff
Regards
Balint

[2015-12-15 08:05] bmaschio opened #72 "MongoDB"
@jolie/developers

Hi guys

I was wandering if any of you would be interested into the implementation of  Jolie Service Library  for MongoDB. Would be nice to have someone to exchange idea on how to do this stuff
Regards
Balint

[2015-12-15 08:05] #72 closed

[2015-12-15 08:12] fmontesi commented on #71
I personally don't use MongoDB (yet? :-) ), but I guess that a driver for Jolie would be used by other people?
Since Postgresql came up with support for basically the same features, I tend to choose it over Mongo for stability reasons.

From a quick look at their documentation for Java, it looks like there are a few basic operations to offer (insert, find, delete, etc.). Since Mongo supports struc

[2015-12-15 08:21] bmaschio opened #73 "Apache HData"
@jolie/developers
HI All
In the enterprise side of things one of the buzz words is big data and vertical DBase, so i thought how can we use jolie to work with big data, are micro-services suited for this task. So I started wandering if there was an open version of vertical DBase. And I found HData of Apache. I was wandering if anyone wants to help me with a possible implementation of a Jolie servi

[2015-12-15 08:24] fmontesi commented on #73
Hi Balint,
Can you provide a link? HData is used in different contexts.

As for Big Data, we're trying to get a framework set up at the University of Southern Denmark with Jolie and Enorm (http://enorm.sdu.dk/), I don't know if that would suit your needs? It's similar to Apache Hadoop (for which it could also be interesting to develop some integration). @mawolf is the one who experimented with Eno

[2015-12-15 08:35] bmaschio commented on #71
@fmontesi
I suppose this is the catch22 of any new technology do we try to follow any new trend or do we stick on our guns and select one or two db technology and work only on those.I think MongoDB could be one of those DB to be supported
I had a quick look too and I found some use of constrained search
http://www.mkyong.com/mongodb/java-mongodb-query-document/
I suppose the first step would be ho

[2015-12-15 08:40] fmontesi commented on #71
Sure, but I fully support any library: As long as somebody needs it, it's useful. :-)

We can just distribute it separately like we started doing with the Database service, the new versions are now given in a separate repo. This will help with versioning.

Yes, the first steps would be implementing a way to connect to a MongoDB instance, and then these basic operations.

[2015-12-15 08:42] bmaschio commented on #73
Hi Fabrizio
I suppose there are very similar HData is db for Hadoop, I suppose it would be better passing though Hadoop and not directly on DB
https://hbase.apache.org/

[2015-12-15 08:46] bmaschio commented on #71
@fmontesi

Well the XMAS holidays  are coming up and I  will be less busy with my new job ( paperwork more paperwork ) so I can pick up this. I will start with the interface definition and opening a new repository called MongoDB

[2015-12-15 08:52] fmontesi commented on #73
Ah, HBase! That'd be very cool. The main difference between HBase and Enorm, as far as I know, is that Enorm is optimised towards the analysis and processing of streaming data, e.g., for doing statistics on clickstreams or service monitoring.

HBase is a really nice project, would be great to see some integration with it. They have a thrift gateway and a REST interface, so we may use those. I thin

[2015-12-15 09:04] bmaschio commented on #73
Dohhhh I am so dumm on all this project names, I will have a look and continue the conversation

[2015-12-15 11:32] bmaschio commented on #71
@fmontesi

Ok I menaged   to install the db and connect via Java to MongoDB engine. Looking at the Data model MongoDB seems to have 1:1 correspondence to the jolie variable structure

[code]
The very cool part of all of this is that was not necessary to define the Client Table ( collection) so it could be jolie driver the structure of the DB

[2016-01-04 12:59] bmaschio commented on #71
@fmontesi

hi there and  happy new year
I have done a first implementation of  the MongoDB jolie service
with the
the following interface
[code]
I haven't yet set the operations types to make easyer the early debugging

So far the use of the  driver library has been quite straightforward. the only problem is the way the library reports  possible errors
One would think that  in case of error the dr

[2016-01-13 08:29] mwallnoefer commented on #69
@fmontesi Any news on this?

[2016-01-13 08:30] mwallnoefer commented on #68
@fmontesi Any news on this?

[2016-01-22 15:05] bmaschio commented on #71
@fmontesi Are you ok?

[2016-01-25 14:39] fmontesi commented on #68
Not yet. I am working on a remake of CommCore with other people here at the
University of Southern Denmark, which will introduce many fixes in general
to communications. I'll keep you posted as soon as we have something that
looks stable.

On Wed, Jan 13, 2016 at 9:30 AM, Matthias Dieter Wallnöfer <
notifications@github.com> wrote:

[2016-01-25 14:42] fmontesi commented on #71
@bmaschio Yes now. :-) Baby started in kindergarten, which decreased general health in the house for some weeks... :-)

Your work on mongo seems very promising! I've never tried overriding a logger but I guess if there's no other option that's the way to go. I find it very weird though that there is no other way to catch exceptions... go figure.

@jolie/developers any comments on this point and th

[2016-02-11 08:19] bmaschio commented on #71
@fmontesi @jolie/developers

I had a silly idea what about using a SQL Parser to allow our user to express Mongo DB  operation in familiar  manner
A parser like

http://zql.sourceforge.net/

What do you think

Balint

[2016-02-15 19:18] fmontesi commented on #71
Hi Balint,

What do you mean? Can you show a simple example (doesn't need to be "real",
just a couple of lines to understand where you want to put SQL code) ?

- Fabrizio

On Thu, Feb 11, 2016 at 9:19 AM, Balint Maschio <notifications@github.com>
wrote:

[2016-02-16 12:46] bmaschio commented on #71
@fmontesi

Hi Fabrizio

Less start from  how MongoDB does things

db.products.find() => select * from products

Now less look at a query with a condition

db.products.find( { qty: { $gt: 25 } } ) => select * from products where qty > 25

Now I was wandering how to represent the
[code]
I don't know you but i do not like this, so i would suggest to use a canonical SQL form

[code]

What do you think

[2016-02-19 12:20] bmaschio commented on #71
@fmontesi

Ok I did a bit of thinking, MongoDB is part of the not SQL DB ( see link  )

http://accionlabs.com/choosing-a-nosql-database-technology-comparison-matrix/

so perhaps using sql to express not sql expression it is a bit self defeating.  so   mayve ut woukkd be better to create a not sql parser

Balint

[2016-02-19 17:06] bmaschio opened #74 "Date native data type"
@jolie/developers

Hi all I was wandering what you thing  about the possibility of adding a Date native type, in my opinion it would be useful in handling DB interaction in particular in the case of not SQL DB .
What do you think

Balint

[2016-02-19 18:05] fmontesi commented on #74
Hi all,

My main problem with this is that usually there is not a single Date type
that makes sense for integrating with all systems. Different systems have
different representations.

Also, what would the advantage be with defining, instead, a standard
compound Date type? For example:

type Date:void { .year:int .month:int .day:int }

Then we could also define other types like Time, DateTime, etc

[2016-02-22 08:11] bmaschio commented on #74
@jolie/developers
Hi all
I do agree that is not easy to define a single date format. but it would be very useful. we could elevate the date format at port level so that we could work using different format

outputPort port1 {
  location: somelocationPort
  Interfaces: someInterfaces
  prococol: sodep{
                           .dateFormat="ddMMYYYY"
                           .dateTimeFormat= "dd

[2016-02-23 16:14] bmaschio commented on #71
@fmontesi

I think i found the way forward how to express things

        DBObject dbObject = (DBObject) JSON.parse("{ qty: { $gt: \"$qty\" } }");

using a JSON parser  it seem to be a good way

so now

![image](https://cloud.githubusercontent.com/assets/12083716/13257490/44c2295a-da4f-11e5-9d8f-63c10259a3fe.png)

By using \"$qty\" we could inject the variable like we do in the normal sql

What do

[2016-03-17 08:17] fmontesi commented on #74
Sorry, I missed this comment.

Yes, but my question remains unanswered:
What is the advantage of native date types compared to user-defined types?

I can see more advantages for the latter (user-defined): If we are in a system using different sub-fields, we can adjust in the program.

[2016-03-21 17:10] bmaschio commented on #74
By elevating the Date format to a complex native type like

dateType : string {
    .day:int
    .month:int
    .year:int
}

we will have not to write date check error code each time.
If i would have a inputPort with the possibility of define the format then the caller could recive a dateFormat error with also a message say ("Dude your date format is wrong you should send me a ddMMYYYY")

[2016-03-21 17:36] klag commented on #74
We could address data format issue for string fields by using regex in
native types.
What do you think?

2016-03-21 18:10 GMT+01:00 Balint Maschio <notifications@github.com>:

[2016-03-21 17:39] fmontesi commented on #74
Shouldn't the interface then be a string equipped with a regular expression
(that of the date format), instead of making a special case?

Even better, if we could decompose a string in subnodes through a regexp,
this would solve a lot of problems, not only dates but also emails etc.

Here's an example:

type Date : string( "(day:\w\w)... Etc" )

And then day would be a subnode automatically create

[2016-03-22 10:54] mawolf opened #75 "Autocomplete Suggestions"
Hej all, :-)

A great annoyance for me is that I have to look up the definitions of ports and their interfaces when I develop in Jolie. I was therefore looking at implementing autocompletion in Atom and saw that clang provides an autocomplete interface which makes it possible to use it in various editors [1]. I find this highly beneficial and was looking at the Jolie parser to see whether it would

[2016-03-22 11:01] mawolf commented on #12
I experience the same need when implementing the RAFT algorithm. What about making it available in the "request" variable? LIke so:

[ some_action ( request ) (response) {
    println@Console(request.remote_address)()
} ]

[2016-03-22 11:18] fmontesi commented on #75
Hi Martin,

Thanks for finding it out! There's a student working on the IDE but on
another task, still I think it would be useful to coordinate on the
backend. I'm away until Tuesday, I'll look into this then.

Cheers,
Fabrizio
On 22 Mar 2016 11:54 a.m., "Martin Wolf" <notifications@github.com> wrote:

[2016-03-22 11:50] klag commented on #12
The idea should be to preserve the code from the different used protocol.
If we insert in the request message some specific fields which depends on
the protocol
we will have a behaviour strictly related to the protocol and this could
rise problems during the deployment.

I think that an operation should declare all the information it is
requesting for working without any hidden fields.
Thus, the b

[2016-03-22 12:14] fmontesi commented on #12
The behaviour will be dependent on the protocol configuration anyway, because it will access a variable that is set by the protocol. However, @mawolf's proposal also changes the interface, which I don't like. We should try to leave at least that independent from the protocol configuration.

Using the solution we have in http however has its limitations. The parameter is set when you receive the me

[2016-03-22 13:47] klag commented on #12
We should deprecate code that depends on the parameters of the protocol.

If it is the case we must shift the problem on the architecture. As it
follows:

Case 1:
type OpRequest: void {
    .msg: string
}

 [ my_op()() {
         // processing of .msg
         // processing of invoker IP (it is an example)
}]

in this case the IP of the invoker is a parameter which comes with the
request message.

[2016-03-22 14:08] fmontesi commented on #12
Yes, that's also my belief, we should move the problem to the architecture.

Also, in general, I think it's far more interesting to make the language
powerful enough to handle this as a special case rather than having lots of
behaviour code that depends on specific protocols. In this way, we keep the
protocol-dependent code in the courier. It also gives more sense to having
couriers.

In general,

[2016-03-22 14:21] fmontesi commented on #12
PS: we should also have a notion of type aliasing, like in other languages,
such that we can simply get surfaces directly in Jolie without having to
use external tools. One step at a time.. :-)
On 22 Mar 2016 3:08 p.m., "Fabrizio Montesi" <famontesi@gmail.com> wrote:

[2016-03-23 10:17] bmaschio commented on #71
@fmontesi

Any comments?

[2016-03-24 09:15] fmontesi commented on #71
Mmh, very interesting. Would it be possible maybe to just use Jolie values to express everything we need then? Just like they are doing with JSON.

Example:

find@Mongo( "products" {
    .qty.("$gt") = 25
} )( result )

If integrating with Javascript is easier, we could write the service in Javascript. There's a new shiny embedding system in the java8 branch that does automatic Jolie <-> JSON conv

[2016-03-25 09:07] bmaschio commented on #71
@fmontesi

Well it seems that MongoDB has select json as "language" to express query instead of SQL. I suppose one could create a Jolie representation of a not SQL (query ) but then we will need to create the mapping between Jolie representation and the  DBObject dbObject.
Furthermore I think would be counterproductive to move away from the MongoDB standard  representation it would be confusing fo

[2016-04-06 15:53] bmaschio commented on #71
@fmontesi @klag @jolie/developers

Ok we got somewhere finally
Now  we got something kind of working  operation query look now something like

[code]

![image](https://cloud.githubusercontent.com/assets/12083716/14322619/d306aa16-fc1d-11e5-9161-ce17a9b06fbc.png)

[code]

![image](https://cloud.githubusercontent.com/assets/12083716/14322517/7a09a972-fc1d-11e5-9cb3-8845018a503a.png)

[code]
![image]

[2016-04-09 16:05] mawolf commented on #9
Hi @fmontesi
Did you come closer a solution, or can I have a look?

BTW: Is it on purpose that you cannot declare a timeout for embedded services in your suggestion?

[2016-04-11 10:34] fmontesi commented on #9
Feel free to have a look, this got lost somehow.

@klag: @mawolf is right, we did not talk about what to do with embedded services, which do not have a protocol. Where would we specify the timeout then?

[2016-04-19 08:29] fmontesi commented on #71
This is really cool! :+1:

@jolie/developers Is anybody else familiar with the MongoDB API? Do you find Balint's syntax familiar?

[2016-04-19 15:03] bmaschio commented on #71
@fmontesi @jolie/developers

My analysis

https://docs.mongodb.org/getting-started/java/query/

then i decided to use a JSON representation that looked friendly enough

http://stackoverflow.com/questions/23362399/meteor-passing-mongodb-selector-from-parameter

Tnk

Balint

[2016-04-19 15:17] bmaschio opened #76 "Google Cloud and Jolie"
@jolie/developers

I think we should start looking a bit at this

https://cloud.google.com/sql/

It seems to possess both a JSON interface and a Java API Library.

In my mind, would be cool to have a native service to work on SQL engine on cloud.

@fmontesi
Did say somewhere that you were developing sono json/jolie tool or did I immagine it

[2016-04-19 15:19] bmaschio commented on #71
@fmontesi    @jolie/developers

using the same login i have implemented the delete and update operation

[2016-04-20 06:22] fmontesi commented on #76
I suspect it may work already, just by extending with the right parameter
(driver) the JDBC-based Database service. It says that they support
standard APIs, so maybe JDBC is one of them? I couldn't find any link to
the concrete API, could you share it if you found one?

About JSON, yes, Javascript services now are integrated with native JSON
support. I should write a blog post about that... :-)

O

[2016-04-20 06:24] fmontesi commented on #71
Good thinking.

I'm just unsure of the terminology. Why "table" and not "collection"? How do people call them in MongoDB? We should try to be faithful to their terms, so that a person who knows MongoDB finds our API familiar.

I like that you reused the query parameter concepts from Database. :-)
But why do you use $param instead of what we use in Database, :param ?

[2016-04-20 07:04] bmaschio commented on #71
@fmontesi

Good catch yes you are right on talking about collection and not table being MongoDB a document base DB.
I use $Parameter because the JSON Parser will not work otherwise like in the example. i was being leasy and use the library JSON parser instead of writing my own
I was thinking last week-end also how handy will come the  jolie "for each" in handling MongoDB data

[2016-04-20 07:11] bmaschio commented on #76
Fantastic that is what I suspected, maybe then we could run some test with some example to put in a post o several post. The idea would be to show that Jolie is able without further libraries to connect to the DB in cloud. What you think?

[2016-04-20 07:12] fmontesi commented on #76
Sounds great!

On Wed, Apr 20, 2016 at 9:11 AM, Balint Maschio <notifications@github.com>
wrote:

[2016-04-20 07:20] bmaschio commented on #76
@fmontesi
I the json tool already in the stable version of jolie...?

[2016-04-20 07:30] bmaschio commented on #71
@fmontesi

On the renaming i would go like this

table => collection
data=> document
query=> filter

what you think?

[2016-04-20 11:26] fmontesi commented on #76
It's used for the new embedding mechanism of Javascript code, yes. But what do you need exactly? Maybe we need to factor it out and wrap around another API for you, depending on what you want to use it for.

[2016-04-20 11:41] bmaschio commented on #76
@fmontesi
this are the HTTP rest call

https://cloud.google.com/sql/docs/admin-api/v1beta4/

the the libraries

https://cloud.google.com/sql/docs/admin-api/libraries

My thinking is either to take the java library and create a Jolie native service or using their libraries in JavaScript with the emberding

What you think

[2016-04-25 08:18] Ezbob opened #77 "Non-interactive installer option"
When installing Jolie from the Jar there is no option to install Jolie in a non-interactive way.

[2016-04-25 08:25] fmontesi commented on #77
What interface would you have to do it? A file? Command line arguments?

[2016-04-25 08:25] fmontesi commented on #77
Also, do you have a use case in mind already?

[2016-04-25 12:14] Ezbob commented on #77
I am working on making a docker image for running Jolie programs in a docker container. I have a image working now, but I had to make it by hand by several commits. I'd like to skip this process and just  make a simple Dockerfile (script run by docker to create images).

A simple command line argument would do the trick.

[2016-04-25 13:00] fmontesi commented on #77
@thesave How hard would this be? Could you point out to @Ezbob where we have this particular piece of code?

[2016-04-26 08:22] thesave commented on #77
We shall take the arguments in [1] and pass them to the launcher of the install scripts ( getLauncher, Line 145 ), e.g., with -C parameter to set constants.
Then, in [2] we can wrap the interactive commands at Lines 36-66 with a conditional to skip in case the JOLIE_HOME and the destination folder for the installers are set.

[1] https://github.com/jolie/release_tools/blob/master/jolie_installer/s

[2016-04-27 11:36] fmontesi commented on #77
Thanks @thesave ! I agree. Although I would use just plain arguments passed to installer.ol, not -C constants.

@Ezbob Feel like having a go at it?

[2016-04-27 18:20] Ezbob commented on #77
I'll fork the project and have a go at it.

[2016-04-28 08:18] Ezbob commented on #77
I have edited `installer.ol` [2] so it takes more arguments and gives a help message if arguments are not understood or if the help flag is raised. But I have a hard time testing [1] since I seem to be missing a `dist.zip`. How do I get this file? And can I create a custom jar file to see if my solution is correct?

[2016-04-28 08:32] fmontesi commented on #77
To test the installer, follow these steps:

- Clone the jolie git repo.
- Clone the release_tools git repo.
- In the jolie repo, run `ant` to compile everything.
- In the release_tools repo, run `jolie release.ol $dir` where `$dir` should be your jolie repo directory, e.g., `jolie release.ol ../jolie`.

You should get an all-in-one `jolie-installer.jar` file that is basically what we deploy on our

[2016-04-28 09:21] Ezbob commented on #77
Awesome... I feel this info should go in a `README.md` in the `release_tool` repo for future reference.

[2016-04-28 09:35] fmontesi commented on #77
Right. Done. :-)

On Thu, Apr 28, 2016 at 11:21 AM, Anders Busch <notifications@github.com>
wrote:

[2016-05-01 09:38] LarsIlver commented on #71
Hi.
I'm very interested in having MongoDB as part of the Jolie service library. New on this thread, my first input is regarding naming: I thing this https://docs.mongodb.org/manual/reference/sql-comparison/ will be a good foundation for interface definitions.

[2016-05-02 07:56] bmaschio commented on #71
@LarsIlver @fmontesi

HI Larsllver, first of all thank for your help,  I have started to implement a bit of the Jolie MongoDB,

[code]
I used the JSON format as suggested by some example of query, what i do not like is the use of the tocken $.

For inserting it looks

[code]
For deleting

[code]

for updating

[code]

How do you feel about it ?

Thank you
Balint

[2016-05-03 17:52] LarsIlver commented on #71
Hi Balint.

Looks fine, but I think you miss the top levels.
-host
-port (could default to 27019, but can be anything)
-db

When host, port and collection has been defined you can go on to CRUD at some collection

I am a little busy these days, hope you can accept that I will return with some more constructive in a few days.

/Lars

Fra: Balint Maschio [mailto:notifications@github.com]
Sendt: 2. m

[2016-05-03 17:59] LarsIlver commented on #71
Hi Balint,
A correction to line 6 (db)

Fra: Lars Johan Ilver
Sendt: 3. maj 2016 19:52
Til: 'jolie/jolie' <reply@reply.github.com>
Emne: SV: [jolie/jolie] MongoDB (#71)

Hi Balint.

Looks fine, but I think you miss the top levels.
-host
-port (could default to 27019, but can be anything)
-db

When host, port and db has been defined you can go on to CRUD at some collection

I am a little busy these

[2016-05-04 07:32] bmaschio commented on #71
@LarsIlver @fmontesi
Hi Lars

Yes no problem I am looking forward to talk to you about MongoDB
In the meantime let me keep you posted on some of the development
You correctly sported the absence of  the connection information, that is because I have decided (  an arbitrary decision) to define the connection parameters in connect operation. This will be used at micro-service level. So that the conn

[2016-05-04 08:21] LarsIlver commented on #71
Hi Balint.

Agree that connect operation should be handled on micro-service level.
(I noticed that you categorized test as a collection, it’s the default db when connect, that’s why I listed all levels)
I think highly specialized m-services is a good approach to support m-service architechture in general.

My need for NoSQL could be compared to data federation principles. That is, the flexibility

[2016-05-09 06:04] fmontesi commented on #76
Why don't we just call the HTTP rest API directly?

[2016-05-09 06:07] fmontesi commented on #77
How are we doing on this one?

[2016-05-09 06:11] fmontesi commented on #69
Should be fixed now. (Last famous words.. :-) )

[2016-05-09 06:14] fmontesi commented on #36
News about this @mwallnoefer @bmaschio ?

[2016-05-09 06:29] fmontesi commented on #33
@klag

What's the behaviour we should be looking for, exactly? This is what I'd expect:
1 - When a service is launched by command line, the working path for File should be the directory the command was launched from.
2 - When a service is embedded, the working path of its File should be the directory of the embedded service.

But it seems inconsistent: in theory, it should make no difference wheth

[2016-05-09 06:30] fmontesi commented on #73
Hi @bmaschio , are you still looking into this or should I close it for now?

[2016-05-09 06:31] fmontesi commented on #66
Was this merged or am I remembering incorrectly?

[2016-05-09 06:45] fmontesi opened #78 "Deinitialisation"
Sometimes it is useful to specify code that should run when a service is shut down. Right now, we have to do this manually by implementing something like a shutdown operation that is hopefully called by the embedder. However, this does not catch, e.g., SIGTERM (ctrl-c).

We could consider having a deinit procedure, the dual of the init procedure:

[code]

deinit would be called when the interprete

[2016-05-09 07:05] bmaschio commented on #73
I was going to work after Mongo but  yes for the moment we can close it

[2016-05-09 07:05] #73 closed

[2016-05-09 07:06] bmaschio commented on #36
I need some to test it I don't have a .net version to test it on

[2016-05-09 07:07] bmaschio commented on #76
Yes I agree we should try it and maybe create a tutorial on the jolie site..?

[2016-05-09 07:11] fmontesi commented on #11
How about the following?

- `rethrow` : it rethrows the current fault with the same attached data
- `rethrow(data)` : it rethrows the current fault with the new attached `data`

[2016-05-09 08:07] Ezbob commented on #77
The code needs a review, probably some minor adjustments if any issues is found and then it should be good to go.

[2016-05-09 08:45] Ezbob commented on #78
So basically a shutdown hook for the microservice?
I would probably called it `onShutdown { ... }` or simply `shutdown { ... }` seems to make more intuitive sense for me.

[2016-05-09 08:57] klag commented on #33
Yes, it could be the right solution!

[2016-05-09 09:01] klag commented on #11
Yes, it could be the solution.

(Also BPEL has the primitive rethorw)

[2016-05-09 09:03] mwallnoefer commented on #66
For now it was just a proposal.

[2016-05-09 09:07] klag commented on #78
Yes it is an important primitive. I also don't like the keyword deinit, maybe shutdown as Ezbob said or finalize.

It could be also useful to provide the RuntimeService with an interface for allowing remote control on the microservice (where the shutdown operation could be included). The developer could exhibit such an interface by aggregating the RuntimeService in one of the inputPorts.

[2016-05-09 09:35] fmontesi commented on #78
Yeah, I also started thinking about other keywords, deinit sounds a bit unintuitive. I like `shutdown`.

@klag For what you say, how about simply having an `exit` operation in RuntimeService that acts as if we called `exit` in the embedder? We already have this functionality in `callExit@RuntimeService` but it takes the local location of the target as parameter, so I don't think it would serve you

[2016-05-09 10:11] fmontesi commented on #77
@thesave Can you have a look?

[2016-05-09 17:07] thesave commented on #77
Definitely. As soon as I have some time I will take a look at the code and
run some tests.

On 9 May 2016 at 12:11, Fabrizio Montesi <notifications@github.com> wrote:

[2016-05-09 20:27] Ezbob opened #79 "Missing root data selector when using Jolie tree structures"
I have a problem when using tree data structures in Jolie;
How does one access the root node data and only the root node data in trees?

An example would be:
[code]
The `currentDir` here refers to a tree containing at the root the current working directory as a string, and a child containing the program exit code from calling `pwd`. I would like to extend the string located at the root with anothe

[2016-05-09 20:38] mwallnoefer commented on #79
Have you tried using a cast, e.g. moreFun = string(currentDir) + "addFun";

[2016-05-09 20:58] mwallnoefer commented on #69
Seems to be gone.

[2016-05-09 20:58] #69 closed

[2016-05-09 21:25] Ezbob commented on #79
I have now, but I still get the same result.

[2016-05-09 21:37] thesave commented on #79
Under OSX I get the current directory followed by a "\n" character. The final result is

[code]

Does removing the trailing new line do what you mean?

[code]

[2016-05-10 03:50] fmontesi commented on #79
As a side remark, that code is not portable (but you probably know), and
apparently we do not have a portable way in the File service. Would be nice
to have a workingDirectory operation (or whatever they call it in Java) in
there.
On 9 May 2016 11:37 p.m., "thesave" <notifications@github.com> wrote:

[2016-05-10 06:46] fmontesi commented on #79
By the way, this works correctly in my own installation (it's got the extra newline). So I'm closing the issue for now.

Another side remark: trim@StringUtils gets rid of the spaces at the beginning and end of a string easily:

[code]

[2016-05-10 06:46] #79 closed

[2016-05-10 07:59] Ezbob commented on #79
Thanks all for your quick response!
Though I code on Arch Linux, it was as @thesave said there was a newline attached + I was probably coding too late at night to notice. Using trim together with string cast solved it.

[2016-05-12 16:35] bmaschio commented on #71
@LarsIlver @fmontesi

I got somewhere with my coding
Here is the interface
[code]

The connect operation needs some work on adding credential handling
the use the insert operation
[code]

running it looks like

![image](https://cloud.githubusercontent.com/assets/12083716/15221880/8cee1b06-186d-11e6-8683-c83f0e0c2751.png)

the query operation looks like

[code]

the results looks like

![image](htt

[2016-05-13 14:42] LarsIlver commented on #71
Hi Balint.

I think it looks great!!

Looking forward to try it out.

Regards Lars

Fra: Balint Maschio [mailto:notifications@github.com]
Sendt: 12. maj 2016 18:35
Til: jolie/jolie <jolie@noreply.github.com>
Cc: Lars Johan Ilver <LJI@odense.dk>; Mention <mention@noreply.github.com>
Emne: Re: [jolie/jolie] MongoDB (#71)

@LarsIlver<https://github.com/LarsIlver> @fmontesi<https://github.com/fmontesi

[2016-05-13 15:55] bmaschio commented on #71
@fmontesi @LarsIlver

More updates Mongo World

I have added a debug flag to the connection that allows us to see how the bsonDocument is populated

[code]
result

![image](https://cloud.githubusercontent.com/assets/12083716/15252769/cb66d798-192f-11e6-9f10-08b84b3d7362.png)

I also discover that we do need to use " " to pass parameters so we can write stuff like

[code]
I have also implemented th

[2016-05-13 16:32] fmontesi commented on #71
Hi Balint,

Great work!

Can you explain what the problem is with the timestamps/dates, exactly?

- F

On Fri, May 13, 2016 at 5:55 PM, Balint Maschio <notifications@github.com>
wrote:

[2016-05-16 07:12] bmaschio commented on #71
@fmontesi

Not having a native Data native type in jolie i thought to use the following complex type

[code]
I would use it in this way

[code]

We could also use the same idea for coordinate type

[code]

I would use it in this way

[code]
What do you think ?

[2016-05-17 07:15] fmontesi commented on #71
It seems that Mongo uses standard JavaScript Date objects. Those are documented here:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date

Some fields are optional. This roughly translates to:

[code]

So that's what we should pass to the operations. I would avoid having automatic transformation algorithms in the core operations (update, etc.), to avoid complexit

[2016-05-17 07:46] bmaschio commented on #71
@fmontesi

the BSON object accept a java long type so you would transform that structure in a long?

[code]
 is that correct?

[2016-05-17 08:03] fmontesi commented on #71
Yes.

By the way, looking through your code, it seems that you disregard sub-sub-...-sub-nodes in trees.

For example, would the following document be OK for insertion?

[code]

[2016-05-17 08:05] bmaschio commented on #71
if (valueVector.get(counterValueVector).hasChildren()) {

                        bsonArray.add(counterValueVector, createDocument(valueVector.get(counterValueVector)));

                    }

this should be recursive?

Am I wronge?

[2016-05-17 08:06] fmontesi commented on #71
Oh, my bad, I missed that.

- F

On Tue, May 17, 2016 at 10:05 AM, Balint Maschio <notifications@github.com>
wrote:

[2016-05-17 10:16] bmaschio commented on #71
[code]
 result of the query
![image](https://cloud.githubusercontent.com/assets/12083716/15319021/10bfa08a-1c29-11e6-9cb8-fd895083699b.png)

How do you like it?

[2016-05-18 07:12] fmontesi opened #81 "Install deferred actions"
Many languages have the feature of indicating handlers to be executed no matter what, when we exit the current scope.

For example, in Java we have the finally clause for try blocks:

try {
    File f = ...;
} finally { f.close(); }

(Which is automatised in try-with-resources, but that's besides the point since try-with-resources does not handle generic code blocks.)

In Swift, we have something

[2016-05-18 07:40] klag commented on #81
which is the difference with:

scope( s ) {
/** code **/
releaseResource@ResourceManager()()
}

?

[2016-05-18 08:36] fmontesi commented on #81
That if you have a fault in your code then that release won't be executed, differently from the finally block in Java, which is always executed even if you have exceptions.

[2016-05-18 09:12] klag commented on #81
ok. Something like this?

scope( a ) {
       install( default => releaseResource@ResourceManager()());
       scope( s ) {
               install( myFault => ....; rethrow ) /* rethrow is missing now */
                /** code **/
       }
}

[2016-05-18 10:23] fmontesi commented on #81
If the .... in the fault handler for myFault encounters a fault, you are not going to reach that rethrow.
But I don't see how the handler for myFault is relevant.
Also, you want the release to be executed *even if* the fault is not thrown. So what you want is something like this, I think:

[code]

[2016-05-18 10:30] klag commented on #81
ok. so what about this?

scope( a ) {
/** code **/
}
;
releaseResource@ResourceManager()()

[2016-05-18 10:31] fmontesi commented on #81
An uncaught fault inside of scope `a` may prevent executing releaseResource.

[2016-05-18 10:33] klag commented on #81
Ok, but this is a case of bad programming

[2016-05-18 10:35] fmontesi commented on #81
What's your point?

[2016-05-18 10:40] klag commented on #81
I am trying to see the evidence of the benefit to introducing a new kind of handler.
We already have default, this and fault handlers. I am not so sure that the new handler will add benefits. If I just can obtain the same with

scope( a ) {
install( default => nullProcess );
/** code **/
}
;
releaseResource@ResourceManager()()

it is not so heavy I think. Ok, it is not structured I agree, but why

[2016-05-18 10:46] fmontesi commented on #81
The benefit is just that the code is more modular. It doesn't add expressivity, just like in the other languages. It's a convenience. We have other conveniences, like default.

The code:

[code]

is not really modular because maybe the programmer wants to rethrow the fault, or not. You have to go and change the code. With defer, you keep the finalisation code separate from all the rest.

I don't k

[2016-05-18 13:03] klag commented on #81
default keyword alters the expressivity of the language because otherwise you need to specify all the handlers for all the faults.

I see the advantages to exploit the dynamic updating of the handlers, but I do not see when it could be useful. Why the finalizing activities should be updated during the execution?

[2016-05-18 13:35] fmontesi commented on #81
About default: that's what I mean. You can encode it using the rest of the language, hence it adds no expressivity, it's only a convenient feature. You statically know which faults can possibly be thrown by your code, since fault names are static in the throw primitive and in interfaces.

About using dynamic handlers, we get two convenient features.

- It works with solicit-response. `acquire@Mana

[2016-05-18 16:19] thesave commented on #77
I reviewed the code and did some testing (under linux and osx). Seems ok.

The behaviour is a little odd because by launching the installer with the `-y` option
I expected to also be able to pass the location of the jolie binaries and that of the launchers.
Instead right now it is just a non-interactive bypass on the default values. @Ezbob am I right?

@Ezbob, @fmontesi what do you think of extend

[2016-05-24 18:22] Ezbob commented on #77
@thesave that would probably be a cool idea. I'll look into it when I got time to spare.

[2016-05-25 06:48] fmontesi commented on #77
Is `-y` standard for non-interactive? It's new to me.

About the parameter names, I suggest `-jh` or `--jolie-home` (or both!), same for the other (`-jl` and `--jolie-launchers`). We should also add a `--help` flag at this point.

@jolie/developers We should consider making a standard library service for parsing command line arguments. This happens repeatedly.

[2016-05-27 06:07] Ezbob commented on #77
Ah yes we might not have talked about what flags there now are. As of now we have help flags "-h" and "--help" and "-y" for non-interactive. The flags also have an windows equivalent using forwardslash (/) instead of hyphens(-).
I'll look into adding the new flags instead of "-y" when I find the time :-)

[2016-06-04 19:43] Ezbob opened #82 "Cannot copy jap-files."
I have this strange problem when copying a jap-file (Jolie jar-files).

When I copy the jap-file, using `readFile@File(...)(...)` on the jap-file and subsequently call `writeFile@File(...)(...)` with the contents of the read file operation, I cannot uncompress the newly copied jap-file as the tool informs me that a portion of the newly copied file is missing. This is not a problem when trying to u

[2016-06-07 10:37] fmontesi commented on #77
Cool! I'll let @thesave comment on this.

[2016-06-07 10:47] fmontesi commented on #82
Can you post somewhere a super easy example that shows the bug? Are you using the binary format when calling File?

[2016-06-08 08:29] bmaschio opened #83 "exec operation in Exec Service does not work"
Hello there

We were trying in linux system to execute a simple ls using exec with the following code
'
   execRequest = "ls";
   execRequest.args[0] = "--file";
   execRequest.args[1] = "*.pdf";
   execRequest.workingDirectory= "./";
   execRequest.stdOutConsoleEnable = false;
   valueToPrettyString@StringUtils (execRequest)(s);
   println@Console("execRequest"+s)();

   exec@Exec(execRequest)(ex

[2016-06-08 08:31] bmaschio commented on #71
@fmontesi

any thought on this?

[2016-06-08 11:08] Ezbob commented on #82
Ah.. I was not using the binary format. Using the binary format fixed it. Sorry about that.

I have created an extension for Jolie simply called `copy` that uses the `Files.copy(...)` from Java 7 to copy any file or directory. Could this be an interesting enhancement for the Jolie Standard liberary?

[2016-06-15 11:14] D4vidH4mm3r opened #84 "Conflicting MatchRequest definitions for StringUtils and UriTemplates"
Both string_utils.iol and uri_templates.iol define a type MatchRequest. The types are incompatible and so including both in a jolie program results in a SEVERE error (type MatchRequest has already been defined with a different structure).

I think one of the two types can simply be renamed and the problem should go away.

[2016-06-16 19:02] #84 closed

[2016-06-21 19:03] thesave commented on #77
You mean that you would like to check the path to be correct on top of the checks and exceptions already in place in the scripts? Can you make an example?

[2016-06-29 09:12] bmaschio commented on #71
@fmontesi

I just found a bit of a problem with DateTime type it does save it always in UTC I found a solution  but i do not like particularly

http://stackoverflow.com/questions/31654567/mongodb-bson-stores-date-in-utc-time

It entails the use of this extra library

https://sourceforge.net/projects/joda-time/?source=typ_redirect

What do you think?

[2016-06-30 14:55] fmontesi commented on #71
Joda time is well known, go ahead. I don't mind having a dependency here since we'll probably distribute this module separately. :-)

[2016-07-04 13:04] klag opened #86 "Bug in the undef of a an alias"
Consider the following code:
main {
  x.a.f = x.b.f = x.c.f = 0;
  field = "f";
  foreach( n : x ) {
      // undef( o );
      if( n == "a" ) {
          o -> x.( n ).( field ).new
      } else {
          o -> x.( n ).( field )
      };
      o.subfield = "hello"
  };
  valueToPrettyString@StringUtils( x )( s );
  println@Console( s )()
}

the output is:
	.a[0]
		.f[0] = 0 : java.lang.Integer

[2016-07-04 15:32] bmaschio commented on #44
any news?

[2016-07-07 12:01] Ezbob commented on #77
@thesave Sorry for my late reply.
I was thinking of checking whether a file path is valid e.g. it does not contain invalid characters; it's not at much a problem on UNIX-like systems, but Windows has some limitations [Stack Overflow Question on file paths](http://stackoverflow.com/questions/1311037/are-there-any-invalid-linux-filenames).

I was just thinking if this would be a problem or if the pr

[2016-07-08 16:42] fmontesi commented on #44
Not that  I know of. @jolie/developers anyone working on this?

[2016-07-08 16:42] fmontesi commented on #44
If anybody is interested and needs some guidance, please feel free to ask!

[2016-07-13 07:01] fmontesi commented on #51
Dear @jolie/developers ,

This

[code]

is now supported. Enjoy. :-)

[2016-07-13 07:01] #51 closed

[2016-07-13 07:28] thesave commented on #51
Wow, christmas has come early this year!
Very very very appreciated.
Thanks @braza501 :)

[2016-07-13 07:42] #86 closed

[2016-07-14 21:16] thesave commented on #77
I do not think that `exists` handles these kind of problems.
In case, checks are always welcome (above all if we can tell the user to provide a valid path or to exit the installation gracefully and explain what went wrong in the installation).

If you want to give it a shot, I am super-positive with it :)

[2016-07-16 10:41] Ezbob commented on #77
I have just created a argument validation at a lower level, namely in `installer.java` using Java 7's `Paths`. `Paths` should check if a path is valid for a specific file system (whether it being a *nix  machine or a Windows one).

One thing, I am uncertain of is the error format. What should be displayed to the user in case of an error?

[2016-07-16 15:56] mawolf commented on #11
Pull request #89 should satisfy the requirements

[2016-07-20 12:55] agwe opened #90 "Matching the types inside type choice"
Dear all,

Since there is a possibility to create type choices (like for example `type animal: cat | dog`), probably some kind of matching directive could be implemented, like:

[code]

What do you think? Would it be useful?

[2016-07-20 13:11] thesave commented on #90
That would be great :)

I remember having a conversation with @fmontesi about this.
Even better if we had something similar to pattern matching à la Scala, e.g.,

[code]

 @jolie/developers, other opinions or use-cases on this?

[2016-07-20 13:47] klag commented on #90
In Jolie there is the primitive instanceof for testing the match of a variable against a type.
it would be nice to extend such a primitive instead of introducing a new one

[2016-07-20 15:15] thesave commented on #90
In the examples above `instanceof` could be used as condition for the cases e.g.,

[code]

However, I recognise that this might fall out of the concept of having a service-oriented language, where e.g., the matching of the regex (the first one) should be done with a call to a service (e.g., StringUtils) and not by some primitive of the language.

[2016-07-21 12:56] agwe commented on #90
We could use both match/case and instanceof, having match/case like syntactic sugar.
I'm afraid it might be not always clear how to infer a type for pattern matching against the values, e.g is `\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}\b` regexp or just a string type?"
What if we start with matching against the types only?

By the way, should we do using of "case _" mandatory to guarantee matching o

[2016-07-26 16:20] thesave commented on #90
I second @klag in keeping the `instanceof` keyword for type introspection.
I tried to put together a list of the most interesting (and applicable) cases for Jolie.

[code]

Patters range over:

- constants, which check for equality

[code]
- types, which check for type matching, with keyword `case instanceof`

[code]
- guarded, with keyword `case if` followed by a boolean expression and where `_`

[2016-07-27 12:32] thesave commented on #77
Sorry, I accidentally archived this conversation and I merged the related pull request [here](https://github.com/jolie/release_tools/pull/4).

Regarding reporting to the user the error, at first we can simply return which path of which option is invalid.

E.g.,  `Error: Bad arguments: parameter '/user/provided/path' for option '-jh' is not a valid path`

To aid users in parsing the error, I'd sugg

[2016-08-08 10:50] fmontesi commented on #90
Hi all,

I'm back in action. :-)

Checking a type choice can already be done using if-then-else and instanceof. For example, given a variable x of type `T1 | T2`, we can do:

[code]

So match must bring something new to the table. What is it, exactly? In some languages, match is an expression itself, i.e., I can write:

[code]

Can somebody clarify what's the intended use case for this?

Cheers,
F

[2016-08-11 00:07] mawolf commented on #20
I have started working on this. Progress can be seen in https://github.com/mawolf/jolie/tree/new-doc

[2016-08-11 06:44] fmontesi commented on #20
Cool, looking forward to it. :-)

[2016-08-13 08:57] mawolf commented on #20
I started implementing the doxygen and Qt version of backward comments, however, when converting some of the comments in the include files I quickly felt awkward typing ///< instead of //<.

What do you think? What version should be supported (same for /*< */ for blocks)?

I was also thinking about implementing them both, but I think that it would be a bad idea to support many different ways of do

[2016-08-13 08:59] mawolf commented on #75
How did this end up? Is someone working or going to work on it?

[2016-08-14 08:27] Quiquex commented on #83
Hi, I encountered the same issue.
After some looking around I found that ProcessBuilder (wich is used in ExecService) cannot expand wildcards.
But passing the commands to a shell should work.
I tested
[code]
and
[code]
both work as supposed.

[2016-08-15 11:35] fmontesi commented on #75
@agwe Is anybody from IU working on this currently?

[2016-08-27 11:29] pgb1968 opened #92 "Operators "<<" and "->" not accepted in on-the-fly argument creation"
Hi,

I wrote a service receiving a string and a vector of strings, and I was trying to invoke it by passing to it some existing values stored in variables (eg. name, vnames) via an on-the-fly construction, something like:

myFunction@DbService({.name = name ,  .namesvector << vnames})(result);

Alas the parser does not like it: it seems to await only "=" inside the argument construction. But of co

[2016-08-28 16:25] bmaschio commented on #92
Hi @pgb1968

Not sure if  this answers your question  but when I need to construct complex structure I normally use the keyword `with`
I would write something like
[code]
The operator << and  -> are used to manipulate trees and in jolie all nodes can be vector by this i mean  that one could write
[code]
so when you are  writing

[code]
so if b would have some children you would end coping all the

[2016-08-28 20:50] pgb1968 commented on #92
HI Balint,

thanks for the detailed response, though I am not sure to get all of it, due also to an extensive dinner with wine ;-) However tomorrow I won't  be able to analyze further, so...

What I need to do really, is to implement a sub-service B that is invoked by another service A over an argument req which results from the "composition" of different pieces of structures known to A: just for

[2016-08-29 07:56] fmontesi commented on #92
@bmaschio Aside from convenience (code is shorter and sometimes cleaner), an important reason for using an inline tree is that you're not using a variable to store the tree, so after the communication is done  memory gets freed immediately.

Closing because duplicate of #8 , but feel free to continue the discussion there.

[2016-08-29 07:56] #92 closed

[2016-08-29 11:17] klag opened #93 "Bug in jolie.xml.XmlUtils elementsToSubValuesForStoring"
when an empty string node is transformed into a xml and then transformed back in a jolie value, it becomes a void field. test case:

include "console.iol"
include "string_utils.iol"
include "xml_utils.iol"
include "file.iol"

main {
   f.filename = "text.xml";
   f.format = "xml_store";
   f.content.p.c = "";
   f.content.p.d = "ciao";
   writeFile@File( f )();

   undef( f.content );
   readFile@

[2016-08-29 11:37] fmontesi commented on #93
Fixed by #94

[2016-08-29 11:37] #93 closed

[2016-08-29 18:51] fmontesi opened #95 "No test for courier processes, aggregation, redirection."
There's no test for courier processes in the directory `test`. Nor do I see aggregation and redirection. Am I missing something?

[2016-09-02 10:23] bmaschio opened #96 "HTTP protocol error Rest Soap UI Load test"
[testSoapUI.zip](https://github.com/jolie/jolie/files/454855/testSoapUI.zip)

[testSoapUI.zip](https://github.com/jolie/jolie/files/454942/testSoapUI.zip)

@fmontesi @klag

Hi guys

As I have said  before at @klag on the phone I am trying to run some load test for the db_connector, my testing set-up is the following
- Service with operation REST running  on window 7
- Operation implements a simple

[2016-09-06 09:06] fmontesi commented on #96
Is this specific for db_connector? If so, could you move the issue there?

@klag any ideas?

[2016-09-08 07:13] fmontesi commented on #82
@Ezbob sure, can you show us the interface (types) of that operation?

[2016-09-08 08:04] fmontesi commented on #82
I'm marking this as closed in the meantime, feel free to open a pull request for copy!

[2016-09-08 08:04] #82 closed

[2016-10-05 15:21] klag opened #98 "shortcut for internal services"
in case of an internal service with only a RR operation like the following one

interface TwiceInterface {
    RequestResponse: twice( int )( int )
}
service TwiceService {
  Interfaces: TwiceInterface
  main {
        twice( number )( result )
        {
            result = number \* 2
        }
  }
}

we could provide a shortcut like this one:

service twice( int )( int ) {
     result = number

[2016-10-06 08:06] fmontesi commented on #98
This was discussed in the original issue, IIRC, and spawned a discussion on the general syntax of RR operations in Jolie. (On the lines of: If we improve the definition of these services, why don't we also improve that of main?)

Question: where's number and result in your latter code? Did you mean `result : int`?

[2016-10-06 10:49] klag commented on #98
yes sorry, we should permit to define an inline interface:

service twice( .request:int )( .result:int ) {
result = request * 2
}

[2016-11-07 15:54] lanese opened #100 "Incongruences in fault catching"
I have done, together with @thesave  some experiments with system faults (i.e., not from throw) with strange results:

- fault IOException is caught by handler for IOException, but not by default
- fault CorrelationError is caught by handler for CorrelationError, and by default
- fault UnsupportedCommMediumException is caught by IOException, but only if the scope is not main
- we have not been abl

[2016-11-07 17:06] thesave commented on #100
I tried to compile a comprehensive example:

with scopes

- BLOCK 1 `UnsupportedCommMediumException` is caught by `IOException`;
- BLOCK 2 `UnsupportedCommMediumException` is caught by `default` as `IOException`;
- BLOCK 3 `ConnectionException` is caught by `IOException`;
- BLOCK 4 `ConnectionException` is caught by `default` as `IOException`.

without scopes

- BLOCK 5 `UnsupportedCommMediumExcep

[2016-11-08 16:20] lanese commented on #100
I can add that TypeMismatch is caught by TypeMismatch but not by default. Code example in attachment.
[interface.iol.txt](https://github.com/jolie/jolie/files/578715/interface.iol.txt)
[sender.ol.txt](https://github.com/jolie/jolie/files/578718/sender.ol.txt)

[2016-11-10 17:05] thesave opened #101 "Broken Pipe and Connection reset by peer when sending many connections"
Hi, I put together this **[example](https://github.com/jolie/jolie/files/583962/example.zip)** (server+client) to showcase to students the need for coordination when accessing global variables. The client cycles 10 times over a recursive procedure, each cycle launching 100 OW calls to the server.

However, the client always terminates with either a "broken pipe" or a "connection reset by peer" err

[2016-11-10 17:32] klag commented on #101
In my installation SO Linux/Ubuntu it works with no errors.

[2016-11-10 17:37] mawolf commented on #101
I had similar issues when doing performance testing on my macbook. Turned out to be relate to hitting the maximum number of open files (and thereby sockets).

[2016-11-10 18:14] bmaschio commented on #101
@thesave can you provide the sample code so i can try it on window and window server?
Thanks you

[2016-11-10 19:35] thesave commented on #101
Thanks for the quick replies!

@mawolf, you gave me a good hint :) but to me it seems that 1k connections (and not exactly concurrent) should not cause this behaviour. I recently did some stress-tests and my mac returned a `SocketException` (IRC, the exception due to exceeding the max number of open files) with more than 6k active connections (I continuously `watch`ed them with `netstat -p tcp | g

[2016-11-10 19:53] mawolf commented on #101
What does 'ulimit -a' show?

I will try to see if I can find the benchmarks. However, I remember 1000
sockets as giving me problems as well. Sadly I don't own a mac anymore
so I cannot verify. :-/

--
Martin Wolf

On Thu, Nov 10, 2016, at 08:35 PM, thesave wrote:

Links:

  1. https://github.com/mawolf
  2. https://github.com/mawolf
  3. https://github.com/klag
  4. https://github.com/bmaschio
  5

[2016-11-11 06:34] mawolf commented on #101
I just ran your example on my linux laptop without any problems. My output from ulimit -a:

[code]

[2016-11-11 07:23] fmontesi commented on #101
Runs without problems here too (Arch Linux, Linux 4.8.4).

Keep up digging! :-)

[2016-11-11 09:02] bmaschio commented on #101
I think I have the same problem under Windows

Microsoft Windows [Versione 6.1.7601]
Copyright (c) 2009 Microsoft Corporation. Tutti i diritti riservati.

C:\testJolie>jolie server.ol
100
missing: -1
98
missing: 2
100
missing: 0
100
missing: 0
100
missing: 0
100
missing: 0
97
missing: 3
99
missing: 1
45
missing: 55
99
missing: 1

Balint

[2016-11-11 13:49] fmontesi commented on #100
@thesave Have you tried debugging `ExecutionThread.Scope.getFaultHandler` with @lanese 's last example?

[2016-11-11 14:44] thesave commented on #101
@bmaschio if it does not show errors, it works as intended (there is no coordination on purpose :))

I also tested it under linux (I admit my laziness, I could have done it before bothering you) and everything runs smoothly.

The only relevant difference that I notice is that osx has a pipe size of 1 (i.e., 512 bytes) whilst linux shows a pipe size of 8 (i.e., 4096 bytes).

Unfortunately I could n

[2016-11-11 14:46] thesave commented on #100
I didn't. Next week I'll try to work on it.

[2016-11-12 16:55] mawolf commented on #101
@thesave
I have made two small java applications that simply open sockets.
[socket-test.zip](https://github.com/jolie/jolie/files/587336/socket-test.zip)

Could you try running the jar socket-test/target/sockettest-1.0-SNAPSHOT.jar ?

Run server like `java -cp sockettest-1.0-SNAPSHOT.jar dk.martin.test.socket.Server` and client like `java -cp sockettest-1.0-SNAPSHOT.jar dk.martin.test.socket.Clien

[2016-11-12 17:15] mawolf commented on #101
Also, if possible. Could you run your example while executing `lsof -r 1 > log.txt` and attach the log.txt?

[2016-11-14 13:33] bmaschio commented on #101
@mawolf

this on windows

[LogJolieSocket.zip](https://github.com/jolie/jolie/files/589415/LogJolieSocket.zip)

[2016-11-15 06:44] mawolf commented on #101
Thank you, @bmaschio! Now I just need to compare with @thesave. :-)

[2016-11-17 14:26] thesave commented on #101
Sorry for the late reply and thanks for the test, @mawolf :)

I run the code both with 1k and 100k as parameters. In the first case, the output is exactly like the one posted by @bmaschio so I do not double-post it.

In case of 100k, it crashes with `java.net.SocketException: Too many open files` slightly above the 10k-th call and (surprisingly) I could not increase the number of open files with `

[2017-01-22 12:47] Tiggles opened #103 "Space-character marked as "Illegal Character" in paths"
When the path to the folder containing the source code contains a space-character, this can lead to a java.net.URISyntaxException. In my case:

java.net.URISyntaxException: Illegal character in path at index 32: file:/Users/Jonas/Desktop/source code/common/type_registering.iol

I have attached a smaller version of my project, which will still give the error.

Jolie Version (built with ant):
Jolie

[2017-01-30 15:52] bmaschio opened #104 "@breakpoint annotation"
Hi everyone

I was talking the other day with @klag  about the need of having a break-point  mechanism to debug  i suggested the use of keyword  maybe with some kind of annotation such as

@breakpoint

this will be seen only when  jolie --trace name.ol
We could couple it with Atom and in some kind of way pipe it back to the editor
What you think  ?

[2017-03-20 18:25] bmaschio opened #107 "Flow typing"
@jolie/developers
Hi everyone i was thinking that could be cool to introduce the concept of warning in Jolie  for typos like the following

[code]

or staff like this

[code]

I am bashing at the wrong tree???

Balint

[2017-03-21 07:58] fmontesi commented on #107
That should be an easy enough visitor if you don't aim at being too precise. You'll have to be lenient, in the sense that sometimes you cannot know if a variable is initialised or not.

There's a recent MSc thesis that deals with becoming pretty precise, I'll ask the author to share it.

[2017-03-21 08:01] fmontesi commented on #104
I'm not fully convinced that this should be in the language. Isn't this usually just dealt with by the debugging tool? For example, by telling it that you want a breakpoint at line 50 or something like that.

[2017-03-21 08:01] fmontesi commented on #103
Is this still a problem in the latest Jolie?

[2017-03-21 08:02] fmontesi commented on #100
Any news on this?

[2017-03-21 08:02] fmontesi commented on #96
Hi all,

Nobody is discussing this. Is this still an issue?

[2017-03-21 08:03] fmontesi commented on #76
Is this still alive? Maybe it should be moved into a project of its own?

[2017-03-21 08:07] bmaschio commented on #76
Yes let's move it to a project or its own

[2017-03-21 08:08] bmaschio commented on #96
I will

[2017-03-21 08:21] bmaschio commented on #104
@fmontesi how would you pass a series of break point to the parser?  my idea was something like this
https://atom.io/packages/php-debug not sure how to go about it

[2017-03-21 08:22] fmontesi opened #108 "Better error messages from the parser and code analyser"
Hi @jolie/developers,

Our current error reporting system works, but is not very user friendly. Consider this program:
[code]

The extra semi-colon at the end is going to make `jolie --check` output:

[code]

# Problem 1

The stack trace of the Java exception is just scary and distracting. It should be optional, and the default should be not to show it. This suggests that we should have a few flag

[2017-03-21 08:23] #76 closed

[2017-03-21 08:27] fmontesi commented on #104
I would just edit all process implementations, e.g., `SequentialProcess`, such that they ask the interpreter permission to proceed (and possibly wait because of it) before taking the next step or iteration. Then, the interpreter does a simple check of whether a Debugger service has been attached. This should be a service, just like we do with monitors right now. (Actually, maybe we should just ext

[2017-03-21 08:40] bmaschio commented on #108
@jolie/developers,
Problem 1
We could have a --verbose parameters for "nerds" that like java style dump
Problem 3
I really like the idea of  json this will open the possibility of  developing web base developing tools

How can I help ?

[2017-03-21 08:48] bmaschio commented on #104
@fmontesi I like it the idea of expanding the monitor because if I am not mistaken  we can read the thread variable value. How would you handle multi threading and call chains  op1@micro1=> op2@micro2 => op3@micro3 ?

[2017-03-21 10:03] Tiggles commented on #103
I have built from sources using ant and now have the version "Jolie 1.6.0  (C) 2006-2016 the Jolie team".

It still is an issue on both macOS Sierra (10.12.3) and Ubuntu 16.04.2 LTS.

[2017-03-21 19:04] thesave commented on #100
Shamefully, I found no time to track that bug :(
Hope to find some in the next months.

[2017-03-22 09:43] fmontesi commented on #104
Multi-threading: That's a challenge, we should probably get some
inspiration from the debugger in netbeans. But basically, we'll have to
deal with the fact that multiple processes would be running at the same
time.

Call chains: Not sure what you mean. A debugger is attached to a single
service. If you want to debug another service, then it'll have its own
debugger attached. I'd think on how to co

[2017-03-23 15:01] bmaschio opened #109 "Jolie Lib need for a HTTP Client vs Output Port"
@jolie/developers

Hi all
In the last few days I have been trying to implement Auth2 protocol using this api provider

https://auth0.com/

My first approach was that of defining an interface representing the API exposed by the service as Jolie interfaces

[code]
And now it comes the difficult part what is the location of my service provider

[code]

the value Location: "socket://35.156.229.90:443/

[2017-03-24 08:14] fmontesi commented on #109
Hi Balint,

I don't understand your question, probably because I'm not familiar with what auth0 needs. What is this HTTP client that you're referring to, and what should it do differently than our output port?

[2017-03-29 20:16] fmontesi commented on #108
Hi Balint,

I think that a good starting point is proposing the flags for controlling the output, like getting the "verbose" error messages or the json format. Then, we need to update the parser such that it also returns column positions in its exceptions. Once that is done, we can start working on the JSON output.

[2017-04-16 17:56] thegraystreet opened #111 "XmlRpc response parsing"
Hi all

I was trying to implement a simple client with the Xmlrpc protocol, but when receiving the (correct) response form the server I always get the IOException "a value node may contain only one sub-element".

After a little bit of debugging I found that when the Xml of the response is indented, like the one below, the method parse() of DocumentBuilder creates many empty Nodes '#text'. As a con

[2017-04-16 19:47] fmontesi commented on #111
@klag the xmlrpc implementation uses a different codepath than the one used in soap, right? Can you have a look at this?

[2017-04-20 17:43] thesave commented on #100
Hi, I had some time to look at the bug. The problem is [here](https://github.com/jolie/jolie/blob/master/jolie/src/jolie/SessionThread.java#L206) (commented code) where the installation of two default handlers, one for TypeMismatch and one for IOException, (correctly) prevented the triggering of the `default` handler.

Since the two default handlers just printed a warning on screen, in this [branc

[2017-05-06 09:20] mwallnoefer commented on #20
@mawolf Is this subproject finished? Did we decide some syntax to use?

[2017-05-06 09:24] mwallnoefer commented on #68
I think we should close this, since in the meantime the Java 8-based Jolie interpreter became the mainstream version.
If I manage to reproduce it I will reopen!

[2017-05-06 09:24] #68 closed

[2017-05-24 09:36] klag opened #113 "put the jolie version into a separate file"
It is very important to read the current jolie version also from a file instead only by online command jolie --version.

[2017-05-25 14:17] fmontesi commented on #113
Why is this a bug? Is it available in other languages, e.g., Java?

Can you elaborate on the reasons? Are you trying to manage Jolie installations in an environment without java? What limits you from storing that information in the "manager"?

[2017-05-25 15:01] klag commented on #113
Because it is not actually possible to state the Jolie version by simply reading a file, but it is always necessary to run the command in the console.

[2017-05-25 18:38] fmontesi commented on #113
Still sounds like a new feature, not a bug. (You've just re-stated your initial comment.) I'm removing the "bug" tag for now.

[2017-06-23 14:14] oxxford commented on #108
Here is a list of all error messages. Choose, please, which of them should be replaced:
https://docs.google.com/document/d/1YDgByoVaUIEDqXhRMRjfuIfkBGIL2RsNvfz91fEkrZU/edit?usp=sharing

[2017-06-26 07:40] bmaschio commented on #108
@fmontesi  @oxxford

Hi

I had a look at the list some and I have put down down some of my suggestions.

In general my way of thinking is that we should try to give the user more "error localization " information possible. For example if the error is on a Outport port definition it would be nice to have something like

or in the case of Type Definition  Error

What do you think ?

Regards

Balint

[2017-06-26 07:53] fmontesi commented on #108
@oxxford: Thanks for the doc!
@bmaschio: definitely.

@oxxford and @bmaschio : Please try to think about suggestions/descriptions too when we encounter an error. I'm not 100% convinced we can give useful suggestions yet, but it'd be nice to see that on a couple of examples.

[2017-06-26 11:31] oxxford commented on #108
@fmontesi
I'm a bit confused about what exact suggestions should we provide. Isn't (for example) report "expected ;" comprehensive enough. For example, Intelij idea use similar reports. Could you please give a better example?

[2017-06-26 13:43] klag commented on #108
I think we should enhance the description in order to give hints to the developer to better understand the new programming paradigm. Think at the errors as a source of documentation. For example, in the classical case of a ; missing we usually get errors like:
: error: expected }. Found token type ID, token content...

Such a message is quite difficult to be intepreted by a newbie. Maybe something

[2017-06-30 07:36] bmaschio commented on #108
@klag
I agree with you on the need of explaining better the paradigm. I would not suggest to have it as output on the command screen.  This will force us to update the Jolie source code every time that we want to add more inclusive explanations. I world take the approach of refering the programmer to a page on the site so that we can start with a simple explanation and building up. Also it will be

[2017-06-30 09:28] klag commented on #108
I think we could have both. A brief hint from command line and an url to follow in order to get a more exhaustive explanation

[2017-07-03 09:05] oxxford commented on #108
I added suggestions you gave (they are marked green in the list) and did some my own suggestions (they are marked black in the list). Could you check if they are good enough to add it to the code ( you can mark it yellow if they satisfy your expectations)?

[2017-08-31 12:45] giaku opened #117 "Jolie copydir service at file library has a bug"
When I try to copy the content of a folder to another one the service crashes with the message "cannot find file". Here attached, the incriminated folder.

To reproduce the bug just try to copy  the content of target to another empty folder. It should fail with the error i mentioned above. If you then erase all the subfolders (maven-archive, generated-sources and so on) and then copy the content w

[2017-09-04 06:38] thesave commented on #117
It doesn't seem a Jolie bug, the code below works as expected --- no faults raised, both in case "copiedDir" is already present (empty) or created by the copyDir call. All the content of the "target" folder is correctly copied.

[code]

[2017-09-04 06:55] fmontesi commented on #117
@giaku Can you provide a minimal example code (like the one by @thesave) that reproduces the bug in your system?

[2017-09-04 08:31] giaku commented on #117
Hello, thanks for responding. I'm running it on ubuntu latest version on a docker virtual machine. Here my source code, as you can see I had to use a trick to avoid the error: since I don't really need those folders I delete them through a system call 'rm -rf' before copying the whole content of the folder.

Sorry I can paste just the snippet about this part:
` //Removing classes folder in target

[2017-09-04 10:43] fmontesi commented on #117
@giaku Are you running the latest version of Jolie, for reference?

[2017-09-04 15:20] giaku commented on #117
Yes, Docker container installs everything it needs at start time.
For completeness here his script regarding the Jolie installation:
        cd / && \
        git clone https://github.com/jolie/jolie.git && \
        cd jolie && \
	ant && ant install

[2017-09-05 06:56] fmontesi commented on #117
@thesave can you reproduce?

[2017-09-11 12:22] bmaschio opened #118 "Version 1.6.1 thread error"
Hi all
After the update to 1.6.1 I have some problems with processing HTTP port call

![image](https://user-images.githubusercontent.com/12083716/30274097-39cb99bc-96fc-11e7-8119-eec215309a20.png)

I am operating under windows 7 32 bit with java version "1.8.0_141"

I have done a downgrade to Jolie 1.6.0 and it works fine

Thanks
Balint

[2017-09-11 12:25] bmaschio opened #119 "Versione 1.6.1 error --version"
Jolie Version: 1.6.1
JVM Version: 1.8.0_151-b12
OS: Window 7

The version is not correct  jolie --version returns 1.6,0

[2017-10-05 18:12] bmaschio opened #120 "Aggregated port does not support referenced type??"
Hi guys
I get this strange error any idea?
GRAVE: C:\Users\maschio\Documents\GitHub\CRM\webapp\leonardo.ol:35: error: input port HttpWebPort is trying to extend the type of
operation writeDBContact in output port DbServicePort but such operation has an unsupported type structure (type reference or type
 choice)

Thanks
Balint

[2017-10-25 13:45] bmaschio commented on #108
@fmontesi  shell I pick up this

[2017-10-25 14:07] fmontesi commented on #120
Hi Balint,

Do you have a minimalistic example of this we can study?

Cheers,
F

[2017-10-27 10:01] fmontesi commented on #108
OK for me, but what about @oxxford . @lsafina what's the status on this?

[2017-10-29 16:33] bmaschio commented on #119
@fmontesi @jolie/developers
I think I found the problem

1. when you download the jar from the jolie site the file is named jolie-1.6.1.jar yet when you install it  gives you 1.6.0 when asked the version

2. If I clone the repository and install it using ant I get the correct version

I think we had some problem in the creation of the released

Thanks
Balint

[2017-10-29 19:11] bmaschio commented on #108
@fmontesi @jolie/developers

Hello everyone

I did an early attempt
I added  --outputType to the command parser possibilities

**jolie --check  --outputType json main.ol**

with the following result

ott 29, 2017 7:50:35 PM jolie.lang.parse.SemanticVerifier validate
GRAVE: Aborting: input file semantically invalid.
ott 29, 2017 7:50:35 PM jolie.Interpreter buildOOIT
GRAVE: {"filename":"C:\\TestJol

[2017-11-01 15:40] fmontesi commented on #108
Hi Balint,

Thanks for starting this! This kinda inspired me: shouldn't we make *all* log messages configurable like this? Currently all log messages (errors, warnings, etc.) by the interpreter are output by using a few internal loggers or the interpreter logging methods like Interpreter.logWarning.

So maybe we could:
- Make a JolieLogger interface with the methods we need, like logWarning.
- Whe

[2017-11-01 15:42] fmontesi commented on #120
Hi @bmaschio ,

This looks like a perfect opportunity to test our new guide: https://jolielang.gitbooks.io/developer-guide/content/reporting-bugs.html

Could you try to convert this bug to follow the guidelines? :-)

Cheers,
F

[2017-11-02 08:56] klag commented on #108
I think it sounds good. I also like the idea to list all the available errors as in the attempt of oxxford.

[2017-11-02 09:46] thesave commented on #108
Sounds good also to me and in line with the current effort to output `--trace`s in convenient formats (e.g.,  project [jtracer](https://github.com/VincenzoMattarella/jolieJTracer) and its [companion visualiser](https://github.com/VincenzoMattarella/jtracer-1) by @VincenzoMattarella, soon to be merged within the official Jolie repos).

[2017-11-02 10:11] fmontesi commented on #108
Yes. My vision is that everything will converge into a single logging
facility, for both tracing and error messages, where we just use tags to
distinguish them. Even monitoring could converge in all this!

Cheers,
F

On Thu, Nov 2, 2017 at 10:46 AM, thesave <notifications@github.com> wrote:

[2017-11-02 18:27] bmaschio commented on #120
@fmontesi
The method 1 programmer 0 Can not replicate the error must have been something silly on my part

Cheers

Balint

[2017-11-02 21:33] bmaschio commented on #108
@fmontesi @jolie/developers
I had a look at some stuff
In the Interpreter class, a standard logger (log4j) the different level of logging are rapped by some public methods

1. public void logSevere( String message ) => logger.severe( logPrefix + message );
2. public void logSevere( Throwable t ) => for logging Throwable.

Now I imagine that @fmontesi  idea was to substitute the logger object  with

[2017-11-03 08:29] bmaschio commented on #119
@thesave

Any Idea on this?

[2017-11-03 14:31] thesave commented on #119
Correct, just downloaded and installed 1.6.1 from here [1] and it prints out 1.6.0.
As you said, probably it was just a typo when preparing the release.
@fmontesi what do you think? Shall we just replace the .jar of 1.6.1 with the correct `--version` or is it better (e.g., clearer/more consistent) to create a new release with some recent fixes the correct value, e.g., a 1.6.2?

[1] https://github.

[2017-11-06 08:03] fmontesi commented on #120
It's "fixed" for now then. :-) Feel free to reopen it if it happens again.

Cheers,
F

[2017-11-06 08:03] #120 closed

[2017-11-06 08:13] fmontesi commented on #119
We're due for a release anyway, so I published 1.6.2. Enjoy. :-)

[2017-11-06 08:13] #119 closed

[2017-11-06 08:15] fmontesi commented on #118
Hi Balint,

Please apply https://jolielang.gitbooks.io/developer-guide/content/reporting-bugs.html and then reopen the issue.

Cheers,
F

[2017-11-06 08:15] #118 closed

[2017-11-06 08:16] fmontesi commented on #117
Hi all,

Any news? In case this is still an issue, please apply https://jolielang.gitbooks.io/developer-guide/content/reporting-bugs.html and then reopen the issue.

Cheers,
F

[2017-11-06 08:16] #117 closed

[2017-11-06 08:21] fmontesi commented on #111
Hi @thegraystreet and @klag

Any news? In case you need help by others, please apply https://jolielang.gitbooks.io/developer-guide/content/reporting-bugs.html

Cheers,
Fabrizio

[2017-11-06 08:25] fmontesi commented on #108
Hi Balint,

Precisely!

To discuss the API that our Logger should have, I think we need an example for each each "class" of logs. Or, in other words, we need to figure out what's inside a LoggerMessage as you wrote in your API.

I can imagine at least a few classes of messages:
- Uncaught faults;
- Runtime interpreter errors (e.g., problems with sockets, out of memory errors, etc.);
- Monitoring/t

[2017-11-06 08:29] fmontesi commented on #109
Hi @bmaschio
Is this still relevant? I recall you did something with 0Auth already, so maybe it's not useful anymore? Please reopen if I'm wrong.

Cheers,
F

[2017-11-06 08:29] #109 closed

[2017-11-06 08:31] fmontesi commented on #103
Hi @Tiggles

Could you apply https://jolielang.gitbooks.io/developer-guide/content/reporting-bugs.html for reproducing this thing with a minimal test that we can use? Please reopen the issue once it's done.

Cheers,
F

[2017-11-06 08:31] #103 closed

[2017-11-06 08:34] fmontesi commented on #96
Closing this for now since I cannot reproduce it, please reopen if still relevant.

[2017-11-06 08:34] #96 closed

[2017-11-06 08:36] fmontesi commented on #90
Hi all,

Any news on this?

Cheers,
Fabrizio

[2017-11-06 08:36] #83 closed

[2017-11-06 08:38] fmontesi commented on #77
Hi all,

This seems fixed. Please open another issue in case you want to discuss better error reporting.

Cheers,
Fabrizio

[2017-11-06 08:38] #77 closed

[2017-11-06 08:41] fmontesi commented on #34
This is now being solved as part of the Jolie Package Manager project.

[2017-11-06 08:41] #34 closed

[2017-11-06 08:42] fmontesi commented on #32
Closing this for now, please apply https://jolielang.gitbooks.io/developer-guide/content/reporting-bugs.html and reopen the issue in case it's still relevant.

[2017-11-06 08:42] #32 closed

[2017-11-06 08:43] fmontesi commented on #36
Hi both,

Closing this for now, since it's more related to a new project. Please feel free to renew it on the Mailing List in case you'd like to find some help.

Cheers,
Fabrizio

[2017-11-06 08:43] #36 closed

[2017-11-06 09:31] thesave commented on #108
@bmaschio yep, to support logging in JSON @VincenzoMattarella had to modify a few classes of the interpreter, e.g., to read and enable logging from console commands and to route and convert log messages - @VincenzoMattarella feel free to correct me or add details if necessary.

As you say, the next step for jtracer is to become an optional module hooked to the logging API provided by the interpret

[2017-11-06 11:02] thesave commented on #90
It's been quite some time :)

From what I recall my point was more on having some syntactic sugar to better structure code.

Tentatively, syntax

[code]

means that expression `e` is matched against expressions `e_1`, ...,` e_n` where the matching operation is defined by the respective operators `o_1`, ..., `o_n`. When operator `o` is omitted we default to `==`. From top to bottom, the first match

[2017-11-07 21:34] bmaschio commented on #108
@thesave
I had a look at @VincenzoMattarella  good work and I have few questions on how to proceed
in @VincenzoMattarella work the CommandParser
[code]
Fondamentally he defines a new options for the --trace command --trace:json
If we want to proceed this way i think it may result to a prolifaration of command options ex

1. --trace:xml
2. --trace:normal
3. --check:json
4. --check:normal
5. --check

[2017-11-08 08:39] fmontesi commented on #108
Hi @bmaschio

# Ad the command line options

I don't have a specific proposal in mind yet, but I would try to see if we can centralise everything in a single command (or two, one for output format and the other for what to log).
Here's a possible syntax: `--log:<FORMAT>:[list of WHAT]`
Here's an example: `--log:json:trace,faults`

One could then use it multiple times if different formats are wishe

[2017-11-08 09:52] bmaschio commented on #108
@fmontesi

- Yes but it derives from the context.sourceName() maybe I am wrong but would be not better to abstract as much as possible, see it as LoggerMessage Emitter  instead of  filename

- Message is the code errorCode E001 that can be used to then compose http://jolielang.help.com/ErrorCode= 10

- Perhaps no all messages have data?

- Yes we should LoggerMessage.Type enumeration very good ide

[2017-11-08 10:07] fmontesi commented on #108
@bmaschio

1. OK, so we could have a `String source()` method. This sounds related to the `logPrefix` field used by the interpreter. Maybe that's the source, and we don't need one in the LoggerMessage interface, it just gets added by the interpreter in the output log. Thus I'm not entirely convinced we need one yet.
2. Mmh, so you want that *all* log messages to have a link that points to an expla

[2017-11-17 14:33] bmaschio commented on #108
@fmontesi
Sorry, @fmontesi  I have been super busy with work I have created some classes to implement some of my ideas.

- LogMessage contains the logMessage
- AbstractLogger this is an abstract class that will allow implementing our specific logger classes.
- StandardLogger implements writeLogger as we like
- AbstractLogger has method like pushLog() flushSevere()  flushWarning() flushTrace() that

[2017-11-20 07:27] fmontesi commented on #108
Hi Balint,

- Why should we have the lists and flushes?
- Why is there the loggerLevel field in the logger? It seems unused.

Cheers,
F

On Fri, Nov 17, 2017 at 3:33 PM, Balint Maschio <notifications@github.com>
wrote:

[2017-11-20 08:17] bmaschio commented on #108
@fmontesi

- we could think to have a single point of printing at the top level and play with the tabs or json subdocument to give a sense of chain of events

- Do you mean in the loggerMessage?

Cheers
B

[2017-11-24 15:31] bmaschio opened #122 "Incoherent use of @ in valueToXml"
@jolie/developers

to express an xml node attributes we use the notation ```@Attributes```
Now let's imagine that we want to implement a service that

[code]
where DocumentType may need to contain ```Attributes``` information, at the moment this is impossible because violates the parser constraint: would not be better using something like ```$Attributes``` or not jolie or any not Jolie key tokens

[2017-11-24 15:34] fmontesi commented on #122
@klag Wasn't it possible to write strings in node names in types, like `."@Attributes": AttrType` ?

Is it documented?

[2017-11-24 15:48] klag commented on #122
I remember I fixed it

try this:
include "console.iol"

type Tex: void {
  .test: void {
      ."@Att": string
  }
}

main {
  a.test.("@Att") = "ciao";
  println@Console( a instanceof Tex )()
}

[2017-11-24 15:51] fmontesi commented on #122
OK, then we need a test to go forward. @bmaschio : https://jolielang.gitbooks.io/developer-guide/content/reporting-bugs.html

[2017-11-24 15:56] klag commented on #122
but it works

[2017-11-24 16:00] fmontesi commented on #122
It doesn't for Balint apparently (forgot to say that, he told me via chat), so we need to know why.

[2017-11-24 16:13] bmaschio commented on #122
@fmontesi @klag it works under 1.6.2

Yet is not explained anywhere in the documentation

[2017-11-24 16:15] klag commented on #122
Try with jolie 1.6.2

[2017-11-24 16:19] bmaschio commented on #122
Done it works
on the documentation is missing completely any  reference closing this

[2017-11-25 18:27] fmontesi commented on #122
Might be undocumented then, as I suspected.

I'm closing this. Feel free to open a bug or a pull request (seems rather easy to document) here: https://github.com/jolie/docs

[2017-11-25 18:27] #122 closed

[2017-11-27 23:11] bmaschio commented on #108
@fmontesi

{"Level":"SEVERE","ErrorCode":"ParsingError","data":{"line":"12","sourceName":"C:\TestJolie\main.ol","message":"Communication protocol extension for protocol sodep not found."}}

how does it look?

[2017-11-28 14:40] fmontesi commented on #108
Very good. :+1:

In your example, the usefulness of the error code is unclear. Maybe we should remove it, since a generic "ParsingError" web page would not be very helpful. I would keep lowercase letters for all fields, for consistency.

[code]

[2017-11-28 14:43] fmontesi commented on #108
Very good. :+1:

In your example, the usefulness of the error code is unclear. Maybe we should remove it, since a generic "ParsingError" web page would not be very helpful. However, "ParsingError" may make sense as a type. The one you have in there is not really a "parsing" error though (it's not related to parsing), we need to find a better name (`ProgramError` ? not too happy about that either..

[2017-11-28 15:23] bmaschio commented on #108
@fmontesi
My implementation has intercepted the error on the 'catch' part of the code when the exception has already been fired. Perhaps we could consider adding a LogMessage to each exception so to be more near to the source of the error.
[code]
What you think

B

[2017-11-28 15:36] fmontesi commented on #108
Mmh I don't understand. Can you show me an example of what a code might be?

- F

[2017-11-28 21:02] bmaschio commented on #108
@fmontesi
Here an example of my implementation at AggregatedOperation.java

[code]
The value contained in LogMessage is limitated to the information that i can retrive from 'TypeCheckingException'
Now if 'TypeCheckingException'  would implement the following interface
[code]
we could enrich the 'TypeCheckingException'  with details like  an errorCode each time that used

Cheers
Balint

[2017-12-12 11:44] DavideRossi opened #123 "WSDLs generated with jolie2wsdl contain wrong transport attribute"
As per the specs (https://www.w3.org/Submission/wsdl11soap12/) the value of the transport attribute in the binding element for HTTP is http://schemas.xmlsoap.org/soap/http, jolie2wsdl produces http://schemas.xmlsoap.org/soap/http/.
Some tools (notably Java's own wsimport) complain (rightfully so) about that.

[2017-12-12 11:48] fmontesi commented on #123
Fixed in master.

[2017-12-12 11:48] #123 closed

[2018-01-12 11:21] jacopoMauro opened #124 "JSON parsing error: {} converted into 'null'"
To convert a JSON string output_string into a JSON value I use the following code:

output_string.strictEncoding = true;
getJsonValue@JsonUtils(output_string)(response);

The problem is that while trying to convert the string '{"dead_features": {}, "false_optionals": {}}' into a JSON value I get in output the following JSON object  {"false_optionals":null,"dead_features":null} even if I require a

[2018-01-13 20:38] mwallnoefer commented on #124
I have looked into this and it's not so easy to fix. Let me explain:

I hope that you have some knowledge about the internal Jolie value representation (reference: https://docs.jolie-lang.org/documentation/basics/data_structures.html). A Jolie value has a root which may be defined or not (_null_) and then zero or more children which are other Jolie values respectively arrays.

This construction ha

[2018-01-14 11:14] klag commented on #124
Matthias is right. In Jolie a void is transformed into a null in JSON. I think it is the good default choice because there is a native correspondance between two types.

We could mitigate this issue by introducing a special subfield key which allows to transform a void into an empty object.

if

a.c = Void  (where Void in a Void variable)

is transformed into
{ "a":{ "c":null }}

a.c._EMPTYOBJECT

[2018-01-15 06:28] fmontesi commented on #124
Mmh, a tough one... there's no good answer to whether a Jolie `void` should be a `null` or `{}`. We chose `null` because it seems to be used a lot. But `null` does not exist in Jolie, and `void` is actually `{}` (empty value/object). If you look at how typing works in Jolie and other languages, it is quickly revealed that Jolie has no `null`, since `null` is something that implements any object ty

[2018-01-16 13:24] jacopoMauro commented on #124
As a user, what is important for me is that if I convert the string into a JSON object and then the JSON object into a string I will get the same string I was starting with.
Whatever solution will be able to achieve that will be fine.

[2018-01-16 14:52] klag commented on #124
The problem here is to have a valid transformation in both directions.
If A is a JSON string and B a value tree in jolie, we should have:

[code]

and viceversa

Even if at the beginning I though it was better to keep the transformation void <-> null, now I changed my idea and I think that, maybe, the right solution is to have
`void -> {}`
and `"$JSON_NULL" -> null `  (where "$JSON_NULL" is a cons

[2018-01-22 12:42] jacopoMauro commented on #124
Works for me, assuming that the choice is well documented.

[2018-02-22 18:54] bmaschio opened #125 "HTTPS machine Killer"
Hi all @jolie/developers
I have noticed with https in jolie

Some general info

Jolie Version : 1.6.0
Java Version : Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
OS : Linux / WIndows

My port looks like
[code]
the first one is that I get some termination  with a GET

https://localhost:14001/js/jquery-1.12.2.js

![image](https://user-images.githubusercontent.com/12083716/36557077-843eae62-

[2018-02-23 08:09] fmontesi commented on #125
Hi Balint,

Can you produce a test, per https://jolielang.gitbooks.io/developer-guide/content/reporting-bugs.html, or at least a minimal example that reproduces this bug with the latest version of Jolie?

Cheers,
F

[2018-02-23 08:40] fmontesi commented on #124
Mmh, we still have some work to do. I agree that using a "null" node (`_EMPTYOBJECT`) would pollute the data structure. But unfortunately, so would `"$JSON_NULL"` when interacting with another protocol!

Imagine:

[code]

So at the very least we need to adopt a consistent way of dealing with "null" for *all* of our transformers.

Looks like we're not alone fighting this:

https://stackoverflow.com

[2018-02-23 09:41] bmaschio commented on #125
@fmontesi

Hi have created a brunch Error125 with the example

/test/extensions/leonardo_https.ol

I did not get the ERROR_CONTENT_LENGHT I believe due to the simplicity of the example, when I was reporting was more a complex web project with more link and resources.

But I manage to reproduce the killing behavior  ( the server does not respond after the first round of HTTP get)
Cheers
Balint

[2018-02-23 11:48] fmontesi commented on #125
Hi Balint,

I cannot run your test (see below). You can find help/instructions and a template here: https://jolielang.gitbooks.io/developer-guide/content/tests.html

[code]

[2018-02-23 12:12] bmaschio commented on #125
@fmontesi

yea ok how would you test the default operation in a HTTPS?

Balint

[2018-02-23 14:11] bmaschio commented on #125
@fmontesi

I tried to do it I have some problems with it

- I have added am output port to the file /extensions/https.ol

[code]

- After I added the embedding

[code]
And here is where I started to have some problems with it I keep getting operation not defined in inputPort

[code]

If I do this I get a generic SSL error

Help!!!
Balint

[2018-02-24 08:59] fmontesi commented on #125
Hi Balint,

You're almost there. You just need an alias in the output port of the
client. You want to alias default to "jquery-1.12.2.js" and to use "get" as
method.

However, I'm not so sure that what you're testing here is different than
what `server.ol` is already testing for (notice that it contains an HTTPS
test), aside from the fact that the content of the message comes from
reading a file,

[2018-02-26 07:50] bmaschio opened #126 "sb!"

[2018-02-26 07:50] #126 closed

[2018-02-27 14:16] bmaschio commented on #125
Hi @fmontesi
Still having problems I have defined the alias on the caller Output Port

[code]

in the called service

[code]
and I keep getting
AVVERTENZA: [leonardo_https.ol] Received a message for operation default, not specified in the input port at the receiving service. Se
the caller.

[2018-03-02 11:31] bmaschio commented on #125
@thesave
I need a bit of help on this
Cheers
Balint

[2018-03-07 16:07] thesave commented on #125
Hi @bmaschio, I started working on this.

I found the "killing" behaviour is due to an infinite loop between the UNWRAP and BUFFER_UNDERFLOW statues in the SSL handshake. I wrote a patch (in my local copy, for the time being) and it works.

However it seems we have some problem handling "big" files over HTTPS, i.e., the tiny HTML page in your example transfers correctly as well as the included CSS

[2018-03-08 08:41] bmaschio commented on #125
Hi @thesave
How can I help?

cheers

Balint

[2018-03-09 10:51] bmaschio opened #128 "Unbundle CommandLineParser from Interpreter"
Hi all @fmontesi @jolie/developers

After my conversation with @fmontesi  I started to work on the separation of the CommandLineParser from the interpreter as preliminary work for #108
The first step is to create a Class CommandLineOptions containing all options already present in current CommandLineParser

[code]

Now the  **CommandLineParser** will look something like

[code]

then the Interpret

[2018-03-09 14:26] fmontesi commented on #128
Excellent! :-)

But I cannot comment on each line like this, I'll provide line-by-line comments when you make a pull request.

Cheers,
Fabrizio

[2018-03-22 12:50] thesave commented on #125
Hi @bmaschio, [this commit](https://github.com/jolie/jolie/commit/1d2a46056b86c7507f9c9dd05a350840f632d4c2) should fix the misbehaviours you were experiencing.

Can you please confirm if the issue has been resolved?

[2018-03-23 20:28] mwallnoefer commented on #125
The commit was merged also into the _java6_ branch, since it is a pretty fundamental issue. Thanks Saverio for your deep investigation.

[2018-04-17 16:26] ojoaofernandes opened #130 "Error on concurrent execution (following documentation)"
Hi all,

First of all, congratulations for the work, Jolie is really amazing :smiley:.

I reproduced the _PercentService_  example from the _Communication Ports_ section of the documentation, however I had a problem in the following section _Processes_.

I added the _execution_ primitive and setting it as _concurrent_, however the service does not start and the following error is shown in the cons

[2018-04-18 08:11] thesave commented on #130
Thanks @ojoaofernandes for spotting the error and to @fmontesi for the fix.
I integrated it in the documentation.

[2018-04-18 09:08] fmontesi commented on #130
Thanks!

Case closed then.

[2018-04-18 09:08] #130 closed

[2018-04-18 15:42] ojoaofernandes commented on #130
Thanks guys, it is working now.
Glad to help.

Cheers,
João Fernandes

[2018-06-01 09:08] the-lost-explorer commented on #21
Did you manage to address this error? #23 doesn't seem to answer! Please help, I have the exact same issue during load testing of my gwt application. The ubiq load test plugin doesn't seem to convert xml back to gwtrpc.

[2018-06-07 13:46] fmontesi commented on #21
@the-lost-explorer Can you share a stack trace?

[2018-06-13 16:41] fmontesi commented on #125
@jolie/developers Can we close this?

[2018-06-13 17:45] mwallnoefer commented on #125
@fmontesi : I have been waiting for @bmaschio, but yes I think that you can close it.

[2018-06-13 19:47] fmontesi commented on #125
I'm closing it for now then. @bmaschio feel free to reopen if it appears again.

[2018-06-13 19:47] #125 closed

[2018-06-13 20:08] fmontesi commented on #101
Does this still happen with the latest (git) version?

[2018-06-13 20:10] fmontesi commented on #100
@thesave Can you separate this fix from the casting work? We should discuss the two issues separately. If the casting work is ready for review, can you open a (separate) pull request for that?

[2018-06-22 10:05] bmaschio opened #136 "Error on jolie --check"
@jolie/developers
Jolie version 1.6.0

I have found a strange error

[code]
when i run Jolie --check i get

C:\GitHub\db_connector\db_manager\db_services\Fatture_Test_handler_service\test>jolie --check test.ol
jolie.lang.parse.ParserException: C:\GitHub\db_connector\db_manager\db_services\Fatture_Test_handler_service\test\test.ol:14: error: ex
pected }. Found token type ID, token content ?replaceA

[2018-06-22 11:02] fmontesi commented on #136
Works fine here, if I include "string_utils.iol" and remove the last semicolon. In any case, I cannot get your error. Have you updated Jolie? I'm closing the bug for now in the meantime.